[2022-05-10 11:56] karsa-mistmere commented on #407
I think it should still be feasible. Building separate styles should simply boil down to the build flow manipulating elements based on classes / custom attributes.

[2022-05-11 08:40] karsa-mistmere opened #669 "Representing categories"
@ericfennis: should we really add categories as a concept, how do you think it should be represented in the data layer?
Possible alternatives I see:

### 1) Categories could just be "special" tags - special in the way, that we'd designate some tags as categories and store their data in a separate `categories.json` file:
[code]
or
[code]

**Pros:**
- pretty easy to set up and maintain (at least fro

[2022-05-14 18:41] ericfennis commented on #659
@lkj4 Yes you can, you can use css for it, like @karsa-mistmere mentioned.
I created a CodeSansbox for you, check App.css.
The `.lucide` class is set on every lucide icon, so that one can use to style the icons.

https://codesandbox.io/s/svelte-style-with-rem-wdmozc

[2022-05-14 18:41] #659 closed

[2022-05-15 06:52] mittalyashu commented on #651
My thoughts

![CleanShot 2022-05-15 at 12 18 07](https://user-images.githubusercontent.com/29014463/168460862-01dd2a3d-50c2-4e1c-98d0-b7d6067d0bd2.png)

**1st icon**

* The length of the tail is big.

**2nd icon**

* I think we should decrease the distance of the pins by `1px` or `2px`

**3rd icon**

The icon does looks good, but it gives the retro/old feeling _(like the one's used in 90's)_

[2022-05-15 07:18] mittalyashu opened #670 "We're not accepting new Brand icons"
Thank you for considering to add a new brand/company icon to Lucide. We're no longer accepting new brand icons.

**To know more:** https://github.com/feathericons/feather/issues/763
**We recommend using:** https://github.com/simple-icons/simple-icons

[2022-05-15 07:18] mittalyashu commented on #670
@ericfennis Can you please pin this issue?

[2022-05-15 07:18] mittalyashu commented on #638
Sorry for burst the bubble.

But, https://github.com/lucide-icons/lucide/issues/670

[2022-05-15 07:29] karsa-mistmere commented on #651
As for the 3rd: in quite a few parts of the world (I think pretty much all of mainland Europe) almost all electric plugs (apart from phone charger adapters etc) look exactly like this to this very day.

[2022-05-15 07:50] mittalyashu commented on #649
@ericfennis As for the performance issue for loading all the icons.

We can fetch the icons using an internal API and using pagination. That could resolve the issue.
And since, we're already using Vercel, they'll handling the cacheing of API response.

[2022-05-15 09:12] hornta opened #672 "Backspace icon"
## Icon Request

* Icon name: backspace
* Use case: For on-screen keyboards like wordle games:
![image](https://user-images.githubusercontent.com/4553604/168465582-76f762bb-6a9f-468b-a4ba-e042403ba4b6.png)

* _Screenshots_ of similar icons:
![image](https://user-images.githubusercontent.com/4553604/168465597-38967178-28b6-4ac2-91eb-95eb5a984117.png)

[2022-05-16 08:36] karsa-mistmere commented on #672
There already is a [`delete`](https://lucide.dev/icon/delete) icon! :)

[2022-05-16 10:43] ericfennis commented on #672
@BinaryKitten good idea!

[2022-05-16 10:44] #672 closed

[2022-05-16 10:57] hornta commented on #672
Great, thanks :)

[2022-05-16 11:18] BinaryKitten commented on #672
thanks for the kudos - not sure why i got it though.

good idea @hornta  :+1:

[2022-05-17 07:55] karsa-mistmere commented on #606
Here are the latest drafts. I think the best solution may very well be the simplest?...
![image](https://user-images.githubusercontent.com/17746067/168759431-663717a4-e803-48ec-bb99-bb0aa8e8e4e0.png)
![image](https://user-images.githubusercontent.com/17746067/168759479-b20170c3-1a7e-4aae-8d8f-d43b1028045c.png)

[2022-05-18 13:35] #613 closed

[2022-05-18 13:37] ericfennis commented on #330
closed by #639

[2022-05-18 13:37] #330 closed

[2022-05-21 19:34] SnoutBug opened #679 "[Icon Request] Spline/Curve"
## Icon Request

* Icon name: Spline/Bezier Curve
* Use case: When wanting to draw a spline or curve
* _Screenshots_ of similar icons:
Blender: ![Blender](https://user-images.githubusercontent.com/71790678/169666501-b8d7fba7-5927-4374-adff-effd23c10090.png)
Libre Office: ![Libre Office](https://user-images.githubusercontent.com/71790678/169666486-1ff0ab50-d1eb-46f5-a9ce-447d8b4e1d89.png)
Inkscape:

[2022-05-22 09:00] #603 closed

[2022-05-22 09:00] #600 closed

[2022-05-22 09:02] #596 closed

[2022-05-22 09:03] #529 closed

[2022-05-22 09:04] #620 closed

[2022-05-22 09:42] ericfennis commented on #669
@karsa-mistmere First of all, thanks for researching and providing detailed results. Great work.

I think I agree with you, 2.3 is I think the best solution. Also very straight forward if you adding a new icon.
Only problem what see is that not everyone will define "new" categories, like adding new tags.
But we can find a solution for that when implementing this in the website.

Maybe we can also

[2022-05-22 09:45] #640 closed

[2022-05-23 07:23] karsa-mistmere commented on #679
How about?
![image](https://user-images.githubusercontent.com/17746067/169765423-ef608c12-1883-46ff-9398-77f1ca51dd8c.png)
![image](https://user-images.githubusercontent.com/17746067/169765439-1a708032-58d0-451b-88a3-81077a4462a2.png)

[2022-05-23 13:35] SnoutBug commented on #679
I don't know how to describe this, but it looks a tad too spacious to me
maybe something more like this?
![image](https://user-images.githubusercontent.com/71790678/169830249-d40fa58d-d41d-488c-b095-d6087e41e327.png)
![image](https://user-images.githubusercontent.com/71790678/169827635-5378c008-d4ef-41e5-9480-d4d2f92da83a.png)
![image](https://user-images.githubusercontent.com/71790678/169830094-9

[2022-05-23 13:49] karsa-mistmere commented on #679
Dunno, they look pretty funky on 100% because of they're off grid.
How about?
![image](https://user-images.githubusercontent.com/17746067/169834066-9a766c7f-a98a-4286-a148-bf440d3d6230.png)
![spline](https://user-images.githubusercontent.com/17746067/169834131-028940be-9de9-4d76-9f8c-5f6da22c2b55.png)

[2022-05-23 14:14] SnoutBug commented on #679
That looks nice!

My last try without the .5px funkiness
![image](https://user-images.githubusercontent.com/71790678/169838165-36731e0c-d908-4232-a4cd-c4d3cbf8b52d.png)
![image](https://user-images.githubusercontent.com/71790678/169839297-0568e5bc-dc8b-42ea-ba74-c88d5ac55a7a.png)

[2022-05-24 06:26] ericfennis commented on #607
Hmm, Can you post the svgs of the first you submitted. I want to try something.

[2022-05-24 06:26] ericfennis commented on #602
Yeah I think the printer will work fine for the people who still needs an fax icon.

[2022-05-24 06:26] #602 closed

[2022-05-24 06:43] karsa-mistmere commented on #607
I put all my drafts in this Figma file: https://www.figma.com/file/HGBdDhJfh7VQMrykh3zKFJ/lucide%2Fnewspaper?node-id=0%3A1

[2022-05-24 07:35] karsa-mistmere commented on #669
@ericfennis: A JSON schema would be amazing to have, especially for those of us who use some kind of proper IDE to edit the code.

IMHO adding a category directly because of a new icon should be discouraged anyway. I think we could instead add a new issue template for category requests and of course periodically inspect if a new possible category arises based on icons added.

[2022-05-24 16:32] pcout opened #683 "Hotel related icons"
Can you please add hotel related icons ?
Thanks.

[2022-05-24 17:12] karsa-mistmere commented on #683
@pcout: Can you please provide a list and use cases?

[2022-05-25 14:45] pcout commented on #683
Well, I was hoping all the related features an hotel has.
I've attached some examples found in a quick google search.
Thanks.

![image](https://user-images.githubusercontent.com/687515/170289729-4b9f79ac-caca-4da4-9afc-5b7f917242df.png)
![image](https://user-images.githubusercontent.com/687515/170289877-995e1b3e-5084-495b-b6c9-4d27ffc6deb8.png)
![image](https://user-images.githubusercontent.com/68

[2022-05-25 17:58] ericfennis commented on #683
@pcout Could be nice to have list to work with. Also to check which icons are relevant for the icon set. We can't just add them all. Some are too specific.

[2022-05-25 22:38] pcout commented on #683
Here a list. We can think of more.
-------------------------------------------------------------------------
Hotel
Guest (man)
Guest (woman)
2 guests
2 ou more guests
Baby
Child
Reception bell
Receptionist
Clock
Mini fridge
Bathtube
Bath cabin
Lamp(s)
Room key
Key card
Single bed (front view)
Single bed (side view)
King size bed (front view)
King size bed (side view)
Door sign
AVAC
Air conditioner

[2022-05-26 06:39] karsa-mistmere commented on #683
These ones we already have, I believe:
- [x] Hotel: not sure if adding a separate hotel icon is feasible, probably just use [`building`](https://lucide.dev/icon/building) or [`building-2`](https://lucide.dev/icon/building)
- [x] Guest (man/woman): just use [`user`](https://lucide.dev/icon/user), there's an [ongoing discussion](https://github.com/feathericons/feather/pull/46) about adding gender ic

[2022-05-26 10:55] karsa-mistmere opened #684 "Icon request: baby"
## Icon Request

* Icon name: baby
* Use case: see https://github.com/lucide-icons/lucide/issues/683
* Screenshots of similar icons:
![image](https://user-images.githubusercontent.com/17746067/170470632-537f6714-4163-49b1-9807-f50c65e1c502.png)

![image](https://user-images.githubusercontent.com/17746067/170470827-141a75eb-3fbe-4f2c-95bb-8ef66756ea21.png)
![babies](https://user-images.githubuserco

[2022-05-26 11:13] karsa-mistmere commented on #669
@ericfennis: I've started working on the JSON Schema, and if we do implement one we have the possibility to make category references actual references, this way they would be schematically validated, e.g.:

[code]

Do you think this is preferable, or should we do category validation as part of a pre-commit hook and keep the json simpler e.g.?

[code]

[2022-05-26 13:06] Taimar commented on #616
Suggesting a few modifications:
- If the two sails are distinguished from each other by their size (which means the boat now has a moving direction from right to left), I feel it would be nice to distinguish the front and the rear of the boat as well. The front is pointier, the rear is usually dull or flat.
- I also adjusted the size of the larger sail to have nicer proportions.

<img width="480"

[2022-05-26 15:44] karsa-mistmere commented on #683
Here are a few ideas for some of the icons:
![image](https://user-images.githubusercontent.com/17746067/170523050-ed0c9de7-7161-44dc-b4d9-1330572e7d2f.png)
![hotel](https://user-images.githubusercontent.com/17746067/170523157-558b73bc-00e5-4a54-9144-3c7d019fcf9e.png)

I'm not sure we need this many lamps though. :D

[2022-05-26 16:10] ericfennis commented on #669
@karsa-mistmere Awesome work!
If I understand the specification you can add `$schema` property in the top. Then we can write the rest just like we want.
The schema json we can place in the public directory: `site/public/tags-schema.json` Then the json file will be public on `https://lucide.dev/tags-schema.json`.

[2022-05-26 17:51] karsa-mistmere commented on #669
@ericfennis: Nah, never mind, unfortunately the `$ref` references aren't actually validated, unless you're editing a JSON Schema schema file. Anyway, here's what I have so far: https://github.com/karsa-mistmere/lucide/tree/categories

Some stuff that I want to do:
- [ ] Add a script that validates icon and category references within the `icons.json` file, this should in practice be added as a pre-

[2022-05-27 09:21] pcout commented on #683
Ok. I thinks it´s looking good. :)
Keep the lamps. :D

[2022-05-27 09:44] karsa-mistmere commented on #683
@pcout: Could you provide a use case for each of the lamp icons?

[2022-05-27 15:48] pcout commented on #683
Corridors lamps, Bedrooms lamps, common area lamps, lobby lamps...

[2022-05-27 15:50] pcout commented on #683
As for the baby/child icons:
the guests can be adults plus baby and/or more children.
I can definitely see several use cases for this.

[2022-05-27 16:13] karsa-mistmere commented on #683
I know what they represent, but what would the use case be? On what kind of component would these icons be present?

[2022-05-27 16:20] pcout commented on #683
infographics, maps, figma layouts, etc...

[2022-05-27 16:37] karsa-mistmere commented on #683
For example? Sorry I'm being dense but I really can't quite see what these could be needed for.

[2022-05-27 16:52] pcout commented on #683
icons for Home Assistan, for sure.
![image](https://user-images.githubusercontent.com/687515/170744036-fdfb119f-5483-4fcc-a2dc-c86e66e05f6b.png)

[2022-05-28 17:44] safazi opened #686 "Siren icon"
## Icon Request

* Icon name: siren
* Use case: Trigger alarm, serious alert, etc
* _Screenshots_ of similar icons:
![image](https://user-images.githubusercontent.com/16279574/170836896-6efbceb1-9486-47c8-980c-9dc808e4918e.png)
![image](https://user-images.githubusercontent.com/16279574/170836913-ff184163-7058-4fda-a044-1f93986af969.png)
![image](https://user-images.githubusercontent.com/16279574/

[2022-05-28 18:17] karsa-mistmere commented on #686
I designed this a few weeks ago, let me know what you think:
![5B6099CA-CE80-4BAD-935C-7E9355985215](https://user-images.githubusercontent.com/17746067/170838069-1ede252c-1274-4d1d-830a-8bce782f7aca.jpeg)

[2022-05-29 02:29] safazi commented on #686
The light dashes are perfect, but the body feels too round compared to other icons.
Maybe more in this direction? (excuse poor craftsmanship)
![image](https://user-images.githubusercontent.com/16279574/170849492-0954efb2-f70b-4f5a-87df-00358f0d0980.png)

[2022-05-29 19:09] ericfennis commented on #686
@karsa-mistmere Nice icon!

[2022-05-30 06:34] karsa-mistmere commented on #683
![image](https://user-images.githubusercontent.com/17746067/170930998-71a9df4b-014e-4f86-97eb-b6b696db7185.png)

[2022-05-30 06:40] karsa-mistmere commented on #686
Thanks, @ericfennis.
Here are a few variations, @safazi.
![image](https://user-images.githubusercontent.com/17746067/170931813-eeead0b2-f231-48a0-9ecc-4db462aa3ae7.png)
![image](https://user-images.githubusercontent.com/17746067/170931983-baefb267-05e2-4bd4-a821-91e69c31bdbf.png)

[2022-05-30 15:16] ericfennis commented on #669
@karsa-mistmere Looks great! I take a look if I can implement the categories in the site

[2022-05-30 15:30] #398 closed

[2022-05-30 15:51] ericfennis commented on #606
@karsa-mistmere What do you think of these ones?
<img width="507" alt="image" src="https://user-images.githubusercontent.com/11825403/171026491-fc04f706-3bad-4f2e-9b34-179b575f8918.png">
<img width="76" alt="image" src="https://user-images.githubusercontent.com/11825403/171026828-c4ff2d57-feb6-4472-a2f8-60f3ecb94908.png">

[2022-05-30 16:14] karsa-mistmere commented on #606
All the rest of the file icons use a straight line in case an inset item breaks the outline (e.g. `file-digit` or `file-search`), I think we should keep that uniform between file icons.
I like the first, but I'd either keep the slider rectancular or maybe even completely round?
![image](https://user-images.githubusercontent.com/17746067/171029767-bb2483a8-c164-4bc5-9cea-29a58606276f.png)
![zip](ht

[2022-05-31 12:26] PodaruDragos commented on #94
Hello guys,

If I can offer my 2 cents here, I do think it's fine to just remove them all-together.
There are other alternatives so it's fine, there's no need to overcomplicate things just for some existing icons.

[2022-05-31 21:58] safazi commented on #686
Icons 2 and 4 are the winners in my book - I would have never though of flattening the bottom like that.
Great stuff!

[2022-06-01 09:11] karsa-mistmere commented on #686
@safazi: Thanks! I also think 2 and 4 are the most legible and I'd probably stick with 2, since I think it matches the Lucide style somewhat better. I'll make a PR soon.

[2022-06-01 09:35] karsa-mistmere commented on #607
Also came up with a new design which I think also works OK:
![image](https://user-images.githubusercontent.com/17746067/171374405-5e68f1af-e014-471f-bf71-05a901a519fc.png)

[2022-06-02 15:15] pcout opened #701 "Sustainabilty icons"
Can you please add sustainability related icons ?
Things like carbon footprint, energy saving, water saving, biomass, grey waters, waste, plants, ecology, environment related motives, solar panels, wind turbines, etc.

Thanks.

[2022-06-02 15:16] pcout commented on #701
on a quick google search:

![image](https://user-images.githubusercontent.com/687515/171662581-27484663-e54d-4778-bd06-d6a423e3b769.png)
![image](https://user-images.githubusercontent.com/687515/171662652-3955f78b-6506-44c9-8c42-65b76ae1edc6.png)

[2022-06-02 16:05] karsa-mistmere commented on #701
@pcout: Could you please provide a complete checklist of icons you need similar to what you can find in #683?

[2022-06-03 13:34] ericfennis commented on #651
@mittalyashu can you post icons on 100%.

[2022-06-04 15:49] ericfennis commented on #701
@pcout I think some of these icons are a bit too specific for this icon pack.
But we already have : [`sprout`](https://lucide.dev/icon/sprout).
The icons that are interesting to add are I think:

- `recycle` (recycling in general, pretty common used icon)
- `leaf` (also used for vegetarian food or things about nature)
- `flower` (used for gardens, botatic gardens, gardening, parks)

[2022-06-04 15:51] ericfennis commented on #618
Need more reasons to add this icons.

[2022-06-04 15:51] #618 closed

[2022-06-04 15:54] ericfennis commented on #606
Yeah I had something like this as well, but the bottom left corner bothered me a bit. But maybe that's me.
I think I like the first one and the second one the most.

So maybe we need a second opinion. 😛

[2022-06-04 15:57] ericfennis commented on #684
I'm in for the last one, keep it simple!

[2022-06-05 07:30] karsa-mistmere commented on #606
Or we could split the difference and go with the 2nd, since that seems to be the most common ground so far. :)

[2022-06-06 14:09] ericfennis commented on #622
Alternative idea:
<img width="215" alt="image" src="https://user-images.githubusercontent.com/11825403/172177480-de18e06a-2e25-4745-bc9d-854e14c6813b.png">

[2022-06-06 15:13] karsa-mistmere commented on #622
Nice! Maybe less conventional, but nice and clean, I like it a lot.

[2022-06-12 14:48] #686 closed

[2022-06-12 20:31] #394 closed

[2022-06-14 06:24] karsa-mistmere commented on #622
@ericfennis: Wanna make a PR of this?
I think it's a clear winner compared to my attempts. :)

(And that would be one more item off #114)

[2022-06-14 14:44] #597 closed

[2022-06-14 14:44] #701 closed

[2022-06-16 09:15] #621 closed

[2022-06-16 11:01] #424 closed

[2022-06-16 11:44] #684 closed

[2022-06-19 10:28] ericfennis commented on #607
<img width="564" alt="image" src="https://user-images.githubusercontent.com/11825403/174476580-863a8160-c46a-423f-b2b5-9d2bc636309e.png">

[2022-06-19 10:38] karsa-mistmere commented on #607
Yeah, that looks like kind of an optimal amalgamation of all previous sketches, I think it should work nicely. :)

[2022-06-19 11:03] ericfennis opened #735 "`toy-block` icon"
* Icon name: `toy-block`
* Use case: Used for plugins, add-ons
* Contributes to #651
* similar icons:
![image](https://user-images.githubusercontent.com/11825403/174477683-6bad2d03-3d05-4e16-ab02-3ebf1fc9a85a.png)

## Design proposal:
<img width="184" alt="image" src="https://user-images.githubusercontent.com/11825403/174477732-628696ae-04dc-476e-854e-4de97db64400.png">

100%
![toy-block](https://

[2022-06-20 06:46] karsa-mistmere commented on #735
Looks nice, but I think we can easily go with `square`'s full height as well as the full 2px rounding and still have it completely legible.
![image](https://user-images.githubusercontent.com/17746067/174541122-d42909e4-3a6e-4a13-a1c4-84bffcacbd45.png)
![image](https://user-images.githubusercontent.com/17746067/174541109-457d1e67-bc21-4440-9eda-51803ed95320.png)

[2022-06-20 13:36] ericfennis commented on #607
Tnx! will create PR.

[2022-06-20 14:24] #606 closed

[2022-06-26 18:33] #601 closed

[2022-06-29 17:07] #607 closed

[2022-07-12 08:46] JordanGistLens opened #752 "tally and counter icons"
## Icon Request

* Icon name: tally / counter
* Use case: a way to describe a total or a count of something, a tally or counter icon would make sense to display that something is be summed up or calculated.
* _Screenshots_ of similar icons:

![image](https://user-images.githubusercontent.com/78777027/178449163-2dc80525-b7af-45ff-84c6-a0375f0e1552.png)

![image](https://user-images.githubuserconten

[2022-07-12 10:05] karsa-mistmere commented on #752
Tally marks are easy, but I'm not quite sure if we should keep them horizontally aligned or not.
I don't really think a counter icon like the one above is feasible within the bounds of Lucide's design guidelines, these are the best ones I could come up with right now, but I'm not really happy with the results.
![image](https://user-images.githubusercontent.com/17746067/178465702-aa4222a3-18ec-41b6

[2022-07-17 09:09] #617 closed

[2022-07-20 05:08] jahirfiquitiva opened #772 "Unicorn icon request"
## Icon Request

* Icon name: Unicorn
* Use case: sites like [unicorn-utterances.com](https://unicorn-utterances.com)
* _Screenshots_ of similar icons:

<img width="644" alt="Shot 2022-07-20 at 00 08 14@2x" src="https://user-images.githubusercontent.com/10360816/179901446-0d0ab3b8-612f-4e4d-9824-9d28c09bc6bf.png">

[2022-07-20 06:19] karsa-mistmere commented on #772
Frankly, this seems like a brand icon request in disguise. :)
Can you provide alternate use cases that aren't brand related?

[2022-07-20 13:59] locness3 opened #773 "Lucide seems to be violating the Feather Icons license"
_Originally posted by @mehdisadeghi in https://github.com/feathericons/feather/issues/467#issuecomment-1190094894_

For what is worth it, the lucide forked project could definitely cause legal problems for users, since it is obviously breaking this project's license agreement. Quote from the MIT license in this repository:

    The MIT License (MIT)
    Copyright (c) 2013-2017 Cole Bemis
    ...

[2022-07-20 19:16] #773 closed

[2022-07-20 19:27] ericfennis commented on #752
@karsa-mistmere Can you provide the last 4 icons in 100% scale?

[2022-07-21 06:57] karsa-mistmere commented on #752
![counter](https://user-images.githubusercontent.com/17746067/180149758-20e5a2c5-9b56-4847-8866-5142ec39ec1d.png)

[2022-08-02 04:56] mayurrawte opened #778 "Ship Icon"
## Icon Request

* Icon name: Ship
* Use case: Usecase in logistics-related apps

Screenshots
<img width="228" alt="Screenshot 2022-08-02 at 10 26 30 AM" src="https://user-images.githubusercontent.com/32830023/182294918-09eeca6a-250f-45d0-bf1f-1228fdafdd43.png">

[2022-08-02 04:58] mayurrawte opened #779 "Airplane Mode Icon"
## Icon Request

* Icon name: Airplane
* Use case: Airplane Mode Icon for mobile

<img width="238" alt="Screenshot 2022-08-02 at 10 25 33 AM" src="https://user-images.githubusercontent.com/32830023/182295142-0d5a91dc-58fe-4640-a9f0-d8ac44381229.png">

[2022-08-02 05:43] #779 closed

[2022-08-02 05:45] karsa-mistmere commented on #779
@mayurrawte: We actually already have an airplane icon: https://lucide.dev/icon/plane?search=plane

It was under the name "plane" and missing the tag airplane, so thanks for bringing that to our attention, I've added the tag so that people will find it easier in the future. :)

[2022-08-03 09:00] ericfennis commented on #609
@karsa-mistmere Nice work on the icons, I think the icons you bordered with green are great, except for the `bike` and the `truck-front` icons. I think some paths looks a bit too dense. But I understand those are hard one to design. I can give it a shot as well.

#### For the person icons:
I see we violate some guidelines for example the head of the person. But applying the 2px spacing on all the

[2022-08-04 15:02] jis3r opened #781 "Plane Takeoff & Plane Landing Icons"
## Icon Request

* Icon name: Plane Takeoff & Plane Landing
* Use case: For travel websites or airtraffic-related topics
* _Screenshots_ of similar icons (Font Awesome):
![image](https://user-images.githubusercontent.com/72663107/182880640-3d54b3f5-8890-498b-9eba-65c4e8858256.png)
![image](https://user-images.githubusercontent.com/72663107/182880542-3933887f-6170-4151-860d-96c3ad994ff0.png)

[2022-08-04 15:06] jis3r commented on #781
I started to work on them, but am not sure if the results are satisfying yet. Here a screenshot from figma:
![image](https://user-images.githubusercontent.com/72663107/182881412-4c7a07d5-8062-4cd1-9119-0d0a9043ba26.png)

[2022-08-04 15:11] jis3r commented on #781
_Accidentally closed the issue, sorrry._

I already started to work on the icons, but I am not perfectly happy with the results. Here a screenshot from Figma:
![image](https://user-images.githubusercontent.com/72663107/182882236-5098c9f5-8049-4d33-bb48-5da79f7c3060.png)

Unless you think they are already good, I would be happy about other submissions! :)

[2022-08-04 16:41] karsa-mistmere commented on #781
I think the tail part definitely needs to be a bit less dense than it currently is and some corners could also do with a bit of rounding.

This is my take based on yours (but I'm not quite happy yet with the level of pixel perfection I've managed to achieve):
![image](https://user-images.githubusercontent.com/17746067/182904683-4758af03-d438-4fae-8b91-984ff9989650.png)
![plane](https://user-images

[2022-08-06 01:08] j-cleme opened #782 "Missing prop in Lucide Svelte additional props example"
When looking at the documentation for Lucide Svelte, I noticed that the "additional props" example does not have any additional props.
![image](https://user-images.githubusercontent.com/21112952/183227597-32b3fab2-86db-45fc-be5f-df91b5df34c1.png)

[2022-08-08 18:34] #782 closed

[2022-08-09 21:41] jis3r commented on #781
You definitely got a point there, I too think that yours look better. I found it hard to get the plane good looking because of the limited level of detail due to the relatively thick line with 2px.

[2022-08-09 21:48] jis3r opened #784 "Tower-control Icon"
## Icon Request

* Icon name: tower-control
* Use case: Airport and travel related websites/tools
* _Screenshots_ of similar icons:
![image](https://user-images.githubusercontent.com/72663107/183767569-b1671640-e353-44c7-8b46-40e1ef43b975.png)
![image](https://user-images.githubusercontent.com/72663107/183767645-985aca5f-c152-4c74-9947-844271c36359.png)

[2022-08-09 21:50] jis3r commented on #784
I drafted three variants of the icon, happy to recieve improvement suggestions :)

![image](https://user-images.githubusercontent.com/72663107/183767980-30642013-0c32-426b-89b9-0782a8832a89.png)

[2022-08-10 06:40] karsa-mistmere commented on #784
The top looks far too dense in each iteration (there should be a 2px gap between all distinct elements), I think we'll have to stick with a single vertical line in the middle like in the first similar icon, maybe something like this:
![image](https://user-images.githubusercontent.com/17746067/183831602-47bd4508-5eee-4eca-86c4-492adb43020f.png)
![image](https://user-images.githubusercontent.com/177

[2022-08-10 08:09] jis3r commented on #784
You'r totally right about density, I forgot about the 2px distance, sorry.😅

What do you think of this more "zoomed in" approach?
![image](https://user-images.githubusercontent.com/72663107/183848106-5422b401-051d-4691-960e-9dc5092100a2.png)
My personal favourite would be the right variant. I think one could omit the bottom of the tower and get more detailed at the top for better recognition.

[2022-08-10 09:19] karsa-mistmere commented on #784
Not bad, although these parts do go against our guidelines I think:
![image](https://user-images.githubusercontent.com/17746067/183864568-0ad66a89-154c-469d-acd3-9fcf7be60514.png)

[2022-08-10 09:53] jis3r commented on #784
Under what circumstances could one deviate from the rules? Because I personally think that it looks better with that extra element:
![image](https://user-images.githubusercontent.com/72663107/183872339-64bf41b9-e3c8-41ee-8ff2-6909124d2909.png)

[2022-08-10 13:32] #683 closed

[2022-08-18 16:20] #616 closed

[2022-08-21 09:12] locness3 opened #788 "Advertise the Figma plugin on the homepage"
The Figma plugin should be advertised on the project's homepage.

[2022-08-21 09:20] locness3 commented on #649
@karsa-mistmere I really like your mockups.

I am just not sure about this being a single column of text :
![image](https://user-images.githubusercontent.com/37651007/185784374-c0c48749-e50d-4b1b-93bc-7bf416fef219.png)

[2022-08-23 06:17] ericfennis commented on #788
agree on this

[2022-08-23 09:55] schmidt-oliver opened #789 "Icon for plain language - book-open-check"
## Icon Request

Icon name: `book-open-check`

Use case:
- Plain language
- Finished reading a book

In Germany, websites of public institutions must have a page with plain language. Currently there is no suitable icon for this use case. Because of the naming conventions, I would give it the name `book-open-check`.

This is my suggestion:
[code]

![book-open-check](https://user-images.githubuserco

[2022-08-23 18:11] ericfennis commented on #789
@schmidt-oliver Nice icon!
If you want you can open a pull request.

[2022-08-24 11:43] schmidt-oliver opened #791 "`ear`, `ear-off` Icon"
Searched for an icon for sign language but didn't find a suitable for this use case. Tried designing an icon with two hands like `hands`, `hands-asl-interpreting` in [font awesome](https://fontawesome.com/icons/categories/accessibility)  or other icon sets, but can't get it. So I decided to do design `ear-off` as alternative and `ear` for completeness.

## Icon Request

Icon name: `ear`

Use case:

[2022-08-25 09:37] karsa-mistmere commented on #791
Nice one, it's be great to have an ear icon.

The line I've circled in red looks a bit wonky though, it could look a bit cleaner and continuous, maybe something like the second one (although I think we could easily fit in the tragus and make the icon more legible as illustrated in the 3rd and 4th icons):
![image](https://user-images.githubusercontent.com/17746067/186630283-ae3d80aa-e7eb-4991-be0f-

[2022-08-25 15:09] schmidt-oliver commented on #791
Thanks. Great advice. Have reworked it with a little improvement: I centered it horizontally.

Now it looks like:

![image](https://user-images.githubusercontent.com/33413922/186702336-e5552543-5a09-4d8d-aa89-1d0d611453a8.png)

[code]

![image](https://user-images.githubusercontent.com/33413922/186702063-a2fb4026-e79c-4615-8323-d19da71f0ab2.png)

[code]

[2022-08-25 15:31] karsa-mistmere commented on #791
Not sure about the tragus, it seems a just bit too tight, but I think we need a second opinion from @ericfennis.

I've tried to align it by centre of gravity rather than bounding box, but I guess the truth would be somewhere inbetween, so how about bringing down the size a notch so that it's closer?

![image](https://user-images.githubusercontent.com/17746067/186705687-0875a1ec-17b8-45bc-8776-a029

[2022-08-25 23:43] gBasil opened #792 "Framework request: Solid"
Would it be feasible to add support for [Solid](https://www.solidjs.com)? I couldn't find any issues relating to this, and the unofficial NPM package (`lucide-solid`) is terribly outdated.

Thank you for your time!

[2022-08-26 08:07] schmidt-oliver commented on #791
Great idea. On direct comparison your new version looks cleaner and less clunky. Thank you for the review. I really like your improvements. By the way: I love how actively you work together with the community.

[2022-08-26 09:36] spormeon opened #793 "can globally be lazy loaded in Vue3"
Does anyone know if this can be lazy loaded in a global sense, we are using the import * as icons from "lucide-vue-next";  but want to lazy load the individual icons, dependant on page use, but still want to have the icons load globally, so as not to have to maintain dozens of individual calls per page etc?

[2022-08-26 14:23] ericfennis commented on #793
Hmm I think this really hard to accomplish without doing individual calls for each icon.

What you can try is creating one index file full of dynamic import for each icon. But that will result in individual calls.

May I ask why is not possible to individual import each icon?
Because the icons are formatted and optimized to small files and are tree-shakable by your bundler. Importing it won't impa

[2022-08-26 14:24] ericfennis commented on #792
Yess this one is on my list!! Will start with it soon.

[2022-08-26 14:26] spormeon commented on #793
it is impacting our bundle size as its about 235kib, when it could be down to a few kib, if they "LL",  i'll try this index page with dynamic imports idea, least that keeps them all in 1 file, so we dont have to think about imports for icons on every page

[2022-08-26 14:43] ericfennis commented on #791
@schmidt-oliver Great icon request I think this is nice icon to add to the library.
And welcome to the community!

@karsa-mistmere I like the third column of icons. It has a simple and recognizable design.

[2022-08-27 23:00] spormeon commented on #793
@ericfennis not getting any luck with this idea, can you give me any pointers?  tried this and if try to LL it dont show the icon:
![index_js_—_statsadysis](https://user-images.githubusercontent.com/8503167/187050848-2733a5e2-fe13-4b24-a61f-db720641e7ed.png)

[2022-08-28 20:52] ericfennis commented on #793
Looking at your imports I'm not sure if this is the right repository. The imports don't match our package name: 'lucide-vue-next'

If you want to use lucide, I think you should have something like this.

[code]

[2022-08-30 08:35] #793 closed

[2022-09-04 06:40] rizkimuhammada opened #794 "Generic icon component with typescript"
## Prerequisites

* Version: ^0.88.0
* Are you running from source/main: No
* Are you using a released build: No
* Operating system: macOS
* Bits: 64 bits

## Step to reproduce
I am using the example code from Lucide React to make a generic icon component.
<pre>
<code>
import * as icons from 'lucide-react';

const Icon = ({name, color, size}) => {
  const LucideIcon = icons[name];

  return <Lucid

[2022-09-06 09:04] #794 closed

[2022-09-18 07:37] ravindUwU opened #800 "`yarn add lucide-angular` ≥ `0.87.0` postinstall fails with "`ngcc` not found""
## Prerequisites

* Version: `lucide-angular` package `0.89.0`, `0.88.0`, `0.87.0`
* Are you running from source/main: No
* Are you using a released build: Yes
* Operating system: Ubuntu 22.04.1 LTS, also tested on Windows 11 with the same environment (detailed below).
* Bits: 64

## Steps to reproduce

- Install version `0.87.0` or later of the [`lucide-angular`](https://www.npmjs.com/package/luc

[2022-09-19 12:56] ericfennis commented on #800
@ravindUwU Thanks for reporting, will check what is happening!

[2022-09-20 09:59] rienkkk opened #801 "[Feature Request][Flutter] Add Stroke Width"
When using these icons with the flutter package, it is impossible to set a stroke width. It would be a great enhancement if this would be possible. I tried changing the code myself to get it working but was not able to.

Interesting starting point: there is a feather package for flutter which allows you to set the stroke width: https://github.com/vaetas/feather_icons_svg

[2022-09-24 19:44] jis3r commented on #784
Any updates on this? :)

As I said, I think that it looks slightly better with the extra element on the left, but the right version would also fullfill all rules and does not go against the guidelines.

[2022-09-24 22:45] karwan-ali opened #802 "[Icon Request] Dumbbell Icon - Possible to get?"
## Icon Request

* Icon name: dumbbell
* Use case: Workout page with a workout library. Icon is needed for this use case.
* _Screenshots_ of similar icons:
<img width="67" alt="Screenshot 2022-09-25 at 00 42 59" src="https://user-images.githubusercontent.com/38838635/192121145-61ac5733-ae22-4d1c-8f5c-052ad1ce0132.png">
<img width="492" alt="Screenshot 2022-09-25 at 00 45 02" src="https://user-imag

[2022-09-26 08:08] ericfennis commented on #784
@jis3r Sorry for late reply.
Can you post a 100%(24x24px) scale comparison?
I think you probably won't see the little line. Or the average person won't see it.

[2022-10-03 10:11] karsa-mistmere commented on #802
I've tried, but I couldn't really get this to work with our design guidelines.
A horizontal version proved to be simply too tight, even a diagonal version has very little space to fit in more than one weight per side, and at one weight per side, it doesn't quite look like a dumbbell anymore.

Here are a few versions:
![image](https://user-images.githubusercontent.com/17746067/193552968-aa579be3-8e

[2022-10-03 11:10] karwan-ali commented on #802
I think you've made a very good job considering the guidelines 😊

The third one seems like a good option. What do you think about it?
Is there a possibility to try to add a "hollow weight" in between the spaces on that dumbbell to see how it looks like?

[2022-10-03 14:36] #637 closed

[2022-10-03 14:37] #791 closed

[2022-10-03 14:38] #792 closed

[2022-10-03 14:39] ericfennis commented on #802
@karwan-ali @karsa-mistmere Like the third one!

[2022-10-03 14:40] #789 closed

[2022-10-03 15:15] lukesmurray opened #805 "Sort ascending for smaller screens"
## Icon Request

On smaller screens, the difference between the bars in `sort-asc` and `sort-desc` are hard if not impossible to see.
I propose an alternative `sort-asc` which changes the direction of the arrow and the location of the bars.

* Icon name: `sort-asc`
* Use case: Smaller screens where the lines stack is hard to see.

## Proposed Icon

SVG Preview:

![ASC NEW](https://user-images.gith

[2022-10-04 13:47] ericfennis commented on #805
Hmm I agree on this.
What do you think @karsa-mistmere ?

[2022-10-07 08:42] jacobawebb opened #806 "Change icon import names to have a prefix e.g. <LucideCamera />"
It's not all the time I run into this issue but I often find myself having to use different icons or renaming components within React projects so that they don't clash with the imports.

E.g. if I want to use `<Login />` Lucide icon but I have a `<Login />` functional component.

A suggestion would be to prefix the imports so `<Camera />` would become `<LcCamera />` or similar.

[2022-10-11 06:31] ericfennis commented on #806
Hmm, I understand the issue. I think it is a bit hard to change. Because it is a breaking change for everyone. But we are thinking of adding aliases in the future, maybe we can think of a solution as well.

[2022-10-11 06:33] ericfennis commented on #651
Added in https://github.com/lucide-icons/lucide/releases/tag/v0.89.0

[2022-10-11 06:33] #651 closed

[2022-10-11 15:31] jacobawebb commented on #806
It would be a nice solution to have multiple names for the same export but I can't think of a nice way to do this without module / function duplication.

[2022-10-16 19:15] ericfennis commented on #503
Here is my shot.
<img width="138" alt="image" src="https://user-images.githubusercontent.com/11825403/196053644-d63f4a17-7877-4ff3-966e-eb3a4d77f366.png">

[2022-10-16 21:33] solaremperor opened #813 "[Icon Request] Indian Rupee"
## Icon Request

* Icon name: Indian Rupee
* Use case: Currency
* _Screenshot_ of similar icons from ([Wikipedia/Indian Rupee Sign](https://en.wikipedia.org/wiki/Indian_rupee_sign)):
![Indian Rupee Sign](https://upload.wikimedia.org/wikipedia/commons/e/ee/Indian_Rupee_symbol.svg)

[2022-10-17 03:17] ericfennis commented on #813
@solaremperor We already have this icon 😉
https://lucide.dev/icon/indian-rupee

[2022-10-17 03:17] #813 closed

[2022-10-17 17:39] lukesmurray commented on #805
If anyone gives me the go ahead I can submit a PR.

[2022-10-17 19:30] heyfirst opened #814 "Download icon when click on GitHub button"
Hey Great works! by the way, I love all icons you made!

I have one curious thing about https://lucide.dev/. So when I click GitHub button it seems download the `lucid.zip` automatically.

It also seems the code in this line was added `onClick={downloadAllIcons}` as well. Should this be considered a bug, or is it intended to do so?

https://github.com/lucide-icons/lucide/blob/aa524c65a059ae802752c

[2022-10-18 03:58] shawarmaz commented on #407
imo this just boils down to creating separate icons for certain togglable buttons. Opening [Icon Request]

[2022-10-18 04:00] shawarmaz commented on #657
Vote +1

[2022-10-18 04:09] shawarmaz opened #815 "[Icon Request] Separate togglable icons"
## Icon Request

* Icon name: filled(`heart`, `thumbs-up`, `star`,  maybe others)
* Use case: To toggle them on/off on platforms that don't easily allow svg filling.

Type any of the icon names into [this popular icon lib index](https://oblador.github.io/react-native-vector-icons/)

There are a ton of other icons that would be awesome to get filled and are easily fillable without redesign (e.g. `c

[2022-10-18 06:11] ericfennis commented on #814
Hmm I think it is a bug, thank for reporting!

[2022-10-18 06:12] ericfennis commented on #805
@lukesmurray Yeah go ahead!

[2022-10-18 13:59] lukesmurray commented on #805
Added a PR in #819

[2022-10-18 18:46] ANTARCTUS opened #822 "Add better tags"
Some tags are redundant, while others are missing.
We could add the tag "logo" to "chrome" and "trello".
Add the tag "math" to the different operators and to the "sigma".
Add the tag "shape" to the triangle, the square...
Combine the tags "social" and "social media". While adding this tag to "YouTube" and "twich".

If you want, I can push [my fork which contains these additions.](https://github.co

[2022-10-18 20:00] JustBarnt opened #823 "Project is loading all icons despite only using two."
## Prerequisites

* Version: 0.91.0
* Are you running from source/main: Yes
* Are you using a released build: Yes
* Operating system: Windows
* Bits: 64

## Step to reproduce

Install package. I installed the Svelte version. I imported `ChevronUpDown` in one file and `Info` in another. Upon refreshing the page it takes upwards of 5-8 seconds with HMR. Inside the network tab in my dev tools I can s

[2022-10-18 20:45] ericfennis commented on #822
@ANTARCTUS welcome to lucide community.

Thanks for noticing this. Yes we have probably a lot of tags that can be improved. This will help the search of icons on the website.

Feel free to open a PR.

[2022-10-19 05:52] #814 closed

[2022-10-19 10:46] ericfennis commented on #823
Hmm interesting.
What kind of build tool do you use? So I can reproduce the issue.
Thanks for reporting.

[2022-10-19 10:58] #805 closed

[2022-10-19 12:44] JustBarnt commented on #823
@ericfennis I am using Vite 3 which is the standard build tool with svelte.

[2022-10-19 18:38] ANTARCTUS commented on #822
I do it with this PR : #827

[2022-10-20 06:08] #800 closed

[2022-10-20 07:20] kemie opened #829 "Update to person-standing and person-walking"
Not really an icon request, but a proposal for an update:
I think person-standing and person-walking  #609 could use a redesign to make them more dimensional, less slim, and match user/person icons better
new icons proposal:
<img width="940" alt="illustrator_template ai2 @ 2969 99  (RGBPreview)   2022-10-20 at 091929@2x" src="https://user-images.githubusercontent.com/1877967/196882221-69c9ca04-8c4

[2022-10-20 10:20] ericfennis commented on #829
@kemie Can you post this in #609. This way we keep everything in one thread.

[2022-10-20 10:20] #829 closed

[2022-10-20 14:36] FractalHQ opened #831 "`svelte2tsx` peer dep is out of date"
It would be great if `svelte2tsx` had a major version bump!

## Prerequisites

* Version: `v0.92.0`
* Running from: Installed with `pnpm` into a `vite` project.
* Operating system: MacOS

## Step to reproduce

Install `lucide-svelte` and `svelte2tsx`

## Any message or error

`unmet peer svelte2tsx@^0.4.12: found 0.5.20`

## Resources

This error appears everytime I install or run a project with `

[2022-10-21 07:57] ericfennis commented on #831
Tnx, I wil give a bump!

[2022-10-21 17:51] YesImSevy commented on #542
I mean it looks pretty much exactly like a stick of ram just not as wide when you look at like thin for example

[2022-10-22 12:04] bejd opened #833 "lucide-svelte not working with SvelteKit"
This may be more a feature request than a bug, so apologies if it needs to be recategorised!

## Prerequisites

* Version: 0.92.0
* Are you running from source/main: Yes
* Are you using a released build: Yes
* Operating system: MacOS 12.6
* Bits: 64

## Step to reproduce

- Follow instructions at [https://lucide.dev/docs/lucide-svelte]()
- Import a single icon
- Console displays errors for every i

[2022-10-22 14:32] JustBarnt commented on #833
@bejd I don't think is related to my issue, I am not using sveltekit, and my icons are loading, it's just loading every icon in the library compared to the two I am actually using via import.

[2022-10-22 14:32] JustBarnt commented on #823
@ericfennis any luck duplicating this?

[2022-10-22 15:32] ericfennis commented on #823
@JustBarnt yes I was able to replicate this. Not sure what is happening. Vite is importing everything from the index file. I dont understand how the tree shaking is working. I need to check other frameworks as well in vite.

[2022-10-22 15:45] JustBarnt commented on #823
@ericfennis I can look into seeing how vite does treeshaking as well, maybe I can find a solution and give you an update.

[2022-10-23 12:10] ericfennis commented on #833
@bejd Thanks for reporting, with take a look!

[2022-10-23 12:12] #363 closed

[2022-10-23 12:34] ericfennis commented on #823
I've checked other frameworks, but Svelte is the only one that imports each file separately. Other frameworks also loading all the icons but it imports it in one file. On dev mode in vite it doesn't tree-shake.
I think maybe has something to do with the `.svelte` file loader in vite.

[2022-10-23 12:34] ericfennis commented on #823
I will do some more research

[2022-10-23 13:00] mpreu commented on #833
Confirming the issue with sveltekit. Can it be, that https://github.com/vitejs/vite/issues/8464 has relevance here? I tried the mentioned workarounds for the vite config, but does not seem to have any effect for this problem here.

I am on vite 3.1.8.

[2022-10-23 13:50] JustBarnt commented on #833
@mpreu From what @ericfennis found it has to do with Vites tree-shaking. It's still including the whole module.

[2022-10-23 13:52] JustBarnt commented on #823
@ericfennis Yeah I did some searching to found out that people were using 'optimizedDeps: { disabled: false}' and a lot of people were saying it started tree-shaking but it doesn't seem to work for me.

[2022-10-23 17:02] ANTARCTUS commented on #822
And the PR is merged !
I will do another PR with others upgrades in this week.

[2022-10-23 17:02] #822 closed

[2022-10-23 22:39] ekowbaah opened #834 "Lucide Angular does not have angular 14 support"
## Prerequisites

* Version:0.93.0
* Are you running from source/main:
* Are you using a released build:yes
* Operating system: MacOS
* Bits:

### Actual behavior
Lucide angular does not work with Angular 14 application

[2022-10-24 07:48] jakobsen commented on #806
I disagree with this suggestion. Renaming imports is trivial and more flexible than introducing some arbitrary prefix that would be a breaking change.

Assuming you're using Typescript/Javascript, a suggestion for how to handle it could for instance be to create something like `components/icons/index.[ts|js]` and do
[code]
They may then be imported as `import { CameraIcon } from "/components/icons

[2022-10-24 08:04] jacobawebb commented on #806
I can agree with you that this would work.

It is a workaround however, not a solution.

There needs to be a bigger change here to prevent collisions?

On Mon, 24 Oct 2022, 08:48 Erik André Jakobsen, ***@***.***>
wrote:

[2022-10-24 08:45] jakobsen commented on #806
Another way you could do it is to import as
[code]
and then render components as
[code]
I think namespacing imports properly should be the responsibility of the app developer, not the library developer, and therefore disagree that this is something that needs a solution from Lucide's or @ericfennis' end.

[2022-10-24 09:45] ericfennis commented on #806
We have a plan to support aliases in all our packages that uses lucide icons as components.
I was thinking to add an aliases.js file with all the icons aliases. and export them in the main index.ts.
`import { Camera } from "lucide-react";` or `import { CameraIcon } from "lucide-react"; will lead to the same icon file. This only will working nicely with ESModules.

If you want to have all the icons

[2022-10-24 16:51] #834 closed

[2022-10-24 16:54] #679 closed

[2022-10-25 07:48] wojtekmaj opened #836 "Issue while trying to commit"
[code]

Likely some issue with lint-staged as commiting with `-n` flag works just fine for me.

I'm using pnpm 7.14.0.

[2022-10-25 07:50] wojtekmaj opened #839 "Lucide Bot does not bump version number in lucide-react-native package.json"

[2022-10-25 07:53] wojtekmaj opened #841 "No mention of lucide-react-native on marketing site"

[2022-10-25 07:58] wojtekmaj opened #842 "Unable to develop site on Node 18 and up"
On `pnpm dev`:

[code]

[2022-10-25 08:00] wojtekmaj commented on #842
Related: https://github.com/vercel/next.js/issues/30078

[2022-10-25 08:45] TheodorRene commented on #477
So there is currently no way to make the icons accessible to screen readers?

[2022-10-26 06:36] #842 closed

[2022-10-26 06:36] #839 closed

[2022-10-26 06:41] #841 closed

[2022-10-26 06:50] #836 closed

[2022-10-26 18:48] wojtekmaj opened #859 "[Icon request] Vegan, gluten free, sugar free, alcohol free"
## Icon Request

* Icon name: Vegan
* Use case:
* _Screenshots_ of similar icons:
<img src="https://user-images.githubusercontent.com/5426427/198110690-c45562e9-22ee-4217-8418-eb75b0093bf7.png" width="128" />

* Icon name: Gluten free
* Use case:
* _Screenshots_ of similar icons:
<img src="https://user-images.githubusercontent.com/5426427/198110867-fb6f82db-844c-4947-ba79-2e16a9506c53.png" width="

[2022-10-27 08:55] karsa-mistmere commented on #859
What about these? I've been so bold as to add some more common food intolerances:
![image](https://user-images.githubusercontent.com/17746067/198236638-36523d80-642a-4a5d-9f0d-e64477b01be1.png)
![food-intolerance](https://user-images.githubusercontent.com/17746067/198236795-9145471e-4cc3-43e0-8cca-0ee271c5dca4.png)

I don't think adding a circle-slash around the icons is quite feasible, there's ju

[2022-10-27 10:03] karsa-mistmere commented on #859
Maybe for GMO free a DNA icon like this would be better:
![image](https://user-images.githubusercontent.com/17746067/198255550-c5feb89e-0555-4f4c-ba37-9dc210110815.png)

[2022-10-27 11:35] karsa-mistmere commented on #859
Also, I think instead of adding a dedicated `vegan` icon maybe either sprout or leaf could be used in this context?

[2022-10-28 03:42] wojtekmaj commented on #859
The vegan V is pretty distinctive and widely recognized, I'd go for it

[2022-10-28 09:45] pauloxnet commented on #170
I don't think Creative Commons has to be considerate a typical brand icons like a for profit company with a logo with a trademark on it and they added it in Unicode 13
https://creativecommons.org/2020/03/18/the-unicode-standard-now-includes-cc-license-symbols/

[2022-11-01 06:47] jd-solanki opened #864 "✨ Filled half star"
## Icon Request

* Icon name: filled half star
* Use case: For using it as a rating component
* _Screenshots_ of similar icons:
![Screenshot 2022-11-01 at 12 16 30 PM](https://user-images.githubusercontent.com/47495003/199175224-dabf5c0b-18b9-4f10-afcb-b8f8a0f617e7.png)

## Additional comments

We already have a half star but we don't have filled so we can't use it to demonstrate the ratings like

[2022-11-01 07:04] karsa-mistmere commented on #864
I'm closing this issue as a duplicate of #407 and #458.

[2022-11-01 07:04] #864 closed

[2022-11-01 10:01] danielradstrom opened #865 "Lucide Angular does not work with Angular 13 and 14"
* Version:0.93.0
* Are you running from source/main:
* Are you using a released build: Yes
* Operating system: Mac OS
* Bits:

### Actual behavior
Lucide Angular does not work with Angular 13 and 14. I tried to import but angular does not see the library.
I have the library installed in my project.

* Links
* Screenshots
*
<img width="1057" alt="Screenshot 2022-11-01 at 10 58 26" src="https://user

[2022-11-02 15:09] #859 closed

[2022-11-02 20:03] #802 closed

[2022-11-05 21:47] locness3 commented on #170
Neat

[2022-11-06 10:30] ericfennis commented on #170
Hmm I agree with @pauloxnet, let's open this issue.

[2022-11-06 15:16] ericfennis commented on #865
@danielradstrom Can you check if this is fixed. @ekowbaah made some fixes.

[2022-11-06 15:20] ericfennis commented on #823
@JustBarnt Thanks for opening issue in vite repo. The reply in vitejs/vite#10742 by @sapphi-red is the answer for this issue. I can't affect the way vite is loading the imports in the index file in dev mode. See issue in vitejs/vite#8237.

[2022-11-06 15:20] #823 closed

[2022-11-06 15:32] ericfennis opened #873 "New lucide flutter api & improve flutter package"
The flutter plugin is not matching the standards of the other packages of lucide.

It would be nice if the flutter plugin uses widgets (flutter components) to render icons instead of the icon font.
We could use https://pub.dev/packages/flutter_svg for this.
During build time we can generate all the widget files for the icons and create the export.

The icon widgets should have the following option

[2022-11-07 09:14] ekowbaah commented on #865
@ericfennis I did make the fixes, but the angular build we had was not working and that has been fixed in the last pr but it has not been released yet.
@danielradstrom this should work in the next release.

[2022-11-08 14:45] ericfennis commented on #865
We released a new version. https://www.npmjs.com/package/lucide-angular

[2022-11-08 18:16] danielradstrom commented on #865
Awesome! works now! Thanks @ekowbaah @ericfennis

[2022-11-08 18:16] #865 closed

[2022-11-09 23:18] ajmnz opened #879 "Using React Context to set default attributes for all child icons"
Hi 👋

Are there any plans for providing something like `LucideContext` where one can set default attributes for all child icons? Something similar to what [react-icons provides](https://github.com/react-icons/react-icons#configuration).

[code]

Shouldn't be too difficult to implement, I could open a PR if you're interested 👍🏼

Thanks!

[2022-11-10 09:43] jis3r commented on #784
What do you mean by scale comparison? The images I posted should both be 24x24px.

[2022-11-10 09:58] karsa-mistmere commented on #784
By 100% we mean an image where the icons actually take up a 24 by 24 pixel space, e.g.:
![tower control](https://user-images.githubusercontent.com/17746067/201060095-8fd4abf4-d665-4d73-b442-fcd59ccbc9d0.png)

The third one is an alternate suggestion (the line at the bottom suggests that the tower ends there making it look comically short and the overall weight of the icon is maybe a bit too small)

[2022-11-10 21:48] vernikr opened #880 "Baby icon has no eyes in Figma"
"Baby" icon has no eyes in Figma. Even no such vector elements in layers. Presumably because of zero-length of corresponding vector elements.

Lucide v0.99.0
Figma Desktop App version 116.5.17
MacOS 10.15.7 (19H2026)

[2022-11-10 21:52] karsa-mistmere commented on #880
Thanks, @vernikr, I've made a PR posthaste.

[2022-11-10 21:52] #880 closed

[2022-11-11 10:56] ericfennis commented on #784
I think the third option looks more like a tower

[2022-11-12 21:04] bleonard252 commented on #772
Dev.to's "unicorn" reaction comes to mind.

[2022-11-13 10:32] ericfennis commented on #879
I thought of this idea as well. But I think a context provider is maybe too much for what you want to accomplish.
Is it not way easier to override this with a global CSS rule?

[code]

[2022-11-14 19:39] wojtekmaj opened #883 "Stamp icon"
## Icon Request

* Icon name: Stamp
* Use case: Stamp tool in image editors; stamp in loyalty apps
* _Screenshots_ of similar icons:
![image](https://user-images.githubusercontent.com/5426427/201750507-85a84110-896e-4d5d-88c7-5c47bab66425.png)

[2022-11-14 19:51] karsa-mistmere commented on #883
I guess something like this could work, but I'm not quite sure it's readily recognisable:
![image](https://user-images.githubusercontent.com/17746067/201752627-07820f20-93eb-4ff5-9163-9a40680cc7b0.png)
![image](https://user-images.githubusercontent.com/17746067/201752488-af7e3980-0a34-439e-99ba-c5d328caa21a.png)

[2022-11-14 20:02] wojtekmaj commented on #883
Looks a bit like a baby pacifier to me 🙈 Perhaps less rounded edges, kinda like in Trophy icon, could do the trick?

[2022-11-14 20:15] karsa-mistmere commented on #883
Maybe adding an extra line also helps?

![image](https://user-images.githubusercontent.com/17746067/201756872-07dd87d7-887f-4f17-b45f-cc2f06048250.png)
![image](https://user-images.githubusercontent.com/17746067/201756810-200f4806-0f8f-4dc0-bd04-bdbe08ed7851.png)

[2022-11-14 20:17] wojtekmaj commented on #883
The roundiness is much better now IMO! As for the line... I don't know, maybe it helps a bit?

[2022-11-15 07:30] ericfennis commented on #883
Maybe try one with just a line at the bottom @karsa-mistmere ?

[2022-11-15 09:29] karsa-mistmere commented on #883
I've tried that already, IMO it looks pretty OK if I violate the 2px gap guideline and a bit funny if I don't:
![image](https://user-images.githubusercontent.com/17746067/201880245-e2604b76-b031-47a3-9a2d-4a4045acf1d5.png)
![stamp](https://user-images.githubusercontent.com/17746067/201880380-c74d105e-efbb-4864-8d0c-fd1214c1db4a.png)

Again, as with people icons, maybe the guidelines need to be adj

[2022-11-15 10:30] ericfennis commented on #883
I think the first one is not bad if you look at the 100% version. I'm only not sure about the line in the middle, I would say keep it as simple as possible.

[2022-11-15 10:34] ericfennis commented on #456
Fixed this one in #796. It now copies svgs in on line as default

[2022-11-15 10:34] #456 closed

[2022-11-15 14:26] wojtekmaj commented on #883
I'd vote for the version with the line, but it's not like I'm anyone you should listen to regarding design stuff :)

[2022-11-15 14:33] karsa-mistmere commented on #883
Yeah, something completely new that I think works better than all previous ones:
![image](https://user-images.githubusercontent.com/17746067/201945471-6ee202a5-0dc2-472b-b34a-3a197e5f2dff.png)
![stamp](https://user-images.githubusercontent.com/17746067/201945495-4d82b6a4-2cb3-4e76-aedb-645b460f699f.png)

I'd vote for the first or third one (see above).

[2022-11-15 18:06] TheFireBlast commented on #833
I'm using this hacky workaround using svelte preprocess's replace until they fix their tree-shaking. Can't guarantee it'll work 100% of the time, but it shouldn't be too hard to add any edge cases.
[code]

Result:
[code]

[2022-11-15 20:45] wojtekmaj commented on #883
My favs:
https://github.com/lucide-icons/lucide/issues/883#issuecomment-1315032498 2nd one
https://github.com/lucide-icons/lucide/issues/883#issuecomment-1315397313 1st one

[2022-11-17 17:37] thomasbnt opened #886 "Adding color on the icon with SCSS"
Hello, my project is in SCSS and I would like to configure the color of the icon with the parameter "color=" with variables. Like this :

[code]

It's possible?

[2022-11-17 18:27] karsa-mistmere commented on #886
You have to use `stroke`, I believe.

[2022-11-18 11:09] muster-mark opened #887 "Bitcoin icon is rotated - not consistent"
These icons are described as "Beautiful & consistent". However the bitcoin icon is not consistent with other icons (in particular not with the other curency icons, such as pound, dollar, euro, yen, being rotated at an angle for some reason. This would prevent it being used alongside the other currency icons without sticking out.

[2022-11-18 11:48] karsa-mistmere commented on #887
Hi @muster-mark!

Bitcoin is in fact not just a currency, but first and foremost a brand icon and as such, it will be deprecated soon, see #94 and #670
You can see, however, that the bitcoin logo _is_ in fact rotated: https://bitcoin.org/en/

[2022-11-18 11:48] #887 closed

[2022-11-18 15:28] vmdumitrache opened #888 "Unable to use with Nuxt components"
## Prerequisites

* Version: 0.101.0
* Are you running from source/main: Yes
* Are you using a released build: Yes
* Operating system: Ubuntu 22.04
* Bits: 64

## Step to reproduce

Follow installation instructions for `lucide-vue` for Nuxt setup by adding `'lucide-vue/nuxt'` to `buildModules`. In other words:
- `npm install lucide-vue`
- modify `nuxt.config.js` to include `'lucide-vue/nuxt'` as a

[2022-11-18 18:40] muster-mark commented on #887
@karsa-mistmere

Ah, I didn't know that Bitcoin was a brand icon. In fact, I'm not even sure why I referred to it as a currency since

Source: [Science Direct](https://www.sciencedirect.com/science/article/pii/B9780128021170000023)

So just as well to remove it then!

[2022-11-21 04:31] NeighNeighNeigh opened #891 "404 - Icon Design Guide"
you have multiple links to the following URL: https://lucide.dev/docs/ICON_DESIGN_GUIDE
… but sadly it 404's

[2022-11-21 07:50] ericfennis commented on #891
thank, we will take a look!

[2022-11-21 15:19] #888 closed

[2022-11-21 16:51] ericfennis commented on #886
I assume you're using the React Package.
I think you can accomplish to write it in your scss file:

[code]

or if you want to do it application wide:

[code]

Other solution is export you sass variables to javascript with:
[code]
And then import sass file in you javascript file to access the variables.

[2022-11-21 16:51] #886 closed

[2022-11-24 15:45] Snailedlt commented on #806
[code]
would be ideal imo.

Will aliases like you mention above also be added to other language packages like Svelte and Vue? And would it still cause issues if I had a local component named `Camera`?
For example:
[code]

[2022-11-24 16:47] ericfennis commented on #806
@Snailedlt yess, we want to implement it in all packages.

[2022-11-25 12:44] Snailedlt commented on #806
@ericfennis Neat!
What about my second question?

[2022-11-26 03:25] tryoxiss opened #893 "Filled versions of icons"
I know this has been suggested before and it was refused because the `fill: ` property does the same thing, but it dosent always. For most (probably 60-70% of the icons) it works great, no issues there. But it does break quite a few (notably the file/foleder type icons)

(fill: currentColor)
![image](https://user-images.githubusercontent.com/94419893/204068134-e18ebf44-bb16-4fd2-a81b-6ae884e69e4e.

[2022-11-30 10:24] #669 closed