[2020-06-13 17:07] locness3 opened #5 "Edit the repository's description"
We should change the repo's description.

Maybe "Simply beautiful open source icons, community-sourced"?

[2020-06-13 17:11] locness3 opened #6 "feat/site branch - should the packages folder be committed?"
I don't know about using Yarn, so I'm not sure, but I think the packages folder shouldn't be committed?

[2020-06-13 17:56] jletey commented on #5
I agree, and I love that 👍

[2020-06-13 17:57] jletey commented on #6
No 😅 The packages folder is where all the code is stored.

[2020-06-13 17:57] #6 closed

[2020-06-13 18:18] johnletey opened #7 "Update logo"
I think it's a good idea to have a different visual identity to the official Feather project.

Here is a potential logo:

![logo](https://user-images.githubusercontent.com/62398724/84576692-9ee5da80-adae-11ea-8ee8-f34f000c8755.png)

It is a combination of the GitHub octicons [`repository`](https://primer.style/octicons/repo-24) icon (to represent the "community" part of this project) and the [`fea

[2020-06-14 10:00] locness3 commented on #7
I'll leave this up to you.

[2020-06-14 10:01] #5 closed

[2020-06-14 10:02] locness3 commented on #6
So it should be comitted? Ok

[2020-06-14 10:31] jletey commented on #6
Yes correct

[2020-06-14 10:37] jletey commented on #7
Let’s go with the second option as both icons are from our icon-set.

I’m thinking about leaving this open so if anyone else has a suggestion they can submit it 😄

[2020-06-16 20:23] ericfennis opened #11 "Question, can we scrape icons from pull-request the feather repo"
There are stil some great icons waiting to be merged in the feather repo.
Do you think we can just take their code and contribute it to this repo? 🤔
Or do we need to ask them to do that.
For example the [#813](https://github.com/feathericons/feather/pull/813), the dice icon look cool to me.

[2020-06-17 10:05] jletey commented on #11
Although it is possible, it is morally wrong to take peoples work and call it our own!

By all means if you want to see an icon in @featherity, by all means go to the PRs and ask the people that opened them to open one here 😄

[2020-06-17 20:19] ericfennis commented on #11
Yeah don't want to call it my own. But maybe we can mention them in pull-request?

[2020-06-17 20:22] ericfennis opened #13 "Community Building"
Hey I thought maybe we can think about how we can build the community.
I wrote down some ideas, maybe you can help and share your ideas as wel.
Let me know what you think!

### For the community
- [x]  Slack or discord for faster feedback / sparring about icons and building the repo/community. [Link here](https://discord.gg/EH6nSts)

### For Contributing
- [x]  Update CONTRIBUTING markdown file
-

[2020-06-18 07:21] jletey commented on #13
Thanks for opening this @ericfennis 🙏 I completely agree with everything you've said.

I've gone ahead and created a Discord server (IMO Discord is better than Slack for these type of things).

[Join Now](https://discord.gg/xYKnd9)

[2020-06-18 07:24] locness3 commented on #13
Yeah, Slack was never meant for communities

[2020-06-18 07:27] locness3 commented on #11
Well, feather itself is under MIT, and so the forks are, so technically we can use them.

[2020-06-18 08:16] jletey commented on #11
Very true, btw can someone review #12?

[2020-06-22 08:16] ericfennis commented on #11
@locness3 gave the answer. Let's mention them if use some of those icons

[2020-06-22 08:16] #11 closed

[2020-06-23 17:58] lscheibel commented on #13
Hey guys, do you have a valid invite link to the discord? I think the current one is broken :sweat_smile:

[2020-06-23 18:02] jletey commented on #13
@lscheibel Sorry about that, I accidentally created the previous link without saying to not expire 😅

Try [this](https://discord.gg/U7uRMq) 👈

[2020-06-23 18:25] fabricedesre opened #22 "Icon request: intermediate battery levels"
## Icon Request

* Icon name: battery-25, battery-50, battery-75, battery-full and -charging versions.
* Use case: There are currently 2 battery icons: one when plugged in ("battery-charging") and the regular "battery". It would be nice to be able to indicate the charge level as well. 0 (available currently), 25%, 50%, 75% and full should be enough.
* Screenshots of similar icons:

[2020-06-23 18:29] jletey commented on #22
@fabricedesre At the moment there is already `battery` and `battery-charging` icons:

<img width="335" alt="Screenshot 2020-06-23 at 19 27 32" src="https://user-images.githubusercontent.com/62398724/85442182-ce070380-b587-11ea-96cc-b7a3df2f39b7.png">

Also https://github.com/feathericons/feather/pull/172 might be useful. I can take this on 👍

[2020-06-23 18:38] fabricedesre commented on #22
Yes https://github.com/feathericons/feather/pull/172#issuecomment-513655006 look great!

[2020-06-23 20:26] ericfennis commented on #22
@jletey maybe also try to implement the "safe-zone" of 1px (if it looks nice of course). Correct if I'm wrong but the current battery icons don't uses the safe-zone right now.

[2020-06-23 20:28] jletey commented on #22
@ericfennis Completely agree will do that!

[2020-06-24 17:09] lscheibel commented on #13
I could try myself at some Figma and Illustrator Guidelines as well as how to cleanly export them from each of them.

[2020-06-26 12:31] dgdavid opened #26 "Icon request: start/stop sharing screen"
Hi there!

First of all, **thank you a lot** for the initiative to, somehow, _moving forward_ the [Feather](https://github.com/feathericons/feather) project. I really hope the effort and result can convince @colebemis  about [his concerns](https://github.com/feathericons/feather/issues/893#issuecomment-617463032) and see both project meet in the near future.

That said, my request is an icon for t

[2020-06-26 12:43] dgdavid commented on #13
@jletey

Still invalid. The same with the one used in README.

![Screenshot_2020-06-26 Discord - A New Way to Chat with Friends Communities](https://user-images.githubusercontent.com/1691872/85858111-f9ba0180-b7b2-11ea-8947-2d5030f1a9db.png)

[2020-06-26 13:02] ericfennis commented on #13
@dgdavid Ah I see,, what the problem is. The invite link generated by Discord is valid for 1 day. I adjusted it with the settings. This link should work and never expire.

[Discord Invite](https://discord.gg/EH6nSts)

[2020-06-26 14:19] #22 closed

[2020-06-26 14:23] jletey commented on #26
Thank you for the kind words. The amazing community and I didn't want the project to die, so we took matters into our own hands!

Yes! More than definitely possible!

I love your suggestions, and I will design some feather-style icons now.

[2020-06-26 16:18] locness3 commented on #13
Also, we should update the figma library, but it's long to do by hand. Couldn't we have some script generate an svg file, then import that figma and create the compinents?

[2020-06-27 21:52] fabricedesre opened #30 "Icons request: flashlight"
## Icon Request

* Icon name: flashlight in on on/off state.
* Use case: quite obvious :)
* Screenshots of similar icons: they are not really nice, but there is  https://fontawesome.com/icons?d=gallery&q=flashlight

[2020-06-28 07:49] jletey commented on #30
@fabricedesre Something like [this](https://fontawesome.com/icons/flashlight?style=light)?

<img width="1376" alt="Screenshot 2020-06-28 at 08 49 17" src="https://user-images.githubusercontent.com/62398724/85941705-43722b80-b91c-11ea-92d7-07ff81a39079.png">

[2020-06-28 13:55] #26 closed

[2020-06-28 14:14] lscheibel opened #37 "Icon Request: `cross`"
## Icon Request

* Icon name: cross
* Use case: health or pharmacies
* Screenshots of done icon:

![image](https://user-images.githubusercontent.com/44374653/85950015-71766080-b95a-11ea-84f1-fac46df02ca8.png)

Could submit this as a PR

[2020-06-28 14:27] fabricedesre commented on #30
Yes, that's the one I linked to. Some also show a "light beam" for the "flashlight on" version

[2020-06-29 06:08] locness3 opened #40 "site: add tags for the icon"
Add tags related to the icons, like on feathericons.com. This allows for easier search and discovery of the icons.

[2020-06-30 11:10] locness3 commented on #13
Hasn't anyone got an idea?

[2020-06-30 11:23] ericfennis commented on #30
Maybe something like this? ![Screenshot_20200630-132156.jpg](https://user-images.githubusercontent.com/11825403/86120585-dfdf2e00-bad4-11ea-92bd-d1933179b318.jpg)

[2020-06-30 11:51] ericfennis commented on #13
According to this [article](https://medium.com/@danhollick/a-designers-guide-to-the-figma-api-64f2785969d8), is currently not possible with the current api.
There are currently 10 endpoints available with the api.

<img src="https://user-images.githubusercontent.com/11825403/86122402-123e5a80-bad8-11ea-99e3-3df483b3f87b.png" width="560"/>

Only possible way is I think to generate a figma file in a

[2020-06-30 15:32] locness3 commented on #13
What I thought of would be to make a shell script generating an svg, then importing that into figma

[2020-07-01 14:22] lannonbr opened #45 "Code of Conduct still has Cole's email"
I was browsing around the code and Cole Bemis's email is still in the Code of Conduct as the project contact. May want to change that.

[2020-07-01 16:28] #45 closed

[2020-07-01 16:29] jletey commented on #45
@lannonbr Thanks for stopping by 👋 And thanks for pointing that out, it has been fixed.

[2020-07-02 08:46] lscheibel commented on #37
Will submit as soon as I can 👍

[2020-07-04 19:09] ericfennis commented on #30
I tried to make some designs.
![image](https://user-images.githubusercontent.com/11825403/86519360-734c9200-be3a-11ea-8a8a-673fac51d6ca.png)

[2020-07-05 11:12] locness3 opened #50 "Icon request template : add an icon request label"

[2020-07-05 11:28] jletey commented on #30
I like the last two 🔥 What about when it's switched on?

[2020-07-05 11:29] jletey commented on #50
@locness3 I think you can do this 😁 I can do this if you want though.

[2020-07-05 16:39] ericfennis commented on #30
I think this one should be the "switched on variant". And we can also make a "off" variant, with a slash like the `wifi-off` icon.

[2020-07-05 16:48] jletey commented on #30
Sounds good, but ask @fabricedesre 😄

[2020-07-05 19:43] fabricedesre commented on #30
Fine for me! I'm not a designer, so I trust you guys on how to best convey the meaning!

[2020-07-07 01:19] mittalyashu commented on #50
There can be a GitHub action which can add a label to the issue and add it to the project.

[2020-07-07 14:55] locness3 commented on #50
No, you can specify labels to be auto-included in the issue templates, and I've done it in e8befb4 so i'll just close this

[2020-07-07 14:55] #50 closed

[2020-07-17 15:25] ericfennis commented on #30
I think the right one fits the best.

[2020-07-23 21:59] yanquisalexander opened #54 "TTF for Featherity"
Hi!

Is there any chance that Featherity can be compiled to TTF?

Thanks :hugs:

[2020-07-23 22:29] mishkaio commented on #54
There may be a different way to do this but I can do this through an icon library tool I use called Nucleo. This includes eot, ttf, woff, woff2.
[Nucleo-Fonts.zip](https://github.com/featherity/featherity/files/4969349/Nucleo-Fonts.zip)

[2020-07-24 10:04] ericfennis commented on #54
@rfbezerra created a script for generating Font files, maybe we check it out.
https://github.com/feathericons/feather/pull/608

[2020-07-24 10:18] jletey commented on #54
@mishkaio That's really neat!

@ericfennis I don't have any of those tools installed locally, but we should be able to port it no problem 😄

[2020-07-24 10:58] #30 closed

[2020-07-24 20:58] rfbezerra commented on #54
Well, today I tried to build Featherity, to tell you if it works or not.
Maybe the tools have evolved since, so I'm able to build with 3 tools (without inkscape):
- fontforge
- sfnt2woff (npm)
- fontcustom

It was build with success, with only one icon problem (icon-phone-call).
The same process worked well with Feather.

If you want to test, after install these tools, do a simple:
`fontcustom com

[2020-07-30 01:37] rfbezerra commented on #54
I made a docker image to simplicate necessary steps to build a TTF font.
If u want to check, it is this project [svg-to-ttf](https://github.com/rfbezerra/svg-to-ttf).
With that, its simple to build any ttf font from svg glyphs, e.g.:
[code]

[2020-08-18 14:19] ericfennis commented on #54
@rfbezerra Sorry for the late reply. I was on vacation.

Thanks for your work on this! Looks awesome.
I'm currently working on the NPM package for featherity
First I want to release the package, including the subpackages for Vue and React, after that I will pick this up!

[2020-08-29 21:16] #40 closed

[2020-08-31 10:53] ericfennis opened #60 "Decentralize the tags"
We currently have a tags.json file in the root, containing tags for each icons.
This to improve searching on the [site](https://featherity.netlify.app/).

The problem with adding new icons is that we often forget to update this file.
So I thought maybe we can define it also in the svg file, when opening new PRs we can submit suggestions on the svgIcon.

[code]

[2020-08-31 11:03] locness3 opened #61 "Add a little "context" to the website"
Maybe something like :

[2020-09-02 21:42] ericfennis commented on #7
I was working on an Icon, I thought this maybe fit nice as a Logo. It's in the style like the feather logo.

I was thinking maybe we can change the name as wel, I like the name featherity because idea behind it: Feather + community.
But I experienced that pronouncing the name is quite hard. I most of the times pronounce it  as "feather+ ty" or "feather+ai+ty.

Overall it's just an idea I want to s

[2020-09-03 08:00] johnletey commented on #7
Hmm @ericfennis, I like the ring of `Clover` 😁

And the icon is quite nice!

[2020-09-03 09:54] ericfennis commented on #7
thanks, first I will add it as an icon!

[2020-09-07 18:24] ericfennis opened #70 "Update CONTRIBUTING file with rule for one PR for each icon or icon series."
Regarding to the thread in #57 @llaenowyd said this:

I certain way I think this is a good idea to write this down in CONTRIBUTING file.
For me it's a little-bit of an unwritten rule that you need to submit icons or "icon series" in separate pull-requests for several reasons:

- It's easier to review
- Keeps the discussions and reviews about the icon(s) scoped and in one thread.
- All points above

[2020-09-11 12:57] llaenowyd commented on #70
I like the "icon series" aspect, kind of a middle ground that would make it easier to get consistency, esp when there's a common use case they could be likely to show up next to each other on screen in an app.

[2020-09-16 19:17] yanquisalexander commented on #54
Just to know

Does the Workflow work correctly? 😅

[2020-09-16 19:36] ericfennis commented on #54
I forgot to check, but it is working correctly!!
Link of the [artifact](https://github.com/featherity/featherity/suites/1202031238/artifacts/17790541).
I didn't test it yet.

But I don't know how we can publish this nicely?
My suggestion, maybe we need to add this to the new package, then we can serve it through unpkg.

[2020-09-20 17:12] delnyn opened #77 "Icon request: `laptop`"
## Icon Request

* Icon name: laptop
* Use case: for laptop computers
* Screenshots of similar icons:
![image](https://user-images.githubusercontent.com/45879791/93717282-1a58e400-fb75-11ea-9eb1-92472801373b.png)

*I created the icon on my own, I can send the SVG file*

[2020-09-21 11:06] ericfennis commented on #77
@delnyn Welcome to featherity!
Nice request, we will look in to it!

[2020-09-21 16:47] locness3 commented on #77
Nice to see you here @delnyn ! Please do send the svg :)

[2020-09-21 17:32] delnyn commented on #77
Thanks!
Sadly GitHub doesn't support svg file...
So I just put it in a my website's [repo](https://delnyn.github.io/laptop.svg) so you can download it.

[2020-09-21 20:17] ericfennis commented on #77
What do think of this?
![image](https://user-images.githubusercontent.com/11825403/93816713-2d90b000-fc58-11ea-9354-475364096a4d.png)

100%
![image](https://user-images.githubusercontent.com/11825403/93816733-35e8eb00-fc58-11ea-874b-ca918dd82684.png)

[2020-09-21 20:23] ericfennis opened #78 "Building icon"
## Icon Request

* Icon name:
building
* Use case:
For organisations

[2020-09-21 20:28] ericfennis opened #79 "Files/Documents"
Similar: [#579](https://github.com/feathericons/feather/pull/579)

## Icon Request

* Icon name:
files
* Use case:
For multiple files/documents

[2020-09-22 16:52] delnyn commented on #77
The tablet and the laptop are new?

[2020-09-26 16:07] ericfennis commented on #77
i totally agree to explore more things and decide which one fits the best, but following the guidelines is necessary to match it with the other icons. So please follow them.
Also I recommend you to try your icon design next to the existing device icons, like I post here above.

Feel free to post your progress in our [discord channel](https://discord.gg/EH6nSts) to get more direct feedback from the

[2020-09-26 17:53] delnyn commented on #77
@ericfennis Thank you very much!

[2020-09-27 20:37] ericfennis opened #80 "TTF is not compiling correctly, paths are mixed and a mess."
According to thread in #68  the output of the icon-font is not matching the quality of the svgs.
![image](https://user-images.githubusercontent.com/11825403/94374973-7f31b280-0110-11eb-9274-bbdbbb9c7db7.png)

## The Problems:
- overlapping paths are inverting each other.
- paths not having the rounded joins
- paths not having the rounded caps

## Step to reproduce
Download artifact from this [link

[2020-10-02 19:32] delnyn commented on #77
I had this idea but I'm not sure about it
![image](https://user-images.githubusercontent.com/45879791/94962484-d5c73400-04f6-11eb-93b4-dc328feffdd3.png)

[2020-10-03 08:19] locness3 commented on #77
It looks more in line with Feather if distinct elements have some spacing between them

[2020-10-03 13:59] delnyn commented on #77
@locness3 Well, those are not supposed to be distinct elements (cf inbox and hard drive icons)

[2020-10-03 14:14] delnyn commented on #77
What about this?
![image](https://user-images.githubusercontent.com/45879791/94993761-83882080-0593-11eb-9b30-85d5ac666aac.png)

[2020-10-03 14:29] delnyn commented on #60
That would be a lot of work

[2020-10-03 16:06] ericfennis commented on #60
That's, still thinking if it's a good idea or not.

[2020-10-03 17:26] ericfennis commented on #77
Nice work. I like this one better, can you post an image next to the other device?Like I posted before. So we can check if it match with the devices 😀

[2020-10-03 19:49] delnyn commented on #77
![image](https://user-images.githubusercontent.com/45879791/95000562-4edf8d80-05c2-11eb-8aba-46b838898b99.png)

[2020-10-05 10:48] ericfennis commented on #77
Nice work! I think the screen height can a bit higher 🤔

[2020-10-06 04:02] jerelmiller opened #83 "Icon request: file-code"
## Icon Request

* Icon name: file-code
* Use case: source code files
* Screenshots of similar icons:

<img width="123" alt="Screen Shot 2020-10-05 at 8 59 27 PM" src="https://user-images.githubusercontent.com/565661/95157372-acecac00-074d-11eb-83b3-a87bb9feffb1.png">

(source: https://fontawesome.com/icons?d=gallery&q=file-code)

Hey there 👋

I'm working on the team in the process of migrating a

[2020-10-06 19:11] ericfennis commented on #83
@jerelmiller Welcome to Lucide (before: featherity)!

Nice first issue, I think we can make this one and add it 😊.

[2020-10-06 19:43] johnletey commented on #83
Here are the icons from [Octicons](https://primer.style/octicons) @ericfennis, that I personally think look really nice!

<img width="183" alt="Screenshot 2020-10-06 at 20 42 27" src="https://user-images.githubusercontent.com/62398724/95252123-7463d580-0814-11eb-820a-8662612453cb.png"> <img width="182" alt="Screenshot 2020-10-06 at 20 42 50" src="https://user-images.githubusercontent.com/62398724/

[2020-10-06 20:00] ericfennis commented on #83
@johnletey Nice suggestions!

[2020-10-06 21:26] ericfennis commented on #83
![image](https://user-images.githubusercontent.com/11825403/95261774-42aa3900-082b-11eb-9bba-5402ffb03b43.png)

[2020-10-07 17:02] delnyn commented on #77
1px higher
![image](https://user-images.githubusercontent.com/45879791/95363293-91a9aa00-08cf-11eb-890e-7b87c72a06b6.png)

[2020-10-07 17:52] delnyn commented on #78
I just made that
![image](https://user-images.githubusercontent.com/45879791/95368621-a473ad00-08d6-11eb-9dfc-77238646b56d.png)

[2020-10-07 17:55] locness3 commented on #78
Not sure that's what was meant 😅

[2020-10-07 18:00] locness3 commented on #78
![image](https://user-images.githubusercontent.com/37651007/95369462-c02b8300-08d7-11eb-8db1-95765cbff7a5.png)
I think this is is what's being requested (from octicons)

[2020-10-07 18:03] delnyn commented on #78
oh

[2020-10-08 05:58] delnyn commented on #78
4 different icons
![image](https://user-images.githubusercontent.com/45879791/95420565-f6025300-093b-11eb-9837-55e2b0652a94.png)

[2020-10-08 07:52] ericfennis commented on #78
🤩 nice, love your work!
I think it should match with the home icon.
So number two or number 3 I think.
![image](https://user-images.githubusercontent.com/11825403/95430224-c0fdfc80-094b-11eb-9ef2-b83a1756d8e9.png)

[2020-10-08 07:57] ericfennis commented on #77
Nice I think this looks better!
Can you make a pull-request?

_If you're not familiar with that progress, just say we can help you!_

[2020-10-08 10:44] #61 closed

[2020-10-08 16:07] locness3 commented on #78
I like number 3

[2020-10-08 16:08] locness3 commented on #77
You mean "process"?

[2020-10-08 17:55] delnyn commented on #78
remade them from the `home` icon
![image](https://user-images.githubusercontent.com/45879791/95495716-16fc8f80-09a0-11eb-950e-4f91eeb49ea0.png)

[2020-10-08 17:57] locness3 commented on #78
they're thicc

[2020-10-08 18:17] ericfennis commented on #78
Nice, good work @delnyn 🔥
I love this version, I like the left one.

Can you try shrinking it 1 px. So the dots have the same padding of 2px as the top?

[2020-10-08 18:22] delnyn commented on #78
Like this?
![image](https://user-images.githubusercontent.com/45879791/95498341-f5050c00-09a3-11eb-9eae-0eaf01341846.png)

[2020-10-08 18:23] delnyn commented on #77
#88

[2020-10-11 10:45] ericfennis commented on #78
yesh!!, I like it!

[2020-10-11 10:52] delnyn commented on #78
Great! Do I PR?

[2020-10-11 12:08] johnletey commented on #78
@delnyn Go for it!

[2020-10-13 15:16] ericfennis opened #93 "John Leteys awesome icons"
@johnletey Some open/old PRs from your old account in the feather repo have some awesome icons!
I think we can add them to Lucide.

Here is a list of the icons I think are welcome to add to the Lucide repo!
- [x] Currency icons [pr](https://github.com/feathericons/feather/pull/670)
- [ ] code-2 icon [pr](https://github.com/feathericons/feather/pull/671)
- [x] file-check, file-times , folder .. [pr

[2020-10-13 15:41] locness3 opened #94 "Remove brand icons?"
Since we don't add any brand icons, I think we should remove the current ones. What do you think?

[2020-10-14 15:24] #78 closed

[2020-10-14 16:02] #77 closed

[2020-10-14 16:03] delnyn commented on #94
I agree

[2020-10-16 09:55] ericfennis commented on #94
I agree, maybe we can move the current brand icons to a separate repo. I can image people want to use it

[2020-10-19 05:24] delnyn opened #101 "Problem with system dark mode"
## Prerequisites

* Version: The website actual prod
* Are you running from source/master: Yes
* Are you using a released build: Ofc lol
* Operating system: Windows
* Bits: 64

## Step to reproduce

1. Use system dark mode
2. Erase dark mode's local storage
3. Reload page

### Actual behavior

The search bar, the "download all" button and the hovered cards are illegible.

## Resources

![image](ht

[2020-10-19 05:41] delnyn commented on #79
![files](https://user-images.githubusercontent.com/45879791/96405855-7481af00-11de-11eb-961e-f5b3e459075f.png)

[2020-10-19 07:49] locness3 commented on #79
This more feels like Copy to me

[2020-10-19 07:52] locness3 commented on #101
Same happens for me when using the Dark Website Forcer extension.

[2020-10-19 09:15] ericfennis commented on #79
I agree, I think that's because the line is at the bottom.
I like the approach, maybe it work better if we turn it around. First the file and then line in the background (top-right), so it looks more like a pile of papers.

[2020-10-19 09:20] delnyn commented on #79
Like this?
![image](https://user-images.githubusercontent.com/45879791/96426092-11534500-11fd-11eb-8b40-2cb0a967da07.png)
100%
![files(1)](https://user-images.githubusercontent.com/45879791/96426113-187a5300-11fd-11eb-80eb-48dfb78a960a.png)

[2020-10-19 09:27] ericfennis commented on #80
Fixed by #100

[2020-10-19 09:27] #80 closed

[2020-10-19 09:27] ericfennis commented on #54
Fixed by #100
Shortly I will create an solution for to download the icons

[2020-10-19 09:27] #54 closed

[2020-10-19 09:38] ericfennis commented on #101
Yeah this is a known issue from the CharkaUI library with NextJs.
@johnletey looked in to it: [thread](https://github.com/chakra-ui/chakra-ui/issues/305#issuecomment-643612615)

I tried to fix it, because they use Nextjs as well on their own website. But the fix they used, they didn't released it yet, [the fix](https://github.com/chakra-ui/chakra-ui/blob/f36aca5085822f9c6352730d8b30a5be43366df6/we

[2020-10-19 10:38] locness3 opened #103 "Update the README's Table of Contents"
The README has a lot of content added but its Table of Contents was not updated.

[2020-10-19 19:45] delnyn opened #107 "Organize Lucide in separate repos"
I'm not really working on anything else than icons, but IMO we shouldn't use only 1 repository (e.g. icons, npm package, etc...)

[2020-10-20 14:41] ericfennis commented on #79
hmm, not sure about this either 🤔
Maybe the first is better, vscode uses that one as well.

[2020-10-20 15:06] ericfennis commented on #107
No a monorepo is ideal for managing it all.

**Why?**
Because you have one single source of truth.

Benefits According to [this article from Alexander Noel](https://www.toptal.com/front-end/guide-to-monorepos) :
- One place to store all configs and tests.
- Easily refactor global features with atomic commits
- Simplified package publishing.
- Easier dependency management.
- Re-use code with shared

[2020-10-20 15:22] #103 closed

[2020-10-20 15:30] delnyn commented on #107
Oh okay

[2020-10-20 15:30] #107 closed

[2020-10-21 19:52] ericfennis commented on #79
This was the one I mentioned in the PR.
https://github.com/feathericons/feather/pull/579/commits/ea52c0d07e1ac0e5d65473cc843d53bcaa9a8784?short_path=a5783ec#diff-a5783ecdd13105936d5ddfa29892c48be4b0f88910052c5e6126c2fbd3320ed8

[2020-10-21 20:07] delnyn commented on #79
*what the hell have I done*
![image](https://user-images.githubusercontent.com/45879791/96776775-c4809180-13e9-11eb-9667-30b3b9041857.png)

[2020-10-25 19:21] ericfennis commented on #79
hmm, oke I after looking at the other options I think your first one is maybe the best choice, I can't think of better options. I agree I maybe looks a bit like 'copy files' as wel, but maybe we can embrace that with a tag: "copy files". So people can use it for both 🤷‍♂️?

[2020-10-25 19:47] delnyn commented on #79
uhm well... You opened the issue so if you're satisfied just take it.

[2020-10-25 21:18] #7 closed

[2020-10-25 21:48] #13 closed

[2020-10-26 09:37] locness3 opened #110 "Site : Allow changing the color of downloaded PNGs"
It's a bit unconvenient to download a PNG icon without being able to choose its color, you have to manually recolor the picture afterwards.
Please add a color picker, to change the color of the downloadable PNGs.

[2020-10-26 10:00] locness3 opened #112 "Write conventions for naming icons"

[2020-10-26 10:24] ericfennis commented on #110
Maybe we can add a global color adjuster, like the feather site.

[2020-10-26 10:24] ericfennis commented on #101
Fixed in #99

[2020-10-26 10:24] #101 closed

[2020-10-26 15:19] aelfric commented on #110
Can I give this one a try?

[2020-10-26 17:11] locness3 commented on #110
Sure!

[2020-10-30 12:54] cjh9 opened #115 "Droplets"
Three droplets, to use for air humidity in weather app.

[2020-10-30 12:55] cjh9 opened #116 "Uv Index"
Sun with the word UV written inside for use for UV index in weather map

[2020-10-30 13:02] cjh9 opened #117 "Rain in wind"
To use for percipation probability

Three droplets that are going diagonally, from bottom left to top right. Will look like rain that is falling in the wind.

The rain icon is not very beautiful, and the droplets should go diagonally.

[2020-10-31 11:54] ericfennis commented on #115
@cjh9 Welcome to the Lucide community, good first issue!

[2020-10-31 11:55] ericfennis commented on #117
Do you maybe have an example, maybe from an other library?

[2020-10-31 12:05] ericfennis commented on #112
Good one.

We now use more of a mix. I think I like the idea of naming the icons what is is presenting, we already do for a lot of icons, instead of naming it to the function or purpose of the icon.

[2020-10-31 12:07] #110 closed

[2020-10-31 13:30] Andreto opened #119 "Icon Requests from Fether"
## Icon Requests from [Fether](https://github.com/feathericons/feather)
### To do
Id | Title | Engagement | Linked PRs
-|------------ | ------------- | --------
[#17](https://github.com/feathericons/feather/issues/17) | Wallet | 4 | [#658](https://github.com/feathericons/feather/pull/658)
[#21](https://github.com/feathericons/feather/issues/21) | newspaper | 0 |
[#27](https://github.com/featherico

[2020-10-31 15:13] ericfennis commented on #119
Nice!

[2020-11-01 10:26] Andreto opened #122 "Minor styling issues on the webpage."
### 1. Search input border-radius on dark mode.
**Issue**
The input field has a border-radius but the `chakra-input__group css-r27y85` element is poking out underneath. On light mode this is not an issue since the color of the element is the same as the body.
![image](https://user-images.githubusercontent.com/28541538/97800151-49ae4680-1c33-11eb-98f4-2a4defefea22.png)

**Solution**
Give the `chakr

[2020-11-01 14:08] Andreto commented on #60
That would benefit the icon submission greatly. How does the search work on the page? I have little experience with react and had a hard time following the code flow. If that stuff can be dealt with, then I would happily cook together a python script that updates the SVG files.

[2020-11-01 18:41] ericfennis commented on #122
@Andreto (1) Wow didn't saw that, really sharp 😄
(2) Good point, I think the color picker can improved, I noticed it's really laggy if you drag the color picker and heu slider as wel, I think it fires too much events. @aelfric Do you have time to take a look to it?

[2020-11-01 18:48] aelfric commented on #122
Yes. I can take a look.

[2020-11-02 20:13] #83 closed

[2020-11-04 17:54] Andreto opened #124 "Alerts blocks view on the site."
**Issue**
When you copy the SVG code there is no way to close the "Copied!" alerts and they just keep stacking up and blocks the view.

**Solution**
It would be nice if they disappeared after a while and/or had a close button.

**Screenshot**
![image](https://user-images.githubusercontent.com/28541538/98150110-6f0ab100-1ece-11eb-9cfb-724bb4247bcf.png)

[2020-11-04 18:14] Andreto commented on #116
@cjh9 Does any of these matches what you are looking for?
![image](https://user-images.githubusercontent.com/28541538/98152366-e4c44c00-1ed1-11eb-9e4f-c618d34f0a7a.png)

[2020-11-04 18:52] Andreto commented on #115
@cjh9
![image](https://user-images.githubusercontent.com/28541538/98155897-46d38000-1ed7-11eb-8591-7ce1ea2f1ac3.png)

[2020-11-04 18:53] Andreto commented on #117
@cjh9 Is this what you mean?
![image](https://user-images.githubusercontent.com/28541538/98155957-64a0e500-1ed7-11eb-9514-a83c28aeba34.png)

[2020-11-05 07:08] locness3 opened #126 "Site : Don't reset query when viewing an icon"
## Prerequisites

* Operating system: Ubuntu 20.04.1 LTS
* Bits: 64

## Step to reproduce

1. Go to the Lucide website
2. Enter a search query
3. Select an icon

### Actual behavior

The searched query clears when selecting the icon.

[2020-11-05 20:37] ericfennis opened #127 "Refactor Menu Icon"
When was designing the align icons I came across the menu icon.
I like the menu icon, but I think the current one look a bit too rectangular.
So made the length of the line a bit shorter, so it is more squared.
Also the menu icon is often displayed without text and used in an squared element.

![image](https://user-images.githubusercontent.com/11825403/98293450-a18bdb00-1fae-11eb-8c43-4409f7c62201

[2020-11-05 20:39] ericfennis commented on #126
Nice catch, I will take a look!

[2020-11-05 20:51] #122 closed

[2020-11-06 07:32] Andreto commented on #127
Scaled up like in your image the new one looks a lot better. As an implementation, google uses something similar to the old one on their web and mobile-apps (about 3:2 ratio). The new one is more like what font awesome has.

![image](https://user-images.githubusercontent.com/28541538/98338102-edb83900-2009-11eb-9d7e-e4c332e4f700.png)

[2020-11-06 21:10] Andreto opened #128 "Reply, Reply All, and Forward"
**What design direction should we go in for Reply, Reply All, and Forward?**
In the request issues on Feather, two example designs were given, similar to the icons in Outlook and Gmail.

**Requests from feather:**
Reply: https://github.com/feathericons/feather/issues/380
Replay All: https://github.com/feathericons/feather/issues/381
Forward: https://github.com/feathericons/feather/issues/384

**Ou

[2020-11-07 11:46] ericfennis commented on #128
I think I like it more like this way:
Reply & reply-all : https://github.com/feathericons/feather/pull/574/files
Forward : https://github.com/feathericons/feather/pull/578

It matches way better with the rest of the arrow icons

[2020-11-07 11:50] ericfennis commented on #127
Yeah true, but that doesn't mean it's an old way.
If you look for example to figma, the design-tool I use often.
They use it as well, I think it's just an question what looks better.
![image](https://user-images.githubusercontent.com/11825403/98440191-9d1f0980-20f7-11eb-824a-9b1e824feefa.png)

[2020-11-07 11:53] ericfennis commented on #115
I think the right is more recognisable, maybe try one with the small drop more in the middle?

[2020-11-07 13:24] ericfennis commented on #116
Nice I like the right one. How does it look if the text: `uv` is centered?

[2020-11-07 14:20] Andreto commented on #116
@ericfennis
![image](https://user-images.githubusercontent.com/28541538/98443628-c5fdc980-210c-11eb-8a76-98ab2d3c45d8.png)

[2020-11-07 14:34] Andreto commented on #115
@ericfennis This also follows the 2px spacing guidelines.
![image](https://user-images.githubusercontent.com/28541538/98443888-9fd92900-210e-11eb-9d3c-7a63f7565c88.png)

[2020-11-07 14:50] Andreto commented on #128
I'm a bit skeptical about having the same icon for both reply and forward but in different directions. To me, it doesn't feel totally given that left should be reply and right should be forward. We already have normal arrows tough so maybe it's up to users to decide which icons to use.

[2020-11-07 15:41] ericfennis commented on #128
Yeah true, I'm curious what other people think about it.

[2020-11-07 15:52] ericfennis commented on #116
hmm, not sure yet.
Can you try to make the spacing in the letter U to be 2 px?

Also, I think we need to refactor the sun icon, it doesn't have the 1px safezone.
Can you try to make one with this icon?
![image](https://user-images.githubusercontent.com/11825403/98445700-5f32dd00-2119-11eb-9cd6-68546aca067b.png)
[code]

[2020-11-07 15:54] ericfennis commented on #115
Whoa I like this one!

[2020-11-11 10:13] delnyn commented on #127
I think the new one is better

[2020-11-11 10:22] delnyn commented on #128
I personally prefer the one-line icon. Also for the forward, the simple arrow (right or left whatever) works fine IMO (just like Outlook and Gmail).

[2020-11-11 12:01] ericfennis commented on #128
I agree with @delnyn, looking at gmail for example it. Here a screenshot. ![Screenshot_20201111-125900.jpg](https://user-images.githubusercontent.com/11825403/98809419-cb655780-241d-11eb-99ec-4cf02ef75e5e.jpg)

[2020-11-13 12:53] ericfennis commented on #128
@Andreto I think we can with both ideas. So designers have the choice to implement one.
I think we can rename it to `arrow-big-corner-left`, `arrow-big-corner-left-double`. So we can create more big arrows as well.

[2020-11-14 15:42] ericfennis commented on #117
@Andreto I think this is a better replacement for the `[cloud-rain](https://lucide.netlify.app/icon/cloud-rain)`. And the current one `cloud-rain` is more for heavy rain.

For the rain in wind, maybe we need to combine it with the current `wind` icon.

[2020-11-14 18:20] Andreto commented on #128
______________________
`arrow-big-corner-left` ![image](https://user-images.githubusercontent.com/28541538/99154186-1f866b00-26ae-11eb-90ff-836e57314cd5.png)

`arrow-big-corner-left-double` ![image](https://user-images.githubusercontent.com/28541538/99154189-2c0ac380-26ae-11eb-94b4-39f1e6629e21.png) / ![image](https://user-images.githubusercontent.com/28541538/99154228-74c27c80-26ae-11eb-95c7-748b

[2020-11-14 18:51] Andreto commented on #116
I'm not sure that we have to change the sun to have the right margin. I think that it was created with visual balance in mind. Of course the smaller sun would be better if you think it looks better but it shouldn't be changed just for the sake of it.
![image](https://user-images.githubusercontent.com/28541538/99154640-c02a5a00-26b1-11eb-8cff-ca8faa1df443.png) _ ![image](https://user-images.githubu

[2020-11-14 19:03] Andreto commented on #117
@ericfennis Maybe something a bit more like this then?
![image](https://user-images.githubusercontent.com/28541538/99154982-4e9fdb00-26b4-11eb-8511-2aebdc479873.png)

![image](https://user-images.githubusercontent.com/28541538/99154942-fa94f680-26b3-11eb-826d-c51ab29455ee.png)

[2020-11-14 21:10] ericfennis commented on #60
I revised this idea, I agree it will benefit the submissions, but there are some downsides.

It increases the file size.
For example the `square-x` icon is by the default 349 bytes, when adding the tags it is 402 bytes.
An increase of 53 bytes, quite a lot for a file-size that small. Imagine using 100 icons.
It is also not usable in an project if you using the svgs, the tags are only used in the s

[2020-11-14 21:10] #60 closed

[2020-11-14 21:16] ericfennis commented on #128
@Andreto Nice I like them, make sure the double arrow has 2px spacing between the lines.

[2020-11-15 09:59] locness3 commented on #116
I don't think it would be a great idea to add this icon in Lucide, it is way too specific. Wouldn't simply using the text "UV" fit your use case?

[2020-11-16 11:05] #126 closed

[2020-11-16 17:32] schwamic opened #137 "error: duplicate-react"
I use `yarn workspaces`, and as I moved `lucide-react` to the root `package.json`, I got an error: [duplicate-react](https://reactjs.org/warnings/invalid-hook-call-warning.html#duplicate-react). At the moment I fixed the problem via `yarn resolutions`, to make sure to install only one react version. I think, `react` a well as `prop-types` should be `peer-deps`.

lucide-react@0.1.2-beta.3

[2020-11-17 12:26] #124 closed

[2020-11-17 19:07] ericfennis commented on #137
@schwamic Thank you for creating this issue, I will look in to it!

[2020-11-17 19:11] #79 closed

[2020-11-17 19:39] ericfennis opened #140 "Create documentation section in the site."
I'm almost done with creating the react package, and for that I need to write some documentation as well.
With that, maybe it is nice to centralize the documentation.

I got a bit inspired by the [ChakraUI website](https://chakra-ui.com/docs/getting-started), I think they have an great, simple and nice looking documentation site. I noticed they use their own UI + next.js, the same as we do. And th

[2020-11-19 16:38] ericfennis commented on #127
Closed by #136

[2020-11-19 16:38] #127 closed

[2020-11-19 16:41] ericfennis commented on #37
Any progress on this @lscheibel

[2020-11-19 19:54] llaenowyd opened #144 "playing card suit symbols"
I put together a solitaire game for android. First I tried using the unicode symbols, but was surprised to learn that they commonly receive a fixed coloring when rendered as text (i.e. spades and clubs are black and diamonds and hearts rendered red, despite explicit application text styles). This was true in my case, due to whatever rendering engine treats Flutter `Text` elements.

So I looked for

[2020-11-19 20:10] ericfennis commented on #144
@llaenowyd Nice request!!

[2020-11-19 20:12] ericfennis commented on #137
@schwamic I added `react` and `prop-types` as peer deps, I released it on `lucide-react@0.1.2-beta.5`
I'm curious you still experience this issue, let me know.

[2020-11-20 16:46] locness3 commented on #144
I'm not sure we would be able to do better than other SVG icon sets, especially given the fact that Lucide has its own design style that icons all follow...

[2020-11-20 19:47] llaenowyd commented on #144
Yes, the existing heart icon reminds me more of the "not-so-great" clubs example above, it's very mild.

Thus, the direction I want to take would probably arrive at a `suit-hearts.svg` that is differently shaped than the existing `heart.svg`, which I think might be where those stylistic concerns would be clearly in conflict.

I don't have much dog in the fight - at best I'd have to pick the SVG ou

[2020-11-20 21:45] llaenowyd commented on #144
Another similar example, I need these to have square joins to get that sharper look I'm going for.

Ok good talk! 😄

[2020-11-20 21:45] #144 closed

[2020-11-21 12:29] schwamic commented on #137
@ericfennis thank you for the improvements! Now works without `yarn resolutions`.

[2020-11-21 13:04] ericfennis commented on #137
@schwamic great to hear that, thanks for testing.

[2020-11-21 13:04] #137 closed

[2020-11-21 13:41] ericfennis commented on #117
@Andreto to me it looks a bit weird, because the wind is above the cloud. I think it is more obvious that the wind is under the cloud.

[2020-11-21 22:46] cjh9 commented on #116
@Andreto Great! Exactly what I had in mind.

[2020-11-21 22:56] cjh9 commented on #117
@Andreto Rain in wind looks great! This is what I had in mind.
![Screenshot from 2020-11-21 23-50-36](https://user-images.githubusercontent.com/18718330/99889413-220c3600-2c55-11eb-8b2b-3e0bf5fce5ec.png)

[2020-11-21 22:58] cjh9 commented on #115
@Andreto  Cool! I like both, maybe the three droplet a bit more. Maybe can keep both and name them two-droplets and three-droplets?

[2020-11-21 23:10] cjh9 opened #146 "Different weather icons"
Sorry for posting so many issues, thank you for a great fork!! Exactly what I've been looking for. I have some more suggestions for weather icons:

Hot weather: A thermometer with a sun
Windy weather: Three curvy strokes that looks like someone is blowing.
Heavy showers: Cloud with rain that goes diagonally,
Cold temperature: Thermometer with a snowflake.
Clear night: Moon but with two stars, one

[2020-11-21 23:15] cjh9 opened #147 "Nautical dusk, astronomical dusk and dawn."
Super specific request, you may close this. I figure it could be possible to do a boat and telescope (tripod with a tube) in svg.

Nautical dusk: Sunset with a boat in the background.
Astronomical dusk: Sunset with a telescope in the background

Nautical dawn: Sunrise with a boat in the background.
Astronomical dawn: Sunrise with a telescope in the background.

[2020-11-22 11:49] Andreto commented on #146
@cjh9 Like @locness3 mentioned in another issue, most of these are probably a bit too specific for the lucide icon set. I'll have a go at it tho and if I manage to do some good ones I can post the code in another repo.

[2020-11-27 12:29] ericfennis commented on #147
@cjh9 yeah sorry,  this way to specific for an icon library.
This is more of an illustration.

But separate icons for a telescope and a boat can be good icon requests, but please open them in separate requests.

[2020-11-27 12:29] #147 closed

[2020-11-27 12:41] ericfennis commented on #146
Some of them I think we already have, some are I think are too specific and some are I think are good ideas

Windy weather: I think [`wind`](https://lucide.netlify.app/icon/wind) can be used here.
Heavy showers: This one is a good idea, maybe a variation from the icon from @Andreto in #117 ?
Cold temperature: Too specific.
Clear night: Too specific?.
Partly cloudy: This one is good idea. -> `cloud

[2020-12-02 07:53] ahtohbi4 commented on #119
I missed something major.

If you still wish I could add my icons from festhericons PRs. But it will require time.

[2020-12-02 12:42] locness3 commented on #119
No problem, take your time!

[2020-12-02 13:46] #70 closed

[2020-12-04 14:22] Andreto commented on #128
@ericfennis Sorry for being a bit inactive lately, I've had a lot to do in school.
Two questions regarding the thin forward and reply icons.

**1.** How long should the line on the right be. I prefer the ones where it sticks out a bit. Looks more balanced in my opinion.
![image](https://user-images.githubusercontent.com/28541538/101173862-6a5b2900-3643-11eb-8521-8efc5c65d92f.png)

![image](https:/

[2020-12-04 17:31] locness3 opened #154 "Ensure Netlify's deploy preview can build the site for icon pull requests"
To be able to preview icons as they will appear on the site

[2020-12-04 20:44] delnyn commented on #128
IMO the middle one is the best

[2020-12-06 20:10] ericfennis commented on #128
@Andreto No problem, your education is always more important!

I'm like number one en number two. For the name, hmm, `arrow-corner-up-left` or `arrow-bend-up-left`?
But `arrow-corner-up-left`is maybe too close to the `corner-**` icons. There is also an option maybe to replace the current `corner-**` but I'm not sure what the rest of the community will think about that idea.

[2020-12-07 08:14] ericfennis commented on #154
@johnletey Can you maybe check in the netlify dashboard what we doing wrong?

[2020-12-18 22:03] csandman opened #156 "Locate icon"
## Icon Request

* Icon name: locate
* Use case: on map type applications, find the location of the user
* Screenshots of similar icons:  I actually already made one, and want to submit it but I'd like others' opinions on which one is best.  Personally I like the bottom right one the best, it sticks to the "simpler is better" theme that feather has going on and follows all the rules.

![image](htt

[2020-12-20 13:30] ericfennis commented on #156
@csandman Welcome to Lucide!
Love the icons, I think right-top or left-bottom looks the best to me.

Can you maybe post and image with the icons on 100% view (when they are small).

[2020-12-20 15:18] ericfennis commented on #94
@locness3 @delnyn What about the idea, to create a separate package in packges folder called: 'lucide-brands'. We can move all the brand icons to this separate package, if people like to have this type of brand icons they can use the package.
In the readme we can notice that the brand icons are deprecated and we don't update/maintain them.

[2020-12-20 21:16] delnyn commented on #94
Oh yes! Should I clone this one and remove the icons?

[2020-12-20 21:35] delnyn commented on #156
Isn't the `crosshair` icon similar?

[2020-12-21 07:35] locness3 commented on #156
It is! We should add tags to it

[2020-12-21 07:37] locness3 commented on #94
I don't know, but I think it'd be best if people didn't use them.

[2020-12-21 07:46] Andreto commented on #156
`crosshair` is similar but it doesn't have the same use-case.

[2020-12-21 09:14] delnyn commented on #156
@Andreto couldn't  `map-pin` also work for this use case?

[2020-12-21 10:20] locness3 commented on #156
Not exactly! the requested icon is for a button for finding the current position of the user, while map-pin is for representing a specific point on a map (or an action related to that)

[2020-12-21 11:18] #154 closed

[2020-12-21 11:20] ericfennis commented on #156
Yeah like the button in the right down corner in Google maps app.

[2020-12-21 11:45] locness3 commented on #156
I would have used this example too.

[2020-12-21 15:58] csandman commented on #156
I think the closest example for the use case that currently exists is the `navigation` icon however I think this offers an alternative to that icon with a slightly different meaning.  For example I'm currently using this in my application as a "center" and "reset zoom" icon.

Here are the icons in context of the site so you can see what they look like smaller:

![image](https://user-images.githubu

[2020-12-21 16:16] ericfennis commented on #156
I agree with you, seeing this on 100%. I like num 1 and 4 as wel. But num looks ok to me.
I also came up with the idea, maybe we can include num 4 and num 2 together.
- Num 4 as `locate`
- Num 2 as `locate-active`

Just an idea, let me know what you think .

[2020-12-21 16:19] csandman commented on #156
@ericfennis I'm confused now, are you saying you want to include number 1 and 4 together or number 2 and 4 together?

[2020-12-21 16:23] csandman commented on #156
as far as combining 2 of them goes, I think the spacing on 1 is better here, the small circle in the center looks scrunched up.  So I could match the last one's circle size to 1 and we could add both of those with the active/base names.

![image](https://user-images.githubusercontent.com/9214195/102798337-f0cf7480-437e-11eb-8171-7e0b66f0feb8.png)

[2020-12-21 16:28] csandman commented on #156
also I found some actual examples for those that are curious, here are the Material icons that are equivalent to this:

![image](https://user-images.githubusercontent.com/9214195/102798859-b1edee80-437f-11eb-829c-7abc8bc21431.png)

[2020-12-21 16:34] ericfennis commented on #156
@csandman Sorry for the confusion.
The icons you posted here above looks awesome!

Maybe `locate-fixed` is better.. 🤔

[2020-12-21 16:36] csandman commented on #156
I could change it to `locate-fixed`!  Would you like me to submit a PR?

[2020-12-21 18:33] ericfennis commented on #156
Yes please!

[2020-12-21 18:53] csandman commented on #156
@ericfennis I set up my local environment and it appears that I'm having some issues.  For one, the `npm start` command isn't working:

![image](https://user-images.githubusercontent.com/9214195/102810806-5ed16700-4392-11eb-8b77-4a7b463a793e.png)

I was able to fix it by changing the command to `babel --watch src --out-dir build` however I'm not sure if this is the correct fix to the issue.

My ot

[2020-12-21 21:01] ericfennis commented on #156
Optimize script is not working wel, I need to fix that.
We recommend to use [SVGOMG](https://jakearchibald.github.io/svgomg);
And after it I mostly format the code by myself.

[2020-12-21 21:01] ericfennis commented on #156
If you need help, I can help you with that.

[2020-12-21 23:03] csandman commented on #156
@ericfennis So I worked it a bit and fixed the optimize script.  I can submit a PR for that if you'd like. However after running it many of the existing icons have slightly modified code.  So I'm not sure how you'd like to proceed with that, I can submit a PR for just the changes to the script and you could try it out.

[2020-12-22 20:01] #156 closed

[2020-12-29 10:50] mittalyashu commented on #94
How about create deprecated section for icons instead of completely removing them?

[2020-12-29 13:18] dgdavid commented on #94
Just for the record, this [is/was also a concern in the Feather project](https://github.com/feathericons/feather/issues/763), where is stated that

[2021-01-07 17:19] lscheibel commented on #37
Hey, sorry for being inactive for so long. I sorta forgot about this 😅

![image](https://user-images.githubusercontent.com/44374653/103922802-91aa8780-5114-11eb-848a-f519d9871fb9.png)

I prefer B with a border-radius of 1 px on the outer edges. What do you think?

[2021-01-08 17:10] locness3 commented on #37
I prefer A

[2021-01-08 19:12] ericfennis commented on #37
I prefer B

[2021-01-11 09:41] lscheibel commented on #37
100% View
![image](https://user-images.githubusercontent.com/44374653/104165117-3e2c8800-53f9-11eb-9e3d-49af2d52616d.png)

Pixel preview
![image](https://user-images.githubusercontent.com/44374653/104165173-4e446780-53f9-11eb-87ad-be3d09517cf7.png)

Maybe this helps with deciding 😄

[2021-01-11 10:22] ericfennis commented on #37
@lscheibel Nice thanks for sharing. I think A or B.
What's your own opinion?

[2021-01-11 21:19] lscheibel commented on #37
~~I think B~~ actually I changed my mind to A. While B imo preserves the "cross" a bit better, the more round one seems to fit a bit better in the overall asthetic? Everytime I look at it my opinion changes 😄

![image](https://user-images.githubusercontent.com/44374653/104239225-744e2400-545a-11eb-82c4-8cbcb9ab7486.png)

[2021-01-13 01:19] wayne-shih opened #169 "[website] modification status indicator for icons"
since this is a fork of feather icons, would be good to have some sort of indication for icon status.

ie. whether an icon is —
(a) unchanged from feather,
(b) modified from feather, or
(c) new icon not shipped in feather.

This could either be a standalone docs page on GH or if integrated into https://lucide.netlify.app it could be in the form of a dot or triangle

as there's currently no changel

[2021-01-13 08:54] keyilan opened #170 "Creative Commons (cc) icon request"
## Icon Request

* Icon name: Creative Commons
* Use case: alternate version of copyright and copyleft for cases where the license is specifically a CC license.

Ideally, an icon for each of the possible license types, but at minimum just the cc enclosed in a circle. I will design them myself in the coming week or two if no one else does.

[2021-01-13 15:22] ericfennis commented on #146
@cjh9 @Andreto @locness3
I rethought this issue. I think some weather icons are welcome. Would lovely to see if there someone makes a weather application using lucide. The current ones aren't suitable for this purpose because we missing a lot of icons.

I followed the icons that apple uses see this [thread](https://discussions.apple.com/thread/6114620), Because we can't use color we can't make dif

[2021-01-13 15:43] locness3 commented on #170
I'd kinda count this as a brand icon, but it can be useful beyond typical use cases for brand icons.

[2021-01-13 19:30] keyilan commented on #170
the brand-iness did occur to me, but this seems like it's of a different type than twitter, since this is effectively a more specific sort of copyleft icon. so, if this is rejected due to being a brand, i get it and part of me predicted as much, but if people are open to it i'm happy to submit SVGs once they're designed.

[2021-01-14 04:37] mittalyashu commented on #128
How about without joining this part?

![CleanShot 2021-01-14 at 10 06 53@2x](https://user-images.githubusercontent.com/29014463/104545544-577b4180-5650-11eb-81f8-910b2fe7e840.png)

[2021-01-14 07:42] ericfennis commented on #37
I'm with you, both looks have their advantages.
I let you choose which one you want to add!

[2021-01-14 20:28] ericfennis commented on #170
I think we can create an icon for it, but also make it possible for multiple use cases.
For example for captions in video players or video conference call, like Google uses in Google Meet:
![image](https://user-images.githubusercontent.com/11825403/104645289-29791a00-56af-11eb-8164-37bca8d5e6be.png)

[2021-01-16 12:24] ashdesigns opened #171 "Lucide Icon plugin for figma"
luicide icons are soo underrated, why don't you guys develop a plugin for Figma?

[2021-01-16 18:00] lscheibel commented on #37
Choose A now and updated the PR

[2021-01-16 18:16] locness3 commented on #171
Well, this is a still a pretty new project.

I agree that a Figma plugin would be nice (knowing that we mostly use figma for making the icons)

[2021-01-17 08:27] locness3 commented on #170
meh, creative commons is a circle

[2021-01-17 08:28] locness3 commented on #170
Would like to mention that Simple Icons has one : https://simpleicons.org/?q=creative%20commons

[2021-01-17 09:51] delnyn commented on #171
yes I asked for that a long time ago

I think we could get the icons using the Github REST API?
https://docs.github.com/en/rest/reference/repos#contents

[2021-01-18 20:44] ericfennis commented on #171
@ashdesigns I agree would be nice to have a figma plugin. Maybe we can port the feather one, and make some adjustments 🤔 .

[2021-01-19 18:42] atar-axis opened #172 "Infinity"
## Icon Request

* Icon name: infinity
* Use case: for headlines
* Suggestion:
![105054324-26e14080-5a72-11eb-83c7-9e61d81cc14c](https://user-images.githubusercontent.com/11148588/105078540-733a7980-5a8e-11eb-98d7-a584cec05720.png)

[2021-01-19 18:43] atar-axis commented on #172
[Hintergrund.pdf](https://github.com/lucide-icons/lucide/files/5837934/Hintergrund.pdf)
If this is ok, then I can upload whatever format you need :)

[2021-01-22 16:28] #37 closed

[2021-01-22 16:30] ericfennis commented on #172
Nice suggestion!

[2021-01-22 17:55] Andreto commented on #128
@mittalyashu How do you mean? Like this?
![image](https://user-images.githubusercontent.com/28541538/105526831-374c2200-5ce3-11eb-9b7f-322a1ea24cce.png)

[2021-01-22 17:58] mittalyashu commented on #128
@Andreto Quite similar but the gap seems to be bit uneven.

An even spacing might look good for example:

<img width="109" alt="CleanShot 2021-01-22 at 23 26 49@2x" src="https://user-images.githubusercontent.com/29014463/105527219-6aa1a780-5d09-11eb-98e9-a25b21c81b5c.png">

<img width="119" alt="CleanShot 2021-01-22 at 23 26 32@2x" src="https://user-images.githubusercontent.com/29014463/105527223-

[2021-01-24 16:35] noobkid2411 commented on #170
Hi,this is Sonakshi. I would like to work on this issue. Can you elaborate if you want a single icon or multiple icons?

[2021-01-25 03:18] ashdesigns commented on #171
that's a great idea, the feather plugin is opensource.

[2021-01-26 13:10] keyilan commented on #170
If it were up to me I'd love to see an icon for each of the different license flags, so multiple icons if my vote is the only one that matters.

[2021-01-27 06:16] mittalyashu commented on #169
We can create a `changelog.yml` file which can work as an actual changelog for the icons and to show the status (new or modified) on icon itself.

**changelog.yaml**
[code]

[2021-01-27 18:47] #172 closed

[2021-01-27 23:43] atar-axis opened #183 "Skull"
## Icon Request

* Icon name: skull
* Use case: Headlines
* Suggestion:
![Hintergrund@3x](https://user-images.githubusercontent.com/11148588/106068959-ce5d1380-6101-11eb-8ed3-f334487cfb0a.jpg)

[2021-01-27 23:45] atar-axis commented on #183
[Hintergrund.pdf](https://github.com/lucide-icons/lucide/files/5883777/Hintergrund.pdf)

[2021-01-27 23:52] atar-axis commented on #183
[Skull2.pdf](https://github.com/lucide-icons/lucide/files/5883811/Hintergrund.pdf)
![Hintergrund@3x](https://user-images.githubusercontent.com/11148588/106069602-17619780-6103-11eb-90a0-92f289186f00.jpg)

[2021-01-28 13:24] atar-axis commented on #183
Are those irregular shapes allowed?

[2021-01-31 12:31] ericfennis commented on #183
@atar-axis Welcome to the the Lucide project!
Yeah it's prefered to use basic shapes if possible.

[2021-01-31 12:36] ericfennis commented on #183
Maybe we can inspire some from this image
![image](https://user-images.githubusercontent.com/11825403/106384001-0fd31480-63c9-11eb-99b0-07030124ce9b.png)

[2021-01-31 12:51] atar-axis commented on #183
Oh I like those! Which one would you prefer?

[2021-01-31 13:08] uiuxarghya opened #186 "Question"
Can you please tell me where to put new icons to be visible on the site when it's deployed?

[2021-02-01 21:54] ericfennis commented on #183
I think the 3th one of the bottom row.

[2021-02-02 10:11] mittalyashu commented on #186
Can you elaborate a bit didn't understood your question? @uiuxarghya

[2021-02-02 10:44] uiuxarghya commented on #186
I want to make my icon collection like that so I am asking that where to place the icons in the code so it will be displayed on the site when the my site will be published.

[2021-02-02 10:52] mittalyashu commented on #186
@uiuxarghya You can look into the codebase of Lucide site https://github.com/lucide-icons/lucide/tree/master/site

[2021-02-03 07:59] mittalyashu commented on #186
@uiuxarghya does this answer your question?

[2021-02-03 07:59] mittalyashu commented on #169
@ericfennis your thoughts on https://github.com/lucide-icons/lucide/issues/169#issuecomment-768059869

[2021-02-03 08:21] uiuxarghya commented on #186
No not at all. I am not getting it.

[2021-02-03 10:05] mittalyashu commented on #186
@uiuxarghya So, I believe, you're asking how to show the icons (you have created) on the website.

Am I correct?

[2021-02-03 10:13] uiuxarghya commented on #186
Ya sure I want to make a pack of icons of mine an to publish it in the site.

[2021-02-03 10:16] mittalyashu commented on #186
Right.

That's why I shared the link to Lucide site source from where you can get the reference to build your own site.

[2021-02-03 12:06] ericfennis commented on #169
I was thinking to use the github api, read the history of each icon and check if has only one commit with message 'fork'. The initial commit of lucide repo. So we can check which icon is modified or not

[2021-02-04 19:31] ericfennis commented on #186
If you made icons, you can export them to svgs.
For the implementation of svgs I suggest you to read this site: https://svgontheweb.com/#svg
If you have more problems or questions about svgs, I will refer you to: https://stackoverflow.com/questions/tagged/svg

I assume your issue has nothing do with the Lucide project or Lucide Community so I close this.

[2021-02-04 19:31] #186 closed

[2021-02-05 17:38] locness3 commented on #169
Also, can't we difference between added and modified, if the diff is only about adding stuff?

[2021-02-09 13:23] Aviortheking opened #226 "Typescript typing"
## Prerequisites

* Version: lucide-react 0.13
* Are you running from source/master: nop
* Are you using a released build: yes
* Operating system: don't matter
* Bits:

Adding Typing for Typescript would be awesome as it is the only thing that don't move me from `react-feather` to `lucid-react` :D

[2021-02-10 20:14] ericfennis commented on #226
Thanks for posting this @Aviortheking, this is high on my list! Will look in to it soon!

[2021-02-12 19:38] #169 closed

[2021-02-19 05:09] mittalyashu commented on #116
Shouldn't there be some guidelines for working with alphabets in icons?

[2021-02-19 12:44] locness3 commented on #116
Yes!

[2021-02-22 20:00] ericfennis commented on #171
Update about this project, I'm sort of done with the first version of the plugin.
I used the code of the feather project made some adjustments so it will work with Lucide.
I already submitted a first version to the figma team to review, so I hope very soon they will give some feadback or release it 😄

**Sneak preview 👀 **
![image](https://user-images.githubusercontent.com/11825403/108762402-577438

[2021-02-23 06:34] ashdesigns commented on #171
This is really cool! Looking forward to use this plugin in my projects.

[2021-02-23 13:23] ericfennis commented on #171
@ashdesigns Just got the email from the Figma team, the plugin is approved so you can now use it 😄 🔥
![image](https://user-images.githubusercontent.com/11825403/108849591-99e65580-75e2-11eb-894c-d19d0b00bc05.png)

[2021-02-24 22:11] delnyn commented on #93
Also the `file-check, file-times , folder .. pr` is already resolved :)

[2021-02-25 06:35] locness3 commented on #93
Checked it

[2021-02-26 15:29] ashdesigns commented on #171
Dude, I'm using the plugin It's super awesome. though I've some feedback I'll share it properly. Nice work bro.

[2021-02-26 15:35] ericfennis commented on #171
@ashdesigns Thanks!!
Yeah let me know.

[2021-02-26 15:35] #171 closed

[2021-02-26 18:30] llaenowyd opened #242 "question - strokeWidth prop in React component"
Noticed [the `strokeWidth` prop in the React component](https://github.com/lucide-icons/lucide/blob/87ab0bfb626df8b267e81cc419475e41d699f127/packages/lucide-react/src/createReactComponent.js#L6), is not listed in the `propTypes`, is there any reason it shouldn't be used?

In my case I'm using this React component for inspiration as I'm writing some app code and curious to know if there's a problem

[2021-02-27 10:21] ericfennis commented on #242
@llaenowyd thanks for noticing this. I think renamed something lately, but forgot to update the proptypes.
I will create a hotfix for that!

[2021-02-27 13:16] ericfennis commented on #242
Fixed with hotfix: https://github.com/lucide-icons/lucide/releases/tag/v0.14.1

[2021-02-27 13:16] #242 closed

[2021-02-27 14:03] FPDK opened #244 "Identical keys are being generated if SVG props are identical"
## Prerequisites

* Version: 0.14.1
* Are you running from source/master: no
* Are you using a released build: yes

## Step to reproduce

Insert a UploadCloud icon in a React app
Watch console for error

### Actual behavior

## Any message or error

[code]

Looking at the generated upload-cloud.js file we can see that there are two duplicate keys with the name 8cfiuk

[code]

[2021-02-27 19:20] llaenowyd commented on #242
I see, ok - thanks!

[2021-02-28 15:22] ericfennis commented on #115
@Andreto Can you submit this icon? So we can close this issue.

[2021-03-02 19:22] ericfennis commented on #183
@atar-axis What do you think of this?
![image](https://user-images.githubusercontent.com/11825403/109702791-fe7e5300-7b94-11eb-82a8-0ea851dca622.png)

[2021-03-02 19:24] ericfennis commented on #115
closed by #248

[2021-03-02 19:24] #115 closed

[2021-03-03 15:04] locness3 opened #250 "Tags needed!"
Recently a lot of icons have been released without any tags. I think we can't mark an icon done if it doesn't have tags... Please add some!

[2021-03-03 15:16] #117 closed

[2021-03-05 10:44] mittalyashu opened #252 "Is icon available in package or not?"
Show some kind of badge or text to represent if the respective icon is available in the react/vue package or not.

[2021-03-05 16:26] locness3 commented on #252
How would the website know that

[2021-03-07 10:28] ericfennis commented on #252
I think we should go to a CI solution, for every push to master we create a new version. I think if we implement that, this is also not a problem.

[2021-03-09 09:38] #250 closed

[2021-03-16 10:30] SMAH1 opened #263 "Icon is abnormal in windows explorer."
## Prerequisites

Version: 0.14.0
Install: by npm
Operating system: Windows 10
Bits: 64 bits

## Description
When see large icon in windows explorer, some of icon is abnormal. like `alert-triangle`.

![diff-alert-triangle](https://user-images.githubusercontent.com/21136680/111294630-c4668400-865f-11eb-8f8b-e3bbf264bd41.png)

But it works in Firefox, edge, chrome, gimp, inkscape.

I check detail in

[2021-03-16 10:44] SMAH1 opened #264 "Wrong version number in js files"
## Prerequisites

Version: 0.14.0
Install: by npm
Operating system: Windows 10
Bits: 64 bits

## Description

In begin of files:
[code]

see:

[code]

[2021-03-16 12:16] locness3 commented on #263
yeah just switch to linux

[2021-03-18 06:29] SMAH1 opened #266 "lucide-vue in npm is 0.14.0"
## Prerequisites

Version: lucide-vue 0.14.0
Install: from npm
Operating system: Windows
Bits: 64 bits

## Description
last version of `lucide-vue` is `0.14.0` (this [link](https://www.npmjs.com/package/lucide-vue)) but last version of `lucide` and `lucide-react` is `0.14.1` (this [link](https://www.npmjs.com/package/lucide-react)).

[2021-03-18 06:34] SMAH1 opened #267 "lucide-react has not index.d.ts"
## Prerequisites

Version: lucide-react 0.14.1
Install: npm & build
Operating system: Widows & linux
Bits: 64 bits

## Description

When install by `npm`, there are not any 'd.ts' files in /node_modules/lucide-react.
When `build` in ubuntu from source, create `index.d.ts` in dist folder of lucide-react.

[2021-03-18 09:58] wayne-shih opened #268 "Design discussion(/bug?): `download-cloud` & `upload-cloud`"
wondering if `download-cloud` and `upload-cloud` is the wrong way round?
If not, what was the intention behind it?

<img width="365" alt="Screen Shot 2021-03-18 at 10 53 26 PM" src="https://user-images.githubusercontent.com/51947763/111607141-d9e4d500-883c-11eb-8b6b-cccb22b55e95.png"> <img width="361" alt="Screen Shot 2021-03-18 at 10 53 42 PM" src="https://user-images.githubusercontent.com/519477

[2021-03-18 10:23] ericfennis commented on #267
@SMAH1 First of all welcome to the Lucice community!

Thanks for this issue. We are working on this. Yesterday I merged #243, this will be included in the next release!

[2021-03-18 10:27] ericfennis commented on #263
Hmm interesting, I think this has something to do with SVGO optimisations, I think windows doesn't support the short syntax. Do you use additional plugins in windows explorer to display svgs or is it natively supported?

[2021-03-18 10:29] ericfennis commented on #268
@wayne-shih Welcome to the lucide project, thanks for this issue.

You're totally right, I think I switched them. Lucky we didn't released the new cloud icons yet.
I will create PR for it soon. Thanks!

[2021-03-18 10:51] SMAH1 commented on #263
I use default config in windows. but set `Open with` for `Microsoft Edge`

[2021-03-18 15:03] locness3 commented on #263
Doesn't it use IE to render those though?

[2021-03-19 12:01] SMAH1 commented on #263
It does not matter what it opens with
![Untitled](https://user-images.githubusercontent.com/21136680/111777155-25909080-88c8-11eb-8cf1-8439c8de2cd4.png)

[2021-03-19 15:03] SMAH1 opened #270 "When publish next version"
What is policy for publishing each version? When will the next version be released?

[2021-03-19 16:51] ericfennis commented on #270
I hope this weekend or next week.
I'm currently working on the implementation of yarn workspaces, I'm almost done with it.

[2021-03-19 17:43] ericfennis commented on #170
See @locness3 response, for brand icons use simple icons.

I close this one for now.

[2021-03-20 08:38] #268 closed

[2021-03-20 09:06] ericfennis commented on #266
@SMAH1 No last version of [lucide](https://www.npmjs.com/package/lucide) is `0.14.0`. It's correct that `lucide-react` is on `0.14.1`, because it got an hotfix. See [release notes](https://github.com/lucide-icons/lucide/releases/tag/v0.14.1)

[2021-03-20 09:06] #266 closed

[2021-03-21 13:23] ericfennis commented on #264
@SMAH1 I Found the issue, in the release workflow for github actions. I create a new version after the build.
I will move that step to beginning. Thanks for reporting this issue. Will be fixed in the next release.

[2021-03-23 18:26] #226 closed

[2021-03-23 18:26] #244 closed

[2021-03-23 18:26] #264 closed

[2021-03-23 18:26] #267 closed

[2021-03-23 18:26] #270 closed

[2021-03-25 15:19] SMAH1 opened #273 "Lucide version 0.15 not work in angular"
## Prerequisites

Version: 0.15.0
Running from: angular 11 (webpack)
Operating system: linux
Bits: 64 bits

## Description

After add `lucide` to project and use it like:
[code]

show error:

[code]
![image](https://user-images.githubusercontent.com/21136680/112497405-35661400-8da3-11eb-8fce-b938ac97b243.png)

[2021-03-27 14:42] ericfennis commented on #273
@SMAH1 Thank for posting this. I will look in to it.

[2021-03-27 18:58] knoan opened #274 "Feature / Preact package"
Add a package for https://preactjs.com/ along the line of `lucide-react`.

[2021-03-27 19:09] locness3 commented on #274
I didn't know this, looks nice

[2021-03-28 19:42] ericfennis commented on #274
Good idea @knoan !

[2021-03-29 05:25] locness3 commented on #274
How does lucide-react work with Preact already?

[2021-03-29 06:17] knoan commented on #274
I guess it could work using [preact compatibility layer ](https://github.com/preactjs/preact-compat), but that would negate to some extent preact advantages.

[2021-03-29 06:24] ericfennis commented on #274
I think it's better to create a new package. I think it's not a lot of work. Because we can use a lot of the `lucide-react` package.

[2021-03-29 06:27] ericfennis commented on #273
@SMAH1 I'm working on this. Sorry I didn't test it properly. Hope to rollout the fix to today.

[2021-03-30 13:24] SMAH1 opened #275 "No delete stats folder after clean"
## Prerequisites

Version: 0.15.0 (build by npm commands)
Operating system: Ubuntu
Bits: 64 bits

## Description

1) Build `lucide` and `lucide-react` and `lucide-vue`
2) Clean `lucide` and `lucide-react` and `lucide-vue` use `yarn ... clean`
3) In project folder there are two extra folders: `<PROJECT>\stats` and `<PROJECT>\packages\lucide\stats`

[2021-04-03 14:40] #275 closed

[2021-04-04 03:03] mittalyashu commented on #274
Not sure about the compatibility.

@knoan did you tried using `lucide-react` package?

[2021-04-04 15:06] mittalyashu commented on #252
@ericfennis @locness3 How to release icon on website only when they’re included in the package.

[2021-04-04 20:54] ericfennis commented on #252
@mittalyashu I think the ideal solution is Continuous integration, with that building this is not even needed.

I'm working on a CI workflow for icons. So if icons are pushed to master. We create new tag and build new packages. So the icons in the packages will be the same as on the site.

[2021-04-05 15:18] #93 closed

[2021-04-06 05:49] knoan commented on #274
Preact's compatibility layer is intended to bridge React libraries, so it *should* work, but I'm just guessing :-(

[2021-04-06 05:53] knoan commented on #274
However, my suggestion is to have a native Preact package: I'd rather stay with React than use a backward compatibility layer with Preact.

[2021-04-06 09:11] SMAH1 commented on #275
I checked it.
`<PROJECT>\packages\lucide\stats` was deleted after clean.
But `<PROJECT>\stats` was not deleted!

[2021-04-06 13:11] cvialard-astro opened #283 "Icon Request: Signal level"
Name : Signal 1,2,3,4, no-signal, signal-research
Is it possible to have something like that :
![signal-indicator](https://user-images.githubusercontent.com/82038049/113715366-b7323780-96e9-11eb-833f-1513eeb5f596.jpg)

Thank you for your help

[2021-04-06 22:07] ericfennis commented on #274
@knoan Yeah we must make it a seperate package. That's the best for preact devs.
I think I will just word the same. I think it's just not al lot of work to make it work. I will start on it soon!

[2021-04-11 17:18] ericfennis commented on #273
Fixed in [v0.15.1](https://github.com/lucide-icons/lucide/releases/tag/v0.15.1)

[2021-04-11 17:18] #273 closed

[2021-04-14 15:50] ericfennis commented on #116
I agree with @locness3 this icons is too specific.
I close this for now.

[2021-04-14 15:50] #116 closed

[2021-04-15 21:54] farism opened #290 "Svelte package"
Would love to have a Svelte library exposed for Lucide icons, would there be interest in this from the package maintainers?

[2021-04-16 22:41] ericfennis commented on #290
Good idea, I will add it to our roadmap!

[2021-04-17 08:43] locness3 commented on #263
I think we can say this is not our fault, and a windows bug - this doesn't happen anywhere else.

[2021-04-17 08:43] #263 closed

[2021-04-18 10:20] AdamSGit opened #292 "Vue 3 issue when using the Vue package"
## Prerequisites

* Version: lucide-vue@0.15.1
* Are you running from source/master: No
* Are you using a released build: lucide-vue on NPM
* Operating system: MacOs 10.15.7
* Bits: 64bits

## Step to reproduce

- Install a test Vue 3 repo with vitejs ([instructions here](https://vitejs.dev/guide/))
- install lucide-vue with `npm install --save lucide-vue`
- Create a dummy vue component
- Import a

[2021-04-18 10:49] ericfennis commented on #292
@AdamSGit I came across this issue as well. The vue functions from vue 2 are not compatible with vue 3.
I'm working on a separate package for vue 3.

[2021-04-18 11:30] AdamSGit commented on #292
Sound promising. Tried to hack around the `createVueComponent.js` to get it to work, I would say that I had mixed result. Gonna wait for the package then 😄

[2021-04-21 18:10] ericfennis commented on #252
This one can be closed, I wrote a github action workflow that automatically builds new packages when a icon is merged.
So for each icon that's merged the icon should be in the latest packages as well
https://github.com/lucide-icons/lucide/blob/master/.github/workflows/ci.yml
https://github.com/lucide-icons/lucide/blob/master/.github/workflows/release.yml

[2021-04-21 18:10] #252 closed

[2021-04-21 20:38] ericfennis commented on #274
Just released `lucide-preact@0.15.1-beta.1` with typescript support.
For documentation see [docs](https://github.com/lucide-icons/lucide/blob/9e891f9a5f68cde5e19b3d8c8d1e28ca4c276f28/packages/lucide-preact/README.md)(temporary).
It works the same as the `lucide-react` package.

Testing is welcome, if you find something please post it in #291 .

[2021-04-24 13:44] knoan commented on #274
@ericfennis kudos

[2021-04-30 14:11] #146 closed

[2021-05-04 01:58] jessuni opened #313 "Feature Request: SVG Sprites"
This is not a bug report but I can't find any templates that could address to feature requests so...

Ever consider supporting svg sprite? Spriting is also a common way to use svg icons. Could be as simple as a svg file like the one provided by Feather Icons [here](https://unpkg.com/feather-icons@4.28.0/dist/feather-sprite.svg). Let me know if there's anything I could help to make it happen.

Just

[2021-05-04 11:10] ericfennis commented on #313
@jessuni Thanks for this issue. Good idea!
I'm thinking of adding this to a new package called: `lucide-static`.  Were we also can include: icon-fonts and the svgs.

Also thanks for the credits, welcome to the lucide community!

[2021-05-04 14:14] locness3 opened #314 "Recently merged icons need tags again!"
Also it should be added in the design guide, that one should submit icons with some tags.

[2021-05-05 03:30] jessuni commented on #313
Wonderful. The sprite file could be auto-generated with a script at build time, since it only requires some concatenation of HTML strings. Let me know when you need help :)

[2021-05-11 06:45] knoan opened #317 "Feature Request / Tag SVG elements with lucide-specific classes"
Tagging SVG icon elements with lucide specific classes like

[code]

would make much more easier to reference them from CSS stylesheets, in order for instance to:

* factor app-wide sizing / stroke properties
* tweak sizing / alignment for specific icons

P.S. Suggestion born from a real-world struggle in keeping icons aligned with button labels using fonts with an atypical baseline…

[2021-05-16 10:30] #183 closed

[2021-05-17 13:53] MoltenCoffee opened #330 "Train icon ideas"
## Icon Ideas

* Icon names: train, steam train

I tried my hand at creating a train icon, basing the design off of other transport icons like car, truck and bus. I was hoping for some feedback before I submit a PR:

Open cabin:
![train-01](https://user-images.githubusercontent.com/13321277/118499868-9b2da700-b727-11eb-8d3d-a3d1c9113c34.png)
Closed cabin, small front wheel:
![train-04](https://use

[2021-05-18 19:09] #314 closed

[2021-05-18 20:33] ericfennis commented on #330
@MoltenCoffee Nice work.

I think both types of icons for transportation icons are welcome.
I like the first one of the locomotives.
For the train I think a front view is very recognizable to describe transportation.
I like the way how material does it, the headlights and the track  make it really like a train. But the icon lines are very dense, maybe we can use some inspiration of this and make i

[2021-05-18 20:34] ericfennis commented on #317
Should we apply this for every package?

[2021-05-18 21:11] MoltenCoffee commented on #330
I agree! The main problem I had was the rule about having 2 points distance between separate elements, like the train and the track. Is that more a guideline then a rule?

[2021-05-19 07:55] knoan commented on #317
Would support sensible use cases also elsewhere, imho.

[2021-05-20 19:24] #292 closed

[2021-05-21 00:49] mikeott commented on #94
Agreed. Brand icons have no business in icon sets.

[2021-05-23 11:13] #274 closed

[2021-05-23 14:50] TheOnlyBeardedBeast opened #332 "Tree shaking is not implemented"
## Prerequisites

* Version:lucide-react@ 0.15.18
* Are you running from source/master: false
* Are you using a released build: true
* Operating system: mac os
* Bits: 64 bits

## Step to reproduce

Use only some icons and build your react project then analyze it, all the icons are inside the bundle what makes the bundle big.

## Resources
* Screenshots
A screenshot from my project using only a fe

[2021-05-23 15:58] ericfennis commented on #332
@TheOnlyBeardedBeast Thanks for reporting! I will look in to it.

[2021-05-24 08:46] mikeott opened #334 "Zip download filename needs to be updated"
This is not a big deal, but I think you might want to change the filename of the downloaded file at https://lucide.dev.

At the moment hitting the **Download All** button downloads a file called **feather.zip**, where I expected it to be **lucide.zip**.

Unless this was for some reason intentional, then feel free to close this issue.

[2021-05-24 12:46] ericfennis commented on #334
@mikeott Thanks for reporting. No this was not intentional, I think we forgot to rename this.

[2021-05-24 21:02] #332 closed

[2021-05-25 15:57] locness3 opened #336 "Promote the library packages on the website"
The Lucide packages and librairies should be promoted on the lucide.dev website somehow.

[2021-05-26 10:44] ericfennis commented on #336
Could be nice if we combine this with #140.

[2021-05-28 07:56] PeterlitsZo opened #339 "Alias for icon `send`"
Sorry but this issue is not about a new icon or bug... I just want know is it a good idea that add an alias `submit` for `send`?

[2021-05-29 15:47] PeterlitsZo commented on #339
BTW, how about add an alias `wait` for `loader` ?

[2021-05-31 13:20] ericfennis commented on #339
@PeterlitsZo Welcome to the Lucide community. Thanks for this idea, I think that's a great idea, more tags helps searching icons.

Feel free to add those tags in the [`tags.json`](https://github.com/lucide-icons/lucide/edit/master/tags.json)!

[2021-06-02 15:42] PeterlitsZo opened #343 "Icon Request: fold and unfold"
Is fold and unfold is a good idea? It is useful for my website...

[2021-06-02 15:58] PeterlitsZo commented on #343
Is `maximize-2` and `minimize-2` a good idea? If it is, I think I can add it to `tags.json`

And I also have another idea for it...
![unfold](https://user-images.githubusercontent.com/25707198/120512867-4adc6780-c3fe-11eb-8ff4-631bc08c02da.png)

[2021-06-03 09:30] locness3 commented on #343
aren't these already added/proposed?

[2021-06-03 15:07] PeterlitsZo commented on #343
Sorry but... where? :eyes:

[2021-06-03 18:08] locness3 commented on #343
#238

[2021-06-04 09:14] PeterlitsZo commented on #343
Thanks! I get it.

[2021-06-11 07:21] #343 closed

[2021-06-13 22:04] #339 closed

[2021-06-14 20:54] #334 closed

[2021-06-18 05:18] samuelmtimbo opened #349 "Icons seem to violate ICON_DESIGN_GUIDE"
Hi! I am new to lucide! I really like the concept of Open Source icons and lucide's design specifically.

I noticed some icons don't seem to follow the [ICON_DESIGN_GUIDE](https://github.com/lucide-icons/lucide/blob/master/docs/ICON_DESIGN_GUIDE.md) correctly.

Also, there are some cases which do not seem to be addressed by the guide.

Let me try to explain:

<img width="946" alt="Screen Shot 2021

[2021-06-18 11:02] ericfennis commented on #349
@samuelmtimbo Thanks for mentioning this!
And a warm welcome to the Lucide community!

It is known that some icons are violating the design guide. The reason is that the design guide was written later then when the  icons where designed. So we need to refactor some icons.
The past year we already redesigned these icons: `settings`, all `phone` icons, `wifi`, all the `cloud` icons, `thermometer`. a

[2021-06-19 11:44] ericfennis commented on #128
Closes by #341

[2021-06-19 11:44] #128 closed

[2021-06-20 02:54] samuelmtimbo commented on #349
@ericfennis thanks for the prompt answer!

After thought, I think you are right about YELLOW.

I guess we can leave this issue open to represent the sum of all deviations from the guide; we can also maybe use it to catalogue the problematic icons later on.

KUTGW!

[2021-06-20 21:29] JanTrichter opened #352 "Illustrator Icon Design Template"
Hey,
I just created a small Illustrator template which could help new designers to better and faster implement the [icon design guidelines](https://github.com/lucide-icons/lucide/blob/master/docs/ICON_DESIGN_GUIDE.md).

I uploaded it here: [https://icedrive.net/0/94vskayEo6](https://icedrive.net/0/94vskayEo6)

I adjusted the pen tool settings and line thickness to match the requirements of the ico

[2021-06-24 17:48] Billiam opened #354 "Request: Multiple font weights for web fonts"
It would be nice to have thin/medium/thick versions of the webfonts available.

I think this could be done in outline_svg.js by changing the stroke width before calling outline stoke, and then generating the fonts for each width.

[2021-06-28 07:54] ericfennis commented on #354
Hmm interesting idea

[2021-07-17 10:51] connium opened #358 "Landmark icon"
## Icon Request

* Icon name: bank, landmark
* Use case: bank, building, business, capitol, landmark
* _Screenshots_ of similar icons:

In #347 and #350 bank icons are provided. AFAICS the icons do not fully match the [Icon Design Guide](https://github.com/lucide-icons/lucide/blob/master/docs/ICON_DESIGN_GUIDE.md).

I adapted the proposed icons, but I'm not quite sure which one fits best. So I pre

[2021-07-21 10:00] beeglebug opened #361 "Are sort-asc and sort-desc backwards?"
Is it just me, or are the icons swapped? If you see the example below, the column is sorted "ascending" which puts the smallest number at the top, but the icon shows the largest item at the top, getting smaller as it goes down, which is the opposite (in my mind at least).

![image](https://user-images.githubusercontent.com/954416/126470113-a3989691-a478-480a-8c23-cc97fa8d294f.png)

This conversati

[2021-07-22 16:42] BeezBeez commented on #358
Thanks for the time spent on the bank icon !

[2021-07-22 16:43] BeezBeez commented on #358
I personally prefer the 4th icon (Double base line, 1px spacing)

[2021-07-23 17:57] btzr-io opened #363 "Headings icon(s)"
## Icon Request
I think a simple "H" will do it like the bold icon, but it can also have some variants for different headings levels.

* Icon name: Heading / Header
* Use case: Text editors.
* _Screenshots_ of similar icons:

Lucide (current icons ):

![image](https://user-images.githubusercontent.com/14793624/126822266-0495fc7f-04bc-4ef0-92b6-bcea78ea9bfb.png)

![image](https://user-images.github

[2021-07-23 18:20] btzr-io commented on #349
Italic icon has 3 (top, bottom ) and 4 (left, right ) pixel padding

![image](https://user-images.githubusercontent.com/14793624/126824629-8ef0acc7-235a-407d-ba49-e25b751025a0.png)

[2021-07-24 07:18] locness3 commented on #363
H

[2021-07-26 18:12] #354 closed

[2021-07-26 20:43] ericfennis commented on #352
@JanTrichter Sorry for my late reply, I was off for a bit.

I checked the template, it looks great. All the the guidelines are there and nice you added the padding.
I wasn't sure about the icon you placed in the center looks a bit random but that's me.

To finish I think we can add this to the repo if it's ready, so people can download it to use it.
Overall thanks for doing this @JanTrichter , awe

[2021-07-27 10:22] JanTrichter commented on #352
Yeah, it is a bit random but it should demonstrate all the guidelines that you cannot see on the template itself (distance between lines, round corners, etc.)

[2021-08-02 13:15] delnyn commented on #363
I think a simple "H" shape will do the job?
What do you think?

[2021-08-02 13:19] delnyn commented on #358
the icon guidelines actually say that

so I would go with the 5

[2021-08-02 13:22] delnyn commented on #352
So you could put this file in the repo and link it in the docs (e.g. docs/ICON_DESIGN_GUIDE.md) ?

[2021-08-02 13:39] delnyn commented on #283
This is a good idea, but I don't know how we could show the empty bars.
I see 2 main solutions:
1. Nothing, like in the `battery` icon
![image](https://user-images.githubusercontent.com/45879791/127869968-f9433c15-6322-4173-b3d3-b41fc5bd6006.png)
The problem here is that the `signal-1` would be a single small bar, which isn't easily recognizable.
2. translucent bars, like in material
![image](http

[2021-08-02 13:53] cvialard-astro commented on #283
Good idea!
I see a 3rd solution: the empty bars can have only the border. Something like this :
![image](https://user-images.githubusercontent.com/82038049/127872469-d5655ee2-36fd-4fe9-9814-6cd4b8c67f3a.png)
![image](https://user-images.githubusercontent.com/82038049/127872686-a127eec2-a035-41fc-bd53-c44ff60d0394.png)

What do you think?

[2021-08-02 15:05] JanTrichter commented on #352
I have a lot of projects lately so that could take some time :(

[2021-08-02 16:40] delnyn commented on #283
I think this is impossible because - if you take a look at other icons you will notice it - we don't fill any shape so we keep the icon pack consistent, therefore active bars will either have to be empty rectangles or simple bars

[2021-08-02 16:52] delnyn commented on #352
No no I meant both of you (I could do it myself too)

[2021-08-02 18:58] locness3 commented on #283
I think they just should be empty - don't we already have these icons?

[2021-08-02 19:01] locness3 commented on #283
`bar-chart` can be used for full signal.

[2021-08-02 21:10] delnyn commented on #283
yes, we just need someone to make the other ones - but who?

[2021-08-03 06:16] cvialard-astro commented on #283
I saw something like that :
![image](https://user-images.githubusercontent.com/82038049/127967058-83794b4f-7a0b-4852-a8df-871d670f4717.png)
What do you think?

[2021-08-03 20:15] delnyn commented on #283
oh yes why not
the empty bars will be dots

[2021-08-03 20:28] ericfennis commented on #363
Yes or/and for each heading one h icon, or is that to much?
I think for a lot WYSIWYG editors they like to have all these heading icons.

Related icon requests:
- https://github.com/feathericons/feather/issues/355
- https://github.com/feathericons/feather/issues/855
- https://github.com/feathericons/feather/issues/766

[2021-08-03 20:41] ericfennis commented on #358
I like number 4th or the 5th one the most.

[2021-08-04 00:12] Tummerhore opened #366 "Add a link to project website in readme file"
It would be nice to have a link to the project website [lucide.dev](lucide.dev) in the readme file. Especially since there is the list of all exisiting icons.

[2021-08-04 17:28] Tummerhore commented on #358
I like number **6** the most.

[2021-08-04 18:43] delnyn commented on #358
but the 1, the 4 and the 6 break the 2px spacing rule

[2021-08-04 19:48] connium commented on #358
The guidelines say that

I created the 1px versions because to me it is not clear what is meant with "distinct elements".

- If each SVG element, that does not touch another element, counts as a distinct element, then 2, 3, 5 are the only valid ones.
- If base, pillars and roof of the building count as distinct elements, then 2, 3, 5, 6 are valid.
- If the building itself is a distinct element (in

[2021-08-05 10:22] delnyn commented on #358
I think that each path that does not touch another element counts as a distinct element

[2021-08-05 19:23] marchellodev commented on #366
It is displayed on the side bar, so I don't think that's necessary

![image](https://user-images.githubusercontent.com/61112084/128408937-7232c4e7-6e4a-44aa-9d27-b384be2521d7.png)

[2021-08-05 19:30] Tummerhore commented on #366
Oh you're right. Didn't notice it the first time. In that case, I guess I can close this issue.

[2021-08-05 19:30] #366 closed

[2021-08-05 19:51] marchellodev opened #370 "Adding lucide.zip to release files"
As far as I understand, right now there are two ways to download all the files: via website and via github actions (artifacts).
Can we please make it, so that lucide.zip file is attached to releases as well?

[2021-08-08 19:06] ericfennis commented on #370
@marchellodev Good idea, I was thinking to add it as a static package as well.

[2021-08-10 07:11] JanTrichter commented on #352
Got Ya!
Made a PR with the template and updated the according parts in the documentation! ( #377 )

[2021-08-10 12:48] JanTrichter commented on #140
What exactly should be in the documentation?

[2021-08-10 13:03] ericfennis opened #378 "Add small introduction for each package"
For the introduction page we want to explain the dev for how you can use lucide. So small introduction how you can implement svgs and list all the different packages and what they can accomplish.

The branch I work on: https://github.com/ericfennis/lucide/tree/feature/add-docs-to-site
The document I already created: https://github.com/ericfennis/lucide/blob/feature/add-docs-to-site/docs/index.md.

[2021-08-10 13:04] ericfennis commented on #140
@JanTrichter I created the first one https://github.com/lucide-icons/lucide/issues/378

[2021-08-10 13:12] ericfennis opened #379 "Documentation: Comparison with Feather"
1. Small introduction why Lucide was born.
2. Why use lucide
3. Our goals:

The updated icons through the icons set, how we add more icons and what our goal is.
Our goals:
- We're expanding the icon set as much as possible while keeping it nice-looking.
- Provide tools to implement lucide on the most well used libraries, frameworks and design programs.
- and more..

[2021-08-10 20:42] delnyn commented on #352
Great! Thanks a lot

[2021-08-12 07:55] ericfennis commented on #358
What @delnyn says. So 2,3 and 5 are valid according to the guidelines. Maybe 6 can be allowed (because the stairs)🤔 , but that's only if it is a 'better' option.

[2021-08-12 07:57] ericfennis commented on #358
Are the icons from #347 and #350 also in this list?

[2021-08-12 08:26] delnyn commented on #358
my favorite is the 3

[2021-08-12 18:44] kctdfh opened #381 "folder-open"
## Icon Request

* Icon name: folder-open
* Use case: Tree views usually need a way to show that an item has sub-items and whether or not an item is open. The "folder" icon is good for showing the existence of child items. When that list is opened, it'd be nice to have a "folder-open" icon to show the state. "folder-open" has many more use-cases but this is my specific use-case.
* _Screenshots_ of

[2021-08-12 19:21] kctdfh commented on #381
Not a vector/icon designer but made something as a start.

I don't think the skew angle is enough because it looks messy when the icon is smaller than 18px. On top of that, my vector lines don't meet so changing the stroke width messes with the alignment.

I'll put it here in case someone else wants to take a stab at it.

[folder-open.zip](https://github.com/lucide-icons/lucide/files/6977982/folde

[2021-08-15 15:59] JanTrichter commented on #381
Great idea!

Here are my proposals:

1.
![grafik](https://user-images.githubusercontent.com/72730682/129484618-75ed5d2c-1c8c-4e1f-91a1-2a33c7914df2.png)

2.
![grafik](https://user-images.githubusercontent.com/72730682/129484641-1b949ce2-2724-47c5-bcf8-59905f48767a.png)

[2021-08-17 09:29] ericfennis commented on #381
Nice designs, can we make this icon similar with the current folder icon?

[2021-08-17 21:01] JanTrichter commented on #381
Yeah sure.

[2021-08-18 22:15] kctdfh commented on #381
Try the zip I posted earlier. That one is an SVG based off of the folder icon. I made it in Figma and there are some path issues but Figma SVG exports are really clean now and you should be able to work off of that. Also maybe try an online SVG to EPS converter. I haven't tried but maybe the compression recommended in the contribution docs makes the final SVGs incompatible with Illustrator.

[2021-08-19 07:12] ericfennis commented on #381
@JanTrichter Maybe you have some problems with you graphics card in illustrator?
You can also try searching the icon on [lucide.dev](https://lucide.dev/), if you click in icon you have a button to copy the svg.

[2021-08-19 10:59] JanTrichter commented on #381
Converting it to EPS and then importing it in Illustrator worked, although I am not sure if the dimensions are correct. But importing your svg seems to work properly. Thanks a lot :)

[2021-08-19 11:21] JanTrichter commented on #381
Alright, here are my drafts based on the original folder icon:

1. Closed variant
![Zeichenfläche 1@10_1x](https://user-images.githubusercontent.com/72730682/130060242-50aa6926-991b-4e45-9ba1-68a5b057199e.png)

2. Open variant
![Zeichenfläche 1@10_2x](https://user-images.githubusercontent.com/72730682/130060256-f0d2d486-bc9e-44d3-bf28-e5b8bb09eaba.png)

Any thoughts on that?

[2021-08-19 12:49] ericfennis commented on #381
Nice I like it.
Can you provider both icons side by side in 100%, 24px.
I think a closed variant is not needed, because the normal folder icon is sort of "closed".

[2021-08-21 05:50] connium commented on #358
Not exactly. The one from #347 is similar to 4 but doesn't use the full height of the view box. The icon from #350 is close to 2.

[2021-08-21 05:56] connium commented on #358
Counting the votes in the comments before gives me

- 3: 1 vote
- 4: 2 votes
- 5: 1 vote
- 6: 1 vote

Considering that icon 4 is not a valid option, I still don't know for which icon I should create a PR :confused:

[2021-08-21 22:26] delnyn commented on #358
I really think the 3 fits better with the rest of the set

[2021-08-25 15:15] JanTrichter commented on #381
Sorry that I am late but I had plenty to do.
I made the comparison here: https://folder-comparison-fdav2qpv3-jantrichter.vercel.app/

[2021-08-29 16:36] JanTrichter commented on #352
Done in #377

[2021-08-29 16:36] #352 closed

[2021-08-29 20:27] ericfennis commented on #381
Like this :)
![image](https://user-images.githubusercontent.com/11825403/131264437-4e9aca08-0b8d-4492-9573-270db1ed6b07.png)

[2021-08-29 20:28] ericfennis commented on #381
Is the right one, but then with an open path

[2021-08-30 09:55] JanTrichter commented on #381
I prefer the closed version.

[2021-08-31 19:05] ericfennis commented on #381
Ok alright.
I but I think we should match the icon with the current folder icon. So can you make a version with the same height?
![image](https://user-images.githubusercontent.com/11825403/131561112-49569444-26d5-4e02-895d-7b4e17280c62.png)

[2021-09-04 13:22] marchellodev opened #392 "CSS stylesheet + font for web"
When an icon is treated as a character, browser will do a lot of cool stuff to make it look ok, such as adjust the icon size and set the icon color. Can we have this as an alternative to the svg approach for web?

[2021-09-04 13:24] marchellodev commented on #370
@ericfennis Why was this closed? :)

[2021-09-04 15:59] JanTrichter commented on #381
Kind of weird but In my Illustrator file it looks quite different than what you sent. Could you try to do this? doesn't seem to work with my Illustrator file.

[2021-09-07 11:21] Qu4k3 opened #394 "React Native support through Expo"
Perhaps an easier way to add support is via https://icons.expo.fyi/, rather than creating and mantain a new package

How to add the icon library to the expo project: https://github.com/expo/vector-icons

[2021-09-09 17:43] queenvictoria commented on #317
The vue/nuxt package already does `.lucide-icon`
[code]

The Feature vue package does `.feather.feather-{icon-name}`
[code]

I make good use of both of these and would love that the icon-name be included across the board.

[2021-09-10 02:03] venashial commented on #317
That looks like it would work for Vue. I tried testing it locally with `yarn link` but I couldn't get my Vue app to compile, even on the master branch.

[2021-09-10 03:08] queenvictoria commented on #317
Thanks @venashial I'm reluctant to make a PR until I can test locally. I think I'm having the same issue as you though. I'll try a local `npm link` and try main. I think I don't understand monorepo well enough yet.

[2021-09-10 05:32] ericfennis commented on #317
@venashial To make a locally dev environment working, you need to run `yarn lucide-vue build`(from root). It will generate the needed JavaScript files from the icons and types etc.

After that running `yarn link` from `packages/lucide-vue` should work.

[2021-09-10 06:57] queenvictoria commented on #317
Thanks @ericfennis

For a user new to yarn: following are complete instructions for testing a package from a monorepo.

WARNING: Apple silicon[ follow this guide](https://github.com/puppeteer/puppeteer/issues/6622#issuecomment-787912758) first.

Outside your project
[code]
Inside your project
[code]

[2021-09-10 07:44] queenvictoria commented on #317
Thanks for everyone's help on this. I've added a PR #395 to support Vue. It follows the format laid out by @knoan above.

I'd like to start using this in our project. I'm not clear how I can do this without publishing an npm package. The `gitpkg.now.sh` solution doesn't seem to work for us. I've seen other solutions with `post-install` hooks. Is that the way to do it?

[2021-09-10 09:08] ericfennis commented on #394
@Qu4k3 Good idea, I will contact the maintainers about this. Maybe they want collaborate to include lucide in their release.

[2021-09-12 14:04] trungdo-epi opened #397 "flexbox icons"
## Icon Request

* Icon name: flexbox
* Use case: page builder
* _Screenshots_ of similar icons:

Please check icon images in the following codepen: https://codepen.io/wstone/pen/mOONLK
Thanks!

[2021-09-12 14:41] #397 closed

[2021-09-12 14:41] locness3 commented on #397
Should be a screenshot, not a link.

[2021-09-13 19:16] ericfennis commented on #358
@connium We discussed this in the discord channel, and we're in for number 3. You okay with that?

[2021-09-13 21:35] queenvictoria opened #398 "Documentation on how to use npm package in development"
Hi there. I'm wondering if others have this issue: we fork lucide, create a branch, make a new icon, and, possibly, submit a PR.

Regardless of whether we think the icon has wider appeal, we now need to start using the new package.

As a monorepo, with intermediate build steps, it wasn't clear to me how to go about using the new package (`lucide-vue` in our case). I've been around the world in the

[2021-09-14 06:48] trungdo-epi opened #399 "flexbox icons"
## Icon Request

* Icon name: flexbox
* Use case: page builder
* _Screenshots_ of similar icons:

I take these icons from the codepen https://codepen.io/wstone/pen/mOONLK.

flex direction column
![column](https://user-images.githubusercontent.com/56108514/133207955-959ab934-fd25-478a-b477-2b5d13aa0645.PNG)
flex direction row
![row](https://user-images.githubusercontent.com/56108514/133207976-00509

[2021-09-15 08:24] ericfennis commented on #399
@trungdo-epi Nice request!

[2021-09-16 06:49] trungdo-epi commented on #399
@ericfennis Thanks. I am very appreciate lucide team's work.

[2021-09-17 06:05] VonOx commented on #392
W

[2021-09-17 14:45] #317 closed

[2021-09-17 19:55] queenvictoria commented on #317
Hey @ericfennis that PR only resolves this ticket for `lucide-vue`. None of the other packages (including `vue-next`). So maybe it should stay open?

[2021-09-17 21:10] ericfennis commented on #317
@queenvictoria I added it today for the other packages as well.

[2021-09-17 22:20] queenvictoria commented on #317
Oh sweet!

[2021-09-18 04:30] queenvictoria opened #400 "Migration from feather-vue to lucide-vue"
I am cutting over from feather to lucide for our vue project.

In [vue-feather-icons](https://github.com/egoist/vue-feather-icons) I was able to do this (in pug):

[code]

So in lucide-vue/nuxt I have this:
[code]

I notice that the click handler is not called. Is there something I'm missing? @venashial ?

[2021-09-20 06:23] ericfennis commented on #400
Nice catch, never checked this, I will test maybe the onclick handler will not pass to the functional component

[2021-09-20 06:34] #400 closed

[2021-09-20 06:43] ericfennis commented on #400
Fixed it in v0.16.1 in `lucide-vue`.
Thanks for reporting this issue!

[2021-09-20 20:59] JanTrichter commented on #381
@ericfennis Could you do this? the dimensions in my file seem to be off but I don't know how I could adjust it acordingly.

[2021-09-20 21:02] ericfennis commented on #381
@JanTrichter Yess of course I can fix it for you!

[2021-09-20 21:05] JanTrichter commented on #381
@ericfennis that would be great! I don't know what has happened to my file but it looks weird when I adjust it and it doesn't match the height as it has the perfect height in my IL file :(

[2021-09-21 10:34] ericfennis commented on #381
@JanTrichter

Here you go:
[code]

[2021-09-22 16:19] JanTrichter commented on #381
@ericfennis does this solve the problem? I thought I had to adjust something in the icon? 🤔

[2021-09-22 18:11] connium commented on #358
@ericfennis I'm totally fine with this decision. Thanks for taking care of it!

I just created a pull request for the icon.

[2021-09-22 18:39] ericfennis commented on #381
Yeah it the height was different the current height icon, so I moved up the top line and the top line of the front flap.

[2021-09-23 07:29] prateekmedia opened #407 "Offer filled icons for flutter / non-web platforms"
## Icon Request

* Icon name's: Thumbs up and down (other filled icons to consider => heart, star)
* Use case: Currently lucide icons only have outlined icons even for some common filled icons too like `thumbs up`, but if someone wants to fill them in any case other then web like in flutter then they are bound to not been able to do so. It would be great if the flutter/ttf maintainer give some com

[2021-09-23 07:33] prateekmedia opened #408 "Add to playlist icon"
## Icon Request

* Icon name: playlist_add
* Use case: For creating a playlist in a web app there can be icon, this can be similar to youtube's add playlist icon as attached below.
* _Screenshots_ of similar icons:
![Screenshot from 2021-09-23 13-03-05](https://user-images.githubusercontent.com/41370460/134469911-84f423da-44e8-4ee7-9f5a-71a0a47cd020.png)

[2021-09-23 07:48] prateekmedia commented on #407
Also, I know this might be done by using filled property of css in the web but I am using it on flutter and currently it doesn't have that feature and I am forced to use the outlined one.

[2021-09-23 09:39] JanTrichter commented on #381
Looks good to me. Should we create a PR?

[2021-09-23 20:11] ericfennis commented on #408
Good suggestion!

[2021-09-25 11:28] locness3 commented on #407
I understand the need here, but I think this doesn't go with our design guidelines.

[2021-09-25 12:31] prateekmedia commented on #407
@locness3 I know this idea was discarded in feather icons due to the fact that we can fill the icons using css in web.

But I and many others are using this as a flutter package, which uses a ttf font, and hence no one can directly fill it. It would be great if the maintainer of that [`lucide_icons`](https://pub.dev/lucide_icons) or the .ttf font gives us support of some common filled icons like t

[2021-09-26 06:58] locness3 commented on #407
That is to consider.

[2021-09-26 15:07] PeterlitsZo opened #409 "Add `parser` icon"
## Icon Request

* Icon name: parser
* Use case: A tool that can parse one thing to another (for example, Rust code to runable program)
* _Screenshots_ of similar icons:
None. But I draw one. It looks not good:

![Screenshot from 2021-09-26 23-05-22](https://user-images.githubusercontent.com/25707198/134813372-82a0724a-a3fa-49e9-be40-1787415af1cb.png)

[2021-09-26 15:22] ericfennis commented on #381
@JanTrichter yess do!

[2021-09-26 15:25] #358 closed

[2021-09-26 19:17] ericfennis commented on #408
`list-plus`

![image](https://user-images.githubusercontent.com/11825403/134821208-b9bf1d5f-3a7e-4a7e-8611-ca438fb6cf9a.png)

100%
![Frame](https://user-images.githubusercontent.com/11825403/134821186-d5456996-3598-4729-acde-725c090cceec.png)

[2021-09-27 18:02] #361 closed

[2021-10-01 07:19] #336 closed

[2021-10-01 09:21] LM1LC3N7 commented on #283
I like this one, it is similar to the battery icon and pretty clear to understand :)

[2021-10-01 14:53] #408 closed

[2021-10-01 16:22] prateekmedia opened #414 "Latest Flutter package doesn't contains new icons"
Hi, I am using the latest flutter package of `lucide_icons` and can't see any new icons, they doesn't seem to be generated from the ttf.

I think it is due to workflow not generating new classes for new icons, Thanks for the icon pack btw.

_Originally posted by @prateekmedia in https://github.com/lucide-icons/lucide/issues/408#issuecomment-932355230_

[2021-10-02 18:40] #414 closed

[2021-10-02 18:45] ericfennis opened #417 "Write tests for Flutter package"
To make sure the flutter package will work, we need to add tests for the package.
In every other package we added tests to make sure the packages will work.

[2021-10-06 20:53] eunakria opened #418 "jersey-pound icon actually represents Japanese Yen"
**Expected:** There is no `jersey-pound` icon; it's redundant vs the `pound-sterling` icon. The `¥` symbol is referred to as `japanese-yen`.

**Actual:** The `¥` symbol is called `jersey-pound`.

[2021-10-09 16:47] prateekmedia opened #419 "Flutter release package doesn't contain font assets"
### Problem

The latest flutter package doesn't contain assets folder and hence fails to build due to missing .ttf file, this might be related to 2672c01 commit.

[2021-10-10 18:03] ericfennis commented on #419
Fixed by #420

[2021-10-10 18:03] #419 closed

[2021-10-14 16:07] PodaruDragos opened #424 "Medical icons"
Just found out about feathers and the I was inclined to check lucide. I always wanted to find a library like this ( very very nice icons ), And like every other developer with specific needs at specific times I would like to propose adding some medical icons to the library. Here are some

* Icon name: medical icons
* Use case: medical related applications
* _Screenshots_ of similar icons:

Added s

[2021-10-14 17:20] marchellodev opened #425 "Font bundling for HTML"
Currently, icons are bundled as svg files that are inserted by JavaScript in the `<i>` tag.

As far as I understand, majority of icon packs for web are bundled as fonts instead. This allows them to be seamlessly integrated into different text styles (primarily by matching font size and color).

`Lucide-preview.html` seems to be doing exactly this. However, there is not documentation on how to use

[2021-10-16 16:57] locness3 commented on #424
Not the purpose of Lucide, IMO.

[2021-10-16 16:59] locness3 commented on #425
What are you referring to?

[2021-10-16 17:12] PodaruDragos commented on #424
@locness3 I totally agree. I was just saying those are some icons that I would love to have in lucide so I don't import multiple icons libraries

[2021-10-16 21:12] PodaruDragos commented on #424
@ericfennis great, looking forward to those 2

[2021-10-20 23:38] angelinuxx opened #427 "Update dependencies for Angular v12"
I would love to see updated dependencies for Angular v12 in lucide-angular package.

Thanks in advance

[2021-10-21 03:22] jessuni commented on #313
I usually save the sprite as a static asset, import it as a template HTML adjacent to the container of a single-page app, and refer to individual icons in components.

Something like this:

[code]

[2021-10-21 03:23] jessuni commented on #313
The generated sprite file works fine with the above usage.

[2021-10-21 06:54] ericfennis commented on #427
Thanks I will update them soon!

[2021-11-02 04:52] mittalyashu opened #430 "show license info on website"
It will be more clear and descriptive to show lucide package license on website.

[2021-11-06 10:43] ericfennis commented on #430
@mittalyashu good idea!

[2021-11-08 13:09] nabanita-sarkar opened #431 "Icon request: Subscript"
## Icon Request

* Icon name: `subscript`
* Use case: Various text editors
* _Screenshots_ of similar icons: https://github.com/feathericons/feather/issues/511#issue-389037358

I saw this icon request in original feather repo and also found it is open in https://github.com/lucide-icons/lucide/issues/119#issue-733720662 . So I brainstormed and made these two variants -
![image](https://user-images.

[2021-11-09 05:12] nabanita-sarkar commented on #431
Is there anything that I need to change or I can create a pull request?

[2021-11-09 15:46] abejenaru commented on #313
Hi @ericfennis, I am using your generated sprite, thanks for generating it.
Looks like styling it via CSS doesn't work, probably because the symbols include their styling inline.
I see the original feather sprite doesn't include inline styles, so this works:

[code]

I also find it confusing to have one package for the JS distribution and another one for the SVG sprites - doesn't it make sense to

[2021-11-09 19:32] #381 closed

[2021-11-09 19:57] ericfennis commented on #313
@abejenaru Yes this mentioned @BinaryKitten as well. The sprite is not working well yet. I'm trying to make a fix with the feedback from @BinaryKitten in #401

[2021-11-11 11:06] abejenaru commented on #313
Meanwhile I build my own sprite using svg-sprite and some regex, and I think using svgo directly would allow you to clean the svgs before building the sprite.

[2021-11-11 13:17] schmidt-oliver commented on #349
These Icons are currently to large:
`award`, `coffee`, `coins`, `cpu`, `credit-card`, `crop`, `delete`, `dollar-sign`, `eye-off` `eye`, `github`, `map-pin`, `map`, `mic-off`, `mic`, `paperclip`, `shopping-cart`, `toggle-left`, `toggle-right`, `trending-down`, `trending-up`, `umbrella`, `user-check`, `user-minus`, `user-plus`, `user-x`, `users`, `video-off`, `video`, `voicemail`, `volume-x`, `watch

[2021-11-17 13:36] Tinendo opened #443 "Icons broken in Sketch and Illustrator"
The Depiction of the Icons is somehow broken in Adobe Illustrator 2022 (26.0.1) and Sketch (79.1).

It doesn't matter if I download a Package or single SVGs. I also tried to switch from Apple Safari (14.1) to Google Chrome (95.0).

However the Deciption of the downloaded SVGs in Browsers is okay. What am I doing wrong? Or is it a Bug of the SVG-Compression?

[2021-11-17 19:19] ericfennis commented on #283
What do you think of this?
![image](https://user-images.githubusercontent.com/11825403/142267928-2b9fbcd2-67c1-4123-b1c7-156672d97985.png)

[2021-11-17 19:20] ericfennis commented on #443
@Tinendo Thanks for letting us know.
How many icons are effected?

[2021-11-17 19:20] ericfennis commented on #443
I think it it because of the compression/optimizing we doing

[2021-11-17 21:16] Tinendo commented on #443
@ericfennis I'm sorry! I'm going to attach screenshots tomorrow morning.

[2021-11-17 22:12] LM1LC3N7 commented on #283
This one is also pretty clear to understand but I still prefer the other one personally.

[2021-11-18 09:00] Tinendo commented on #443
@ericfennis Here's an example of the Icon "alarm-check".

<img width="71" alt="alarm-check" src="https://user-images.githubusercontent.com/10920151/142383850-6650dfff-c18e-40a7-9c71-66819701da68.png">

[2021-11-18 10:47] SMAH1 commented on #443
Like this #263
![Untitled](https://user-images.githubusercontent.com/21136680/142401265-a52b0d52-86a0-4d66-a5db-449bc7682b2e.png)

[2021-11-18 13:29] ericfennis commented on #443
Thanks for posting.
I think the optimize script is a little to aggresive. We need to check all the icons I think

[2021-11-21 19:17] ericfennis commented on #283
@LM1LC3N7 What do you exactly mean with the other one?

[2021-11-21 19:21] ericfennis commented on #427
Fixed by #432

[2021-11-21 19:21] #427 closed

[2021-11-21 19:27] #313 closed

[2021-11-21 19:34] LM1LC3N7 commented on #283
This once : https://github.com/lucide-icons/lucide/issues/283#issuecomment-891565089

[2021-11-21 20:14] ericfennis commented on #392
Is now added in Lucide static and you can download the zips of the build on the release page:
https://github.com/lucide-icons/lucide/releases/tag/v0.16.19

[2021-11-21 20:14] #392 closed

[2021-11-21 20:14] ericfennis commented on #370
Is now added to the release pages. https://github.com/lucide-icons/lucide/releases/tag/v0.16.19

[2021-11-21 20:14] #370 closed

[2021-11-21 20:23] ericfennis commented on #418
fixed in #444

[2021-11-21 20:23] #418 closed

[2021-11-21 20:29] ericfennis commented on #283
@LM1LC3N7 But that was not a design I think. It was some inspiration.

Here a variant with dots:
![image](https://user-images.githubusercontent.com/11825403/142777820-ae53dbab-f5bc-4607-b789-94da8f9e3605.png)

[2021-11-21 20:53] LM1LC3N7 commented on #283
Ok I didn't know!
I like the version with always dots, I found it pretty clear regarding the signal strength.
If I see two bar and then 3 dots I know for sure how the signal is received (for example), 2/5.

[2021-11-28 11:54] wojtekmaj commented on #394
For those of you using React Native + Yarn, you can use `react-native-svg` and Yarn's patch functionality to hack `createReactComponent so it renders native elements instead:

`package.json`

[code]

`.yarn/patches/lucide-react-npm-0.16.19-19fdb1c3ab`

[code]

[2021-11-29 07:50] delnyn commented on #283
I think we could get rid of the first dot? I think the icon looks too 'wide'. Also the first dot will always be a dot, no matter the signal intensity, so I don't think it's very useful. In my opinion

[2021-11-29 07:57] delnyn commented on #431
if everyone is okay with the first one - I like the first one more too - you can go ahead and create a pull request

[2021-11-29 08:02] delnyn commented on #409
uhm I think this icon is kind of hard to understand - also when you say

it makes me think that you probably mean 'compiler' and not 'parser' (that's not exactly the same thing)

[2021-11-29 15:34] Rogdham commented on #398
A possible solution would be to use the [`patch-package`](https://www.npmjs.com/package/patch-package) lib if the changes are not too big. Probably not the answer you were looking for, but a workaround.

It goes like this: you commit patches fo some libraries into your repo, and patch-package makes sure to apply the patches when needed (e.g. during install).

[2021-11-29 22:03] wojtekmaj commented on #424
What do you guys think about these?

`syringe`
![syringe svg](https://user-images.githubusercontent.com/5426427/143949750-6096dfc4-9289-41d0-8ffe-285771b03446.png)
[code]

`syringe-2`
![syringe-2 svg](https://user-images.githubusercontent.com/5426427/143949776-3e07e09d-53c6-4713-b2bd-5ea514468796.png)
[code]

[2021-11-30 19:48] JanTrichter opened #451 "Rocket Icon"
Hello,
I just wanted to open this issue because I couldn't find any rocket icons in the lucide package.
I think it would be a great addition because I've seen it quite often in the past months(mostly for deployment related stuff).

## Icon Request

* Icon name: Rocket
* Use case: Deployment
* _Screenshots_ of similar icons: (to be added later)

Thumbs up if you agree. If we can agree that it is us

[2021-12-02 17:44] locness3 commented on #451
Good one, I think this was already discussed in Feather.

[2021-12-02 17:45] locness3 commented on #409
That's also a very specific need IMO

[2021-12-03 06:35] PeterlitsZo commented on #409
Sorry but what is IMO?

[2021-12-03 06:39] PeterlitsZo commented on #409
I do think you are right. I find another icon to use. Although I forget what I choose...

The "command" icon or a triangle icon is also a nice idea to replace it.

[2021-12-03 06:39] PeterlitsZo commented on #409
Need I close it?

[2021-12-06 16:48] ericfennis commented on #409
I agree, "parser" icon is too specific, `command`, `code-2` or other icons are suitable for this use case .

[2021-12-06 16:48] #409 closed

[2021-12-06 16:55] ericfennis commented on #424
@wojtekmaj The base looks good but.. When setting the stroke-width to 2 it looks a bit too tight.
With that it is not matching the [guidelines](https://github.com/lucide-icons/lucide/blob/master/docs/ICON_DESIGN_GUIDE.md).
![image](https://user-images.githubusercontent.com/11825403/144887664-e9c09301-5925-46fd-914c-c71beb28caf9.png)

[2021-12-06 17:05] ericfennis commented on #399
@trungdo-epi Allright I this is my result. A lot of icons.
Beside flesbox these type of icons are also really usefull for design applications. So I took some inspiration from illustrator, figma and webflow. Webflow had specific flexbox interface like things.
![image](https://user-images.githubusercontent.com/11825403/144888486-4d5e1fda-ac56-4a3f-9c94-b758025513b4.png)

After I designed this Chromi

[2021-12-06 17:09] ericfennis commented on #394
@wojtekmaj Nice temporary fix.
We discussed this in discord as well using `react-native-svg` can be option. But I think creating a new package is better.

[2021-12-07 05:40] delnyn commented on #409
or `binary`

[2021-12-10 10:31] delnyn commented on #112
that means we'll have to rename a lot of icons (e.g. `settings`, `edit`)

[2021-12-11 18:58] trungdo-epi commented on #399
@ericfennis These icons look beautiful and easy to understand.

[2021-12-11 22:53] ericfennis commented on #112
@delnyn sort of true. This solution can have a big impact

[2021-12-12 12:07] delnyn commented on #112
or we can just write a naming convention without changing the name of the existing icons

[2021-12-17 18:19] Teraskull opened #456 "[Feature] Allow copying SVG icon as one line."
If you click `Copy SVG`, it copies like this:
[code]
But often inline SVG is used, and it does not allow line breaks:

[code]

Would be nice to have another copy button for this.

[2021-12-19 12:34] ericfennis commented on #456
Good idea, we can add it as a feature on the website!

[2021-12-21 20:06] ericfennis commented on #431
First one is nice!

[2021-12-22 20:53] nabanita-sarkar commented on #431
Great then. I will create a pr

[2021-12-26 13:00] locness3 commented on #407
@ericfennis what do you think?

[2021-12-26 13:47] ericfennis commented on #407
@prateekmedia @locness3 I understand why you want this, and I agree would be nice to add these type of icons. But it is a whole new icon set what we then should create. We can't just add filled icons to the set. The project is not ready for this. Especially the build flows.

[2021-12-27 09:09] nabanita-sarkar opened #460 "Icon Request: Superscript"
## Icon Request

* Icon name: `superscript`
* Use case: Wysiwyg editors, markdown editors etc.
* _Screenshots_ of similar icons: https://github.com/feathericons/feather/issues/510#issue-389037247

I created a superscript icon similar to the subscript one that I made -
![image](https://user-images.githubusercontent.com/36895154/147455419-a77295a9-49d5-46ae-aa69-76f03d76da67.png)

**Subscript Icon**

[2021-12-31 06:22] SamuelStevenson opened #461 "Feature Request: Link to icon"
Is there any chance that we could get an option to copy a link to the icon with the currently set colour? I've been using the original Feather Icons in my Notion database and would love to be able to use the Lucide icons instead. Thanks!

[2022-01-01 10:20] #431 closed

[2022-01-02 13:29] deelobase opened #465 "Deploy your app for free 🚀"
Hey @lucide-icons, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up at https:/

[2022-01-02 14:36] ericfennis commented on #461
@SamuelStevenson I'm don't think I totally understand what you want to accomplish. The way how we create the svg files is exactly the same as Feather Icons. So the color of each icon is set to "currentColor" that's the font size color of the document.
Can you explain how you use feather inside notion? Maybe we can make lucide work their too.

[2022-01-04 14:19] Andreto commented on #460
@nabanita-sarkar
I don't think there is that much to discuss since it's so close to the `subscript` icon.
You can probably make a pr right away.

One thing though.
Perhaps add "exponent" as a tag.

[2022-01-06 18:51] nabanita-sarkar commented on #460
Got it. I will do that

[2022-01-09 02:13] nixoncode commented on #456
Meanwhile try this tool

https://jakearchibald.github.io/svgomg/

[2022-01-14 12:34] aigoya opened #473 "Something related to strokes"
## Prerequisites

* Version:
* Are you running from source/master:
* Are you using a released build:
* Operating system: windows
* Bits:

## Step to reproduce

*(Type here)*

### Actual behavior

## Any message or error

Strokes get ignored when generating fonts. You can convert them to fills to prevent this.

## Resources

* Links
* Screenshots
![image](https://user-images.githubusercontent.com/6

[2022-01-14 12:56] #473 closed

[2022-01-15 22:20] #460 closed

[2022-01-16 17:10] locness3 commented on #473
Ok

[2022-01-19 03:07] veeru153 opened #477 "[Feature Request] Accessibility Improvement / Tooltip Support"
I shifted to Lucide from Feather after having no way to add tooltips directly. A similar issue (https://github.com/feathericons/react-feather/issues/67) exists for Feather which references this project but I didn't see any request or any implementation here yet. The gist of this issue/request is the ability to add alternative text like this:

`<Icon alt="Navigate to Report" />`

This would allow b

[2022-01-19 13:42] ericfennis commented on #477
@veeru153 Thanks for opening.
Is `<Icon  title="Delete" />` not working mentioned in that issue?

[2022-01-19 13:52] wringit opened #478 "I would like a Discord icon"
Hello. Thy selection of ikcons suck. Here is my Discord icon.
![E27F3B90-A841-4A6B-950A-339FDBE6BF6A](https://user-images.githubusercontent.com/78825478/150143883-1664a3cf-62b2-42a3-9556-a355977c8118.jpeg)

Blarhgh

[2022-01-19 16:09] veeru153 commented on #477
Thank you for the quick response.

No this does not work. After some devtooling, the reason seems to be that when we add a `title` prop to the icon, it gets passed as an attribute to the SVG element like this:

`<svg ... title="Delete">...</svg>`

In order to render the tooltip, the text should be a Title element nested inside the SVG element like this:

[code]

[2022-01-20 12:30] ericfennis commented on #477
@veeru153 Allrighty I get it. Also read some more about it. It also good for accessibility.

My proposal to accomplish this, is that we make it possible to pass children in icons. That creates also new possibilities to render something "over" the icon. This also keeps it really flexible and easy to implement.

## Example title and description
[code]

## Example rendering something over the icon, f

[2022-01-20 12:48] veeru153 commented on #477
Ooh yes! While this is different from the traditional image `alt` attribute, this seems to be a better approach for the reasons you mentioned. I am assuming this would allow nesting icons inside icons too? Something like:

[code]

[2022-01-20 12:53] ericfennis commented on #477
@veeru153 Yess correct!

[2022-01-20 16:49] locness3 commented on #478
Hi! We really appreciate your contribution, however brand-related icons are deprecated and we are not adding new ones, as discussed in https://github.com/feathericons/feather/issues/763.

[2022-01-21 09:36] ericfennis commented on #478
What @locness3 said, nice art btw!

[2022-01-21 09:36] #478 closed

[2022-01-21 09:37] ericfennis commented on #478
@wringit If you need a brand icon like discord checkout: https://github.com/simple-icons/simple-icons

[2022-01-21 10:03] ericfennis commented on #283
We want to keep the first dot, for the "zero" value. Also keeps consistency with the wifi icon.
I will add the signal icons without the dots, with the idea from #477 you can create the empty signal lines.
Let me know if you aren't ok with it, we can always make some changes.

[2022-01-21 10:04] #283 closed

[2022-01-24 14:14] hexabinaer commented on #443
Hope this helps:

1. Example alarm-check.svg - Illustrator obviously cannot determine the circle's radius
![grafik](https://user-images.githubusercontent.com/1636619/150797871-8d3c15d7-cb5d-48f2-b303-b48229cbba32.png)

2. Affinity Designer can read the icons correctly (in my case, all bookmark-related icons where the bookmark form itself was broken). Converting strokes to forms fixed all similar i

[2022-01-26 01:03] ffd8 commented on #456
This would be oh so helpful! Just learned about this fork and am so used to using the icons exactly as mentioned above, though as a JS object which used feather style 1-liners.

[2022-01-26 05:47] PeterlitsZo opened #486 "`Lucide-react` depend `prop-types` right?"
## Prerequisites

* Version: ^0.16.28
* Are you running from source/master: emm... from npm?
* Are you using a released build: emmm...yes?
* Operating system: Linux - Manjaro
* Bits: 64-bits.

## Step to reproduce

*When I use it, it raises a error that it need prop-types. I resolve by just add it in my `package,json`. But I hope I do not need it.*

## Maybe Help

I think we can move `prop-types`

[2022-01-26 21:47] oliveratgithub opened #487 "Custom data-* attributes are not inherited from <i> onto replaced <svg> DOM element"
## Prerequisites

* Version: v0.16.28
* Are you running from source/master: https://unpkg.com/lucide@latest
* Are you using a released build: yes
* Operating system: macOS

## Step to reproduce

* Add the following HTML & JS

[code]

* Open the HTML page & have it parsed by the browser

### Expected behaviour
Custom `data-*`-attributes **should be inherited** onto the injected `<svg>`-elements.
Th

[2022-01-27 16:38] PeterlitsZo commented on #486
Hello?

[2022-01-27 20:01] ericfennis commented on #486
@PeterlitsZo Sorry for the late reply.
prop-types is added in the peerDependecies, same for react. Those dependecies will be installed when installing the package. We added it to devdependecies as well because we use this when we are developing as wel. peerDependecies won't be installed locally only in "package" form.

[2022-01-27 20:03] ericfennis commented on #487
@oliveratgithub Thanks for reporting, will take a look to it!

[2022-01-28 03:37] boscharun opened #489 "Request for svg sprite which can be used with <use xlink:href"
Hi devs, is it possible to create an svg file as part of release in format -

[code]

This will allow adding an icon similar to this feather request - https://github.com/feathericons/feather/pull/319

[2022-01-28 14:07] ericfennis commented on #489
@boscharun Welcome to the Lucide Project!
Yess we have an SVG sprite available, but it is included in the Lucide Static package.
https://www.jsdelivr.com/package/npm/lucide-static

[2022-01-28 16:30] boscharun commented on #489
Thanks @ericfennis for the quick response, this is excellent. Would you please consider adding this in readme. The more obvious svg sprite inside the release zip files is different.

[2022-01-29 08:27] PeterlitsZo commented on #486
I am not sure what happen, maybe just I use vite to instead of snowpack... Now I remove `prop-types` but no error raise... (If somebody else find it raise the same error, please comment with a link to your project, I'd like to help you)...

Thanks for your kindly help!!! I really like lucide!!! I hope I can help you with more PR in the future. Salut.

[2022-01-29 08:27] #486 closed

[2022-01-29 08:50] PeterlitsZo commented on #489
Sorry, @boscharun , do svg sprite need load an large svg file? or need a lot of request? I think that use lucide with Vue/React/... is a better idea...

Just question >_<

[2022-01-29 20:52] boscharun commented on #489
@PeterlitsZo , I have a python/django based project and don't use Vue/React. The full sprite is ~100Kb but is only 22Kb with zipped transfer which is very acceptable and much faster than individual svgs or our usecase. Thanks.

[2022-02-01 16:38] ericfennis commented on #363
What do you think?
![image](https://user-images.githubusercontent.com/11825403/152010591-57de2241-54e5-4277-8cb2-2e38e2352670.png)

[2022-02-01 18:26] #140 closed

[2022-02-01 18:26] #430 closed

[2022-02-01 18:26] ericfennis commented on #489
Added it to the Readme file!

[2022-02-01 18:26] #489 closed

[2022-02-02 22:19] locness3 commented on #363
h

[2022-02-02 23:20] delnyn commented on #363
LGTM

[2022-02-03 18:54] locness3 commented on #461
I believe they want a feature to copy a link from the website, which would show a particular icon with the color selected in the customize dialog.

[2022-02-06 11:57] maxim-s-barabash commented on #451
Feather issues   [#1062](https://github.com/feathericons/feather/issues/1062)

[2022-02-07 14:19] arraintxo opened #497 "Nuxt auto-importing generates too many files"
When using nuxt auto-importing feature a js file is generated per icon and all of them are downloaded on first page load, this means that more than 500 petitions are sent to the server on page load. This seems to much for any application...

## Prerequisites

* Version: 0.16.26
* Used on Nuxt with: lucide-vue/nuxt
* Operating system: Linux
* Bits:  64 bits

## Step to reproduce

Add "lucide-vue/nu

[2022-02-09 09:56] nkCreation commented on #443
I tried to put some spaces between numbers in the SVG code and it works great so I can confirm that the problem come from here.

[2022-02-09 10:09] Tinendo commented on #443
This is brilliant! Thanks for your effort.

[2022-02-09 19:16] ericfennis commented on #497
@arraintxo Thanks for reporting, will take a look!

[2022-02-09 19:25] ericfennis commented on #443
@nkCreation Thanks for the findings!
Definitely somethings went wrong optimizing the icons in #167. But probably won't fix all the issues.
I think we should try revert these changes and check again.

I imported all the icons in illustrator and this was the result.
![WhatsApp Image 2021-12-23 at 13 39 51](https://user-images.githubusercontent.com/11825403/153275105-0c1d2273-81d7-405a-9fb0-4a226f45e

[2022-02-11 04:12] rendomnet opened #498 "Dog/Cat/Animal icon request"
Right now there is 0 animal icons available in lucide-icons

## Icon Request

* Icon name: Cat/Dog/Animal
* Use case: Animal shelters, pet food, lots and lots of use cases
* _Screenshots_ of similar icons:
*
![image](https://user-images.githubusercontent.com/18900210/153536322-e0847dc6-a740-4df6-8bcd-d10ad0b8cec3.png)
![image](https://user-images.githubusercontent.com/18900210/153536354-baf29b4b-c

[2022-02-13 09:06] ericfennis commented on #498
Nice request! 🐶 🐱

[2022-02-15 15:33] it-is-not opened #502 "Cookie icon"
I think a cookie icon might be helpful when people are making cookie popups and cookie settings.

## Icon Request

* Icon name: cookie
* Use case: in cookie settings, popups, etc
* _Screenshots_ of similar icons: <img width="24" alt="cookie icon" src="https://user-images.githubusercontent.com/72697755/154089770-c0fa7230-8233-41b6-9ddc-0726557186b2.png"> - I made this earlier but it probably needs

[2022-02-15 19:33] hornta opened #503 "Backup icon"
## Icon Request

* Icon name: backup
* Use case: Action to take a backup. The database icon doesn't convey a backup on it's own.
* _Screenshots_ of similar icons:
![image](https://user-images.githubusercontent.com/4553604/154135372-d611f00d-6a02-4e34-b84a-b320d76de440.png)

[2022-02-15 21:03] ericfennis commented on #502
@it-is-not Cool idea!

[2022-02-15 21:03] ericfennis commented on #503
@hornta Nice idea!

[2022-02-17 12:21] rendomnet opened #504 "Tag icon is not centered"
Tag icon is aligned to the top-left corner and not centered.

<img width="54" alt="image" src="https://user-images.githubusercontent.com/18900210/154480846-976e468b-ba48-45e7-a1f2-c466002b2e73.png">

[2022-02-17 16:46] #290 closed

[2022-02-17 17:27] it-is-not commented on #502
Thank you, should I submit a pull request or do something else?

(I'm new to contributing here so I'm not really sure how this works)

[2022-02-17 22:13] ericfennis commented on #502
@it-is-not open a PR if you want!

Please take a look at the [icon design guide](https://lucide.dev/docs/icon-design-guide) to make sure everything is right.

Let me know if you need any help.

[2022-02-19 09:40] PodaruDragos opened #512 "Google Icon"
## Icon Request

* Google icon
* Usage: for social authentications

Just like the great facebook icon that we already have in lucide.

[2022-02-20 14:04] ericfennis commented on #477
Wanted to release this feature, but with a final test it doesn't work as expected.
I tested it wrong, I tested it by using the browser inspector and changed the position of the title element below the children in the DOM. That worked for some reason, the tooltip showed when hovering. A bit stupid but lesson learned, always test on initial render. So @veeru153 you were right, `<title>` and `<desc>`

[2022-02-20 15:00] ericfennis commented on #451
![image](https://user-images.githubusercontent.com/11825403/154848816-32867e47-e8c9-4835-a7ee-e20dbf12b754.png)
Created 4 variants, rounded flaps-squared flaps and with-without a window.

Let me know what you think

[2022-02-20 19:41] JanTrichter commented on #451
Almost forget about this issue, sorry guys ^^

@ericfennis I think the bottom left is the best since it fits nicely with the smooth and rounded style of lucide/feather.

I think that both options on the right are a little bit too much and feel a bit "overloaded" with the window.

The top left is also great but I think that the bottom left fits better with the general style of lucide. A side by sid

[2022-02-21 01:20] madeleineostoja opened #513 "[lucide-static] Install issue on Vercel with yarn"
Installing `lucide-static` on a fresh Vercel project with yarn errors out. It only happens with Lucide and no other package I have, and it happens on a fresh project, leading me to think it's something on Lucide's side.

## Prerequisites

* Version: 0.16.29
* Are you running from source/master: master
* Are you using a released build: yes
* Operating system: Vercel

## Step to reproduce

- Add `lu

[2022-02-21 22:18] madeleineostoja commented on #513
Seems to be an issue with yarn, closing this

[2022-02-21 22:18] #513 closed

[2022-02-22 20:55] ericfennis commented on #512
Sorry we aren't adding any more brand icons.
See original thread in [feather/#763](https://github.com/feathericons/feather/issues/763)

We recommend using: https://github.com/simple-icons/simple-icons

[2022-02-22 20:55] #512 closed

[2022-02-22 21:04] PodaruDragos commented on #512
Thanks for the link, much appreciated.

[2022-02-22 23:34] lilithium-hydride opened #514 "Stable Font Codepoints"
## Prerequisites

* Version: Releases v0.17.0 - v1.17.1
* Running from: `lucide.ttf`
* Operating system: Artix Linux x86_64

## Step to reproduce

1. Use an older release's codepoints in something.
2. Make note of the icons that are rendered from those codepoints.
3. Update the font file to the latest release without adjusting the codepoints.
4. Observe that the rendered icons are different.

###

[2022-02-23 21:37] ericfennis commented on #514
@lilithium-hydride Tnx for reporting not sure why this happens, we need to check the build.

[2022-02-24 20:08] #502 closed

[2022-02-25 01:15] felix-berlin opened #515 "Filter is a reserved HTML element"
## Prerequisites

* Version: 0.17.1
* Are you running from source/master: No
* Are you using a released build: No
* Operating system:  Win 11
* Bits: 64 bits

## Step to reproduce

- Add and use the filter icon
- Used inside a Nuxt v2 project

### Actual behavior

## Any message or error

- Do not use built-in or reserved HTML elements as component id: Filter

## Resources

![image](https://user-i

[2022-02-27 20:13] ericfennis commented on #515
@felix-berlin Thanks for reporting.
To fully reproduce this issue can you maybe provide a example project in a repo or maybe better a codesandbox/stackblitz?

[2022-03-02 18:54] ericfennis commented on #399
Fixed with all the PRs above this message.

[2022-03-02 18:54] #399 closed

[2022-03-05 10:40] fdev commented on #515
If this needs to be fixed, it's not just _filter_. Other icons match SVG or HTML elements as well:

SVG elements: [circle](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/circle), [filter](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/filter)
HTML elements: [code](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code), [menu](https://developer.mozilla.org/en-US/docs/We

[2022-03-06 12:01] czQery opened #521 "Fork icon"
## Icon Request

* Icon name: fork or git-fork
* Use case: Fork counter/indicator
* _Screenshots_ of similar icons:
![image](https://user-images.githubusercontent.com/60880179/156922101-a5275a4b-e07c-4a6c-aab3-6f258a669472.png)

[2022-03-07 18:05] ericfennis commented on #521
oh lol, I thought we had already one. But not. Good request!

[2022-03-07 18:33] ericfennis commented on #515
Hmm it's weird that this still happens.
I added an 'Icon' suffix a while ago in the [export template](https://github.com/lucide-icons/lucide/blob/37161048767fac5a24aa03c02f63467235917d9b/packages/lucide-vue/scripts/exportTemplate.js#L4)
From what I understand if you add this to name this should not be a problem. Because setting the name will change the component Id. But seems some SVG elements are

[2022-03-07 18:43] ericfennis commented on #521
I created 4 variants, what do you think?
<img width="126" alt="image" src="https://user-images.githubusercontent.com/11825403/157097564-b45bb4fb-128e-4324-a863-4fb4bdfdb879.png">

[2022-03-07 18:49] ericfennis commented on #451
@JanTrichter I agree the bottom ones are a bit softer and looks better with the other icons.
Here the rocket from left bottom with some other icons.
<img width="124" alt="image" src="https://user-images.githubusercontent.com/11825403/157098266-7082e064-8608-4170-a75a-e6f776f14b69.png">
<img width="579" alt="image" src="https://user-images.githubusercontent.com/11825403/157098281-afe093bb-0dd5-4f07

[2022-03-07 19:34] JanTrichter commented on #451
@ericfennis agree, looks really good and fits the feather/lucide style 👍🏽

[2022-03-07 19:51] czQery commented on #521
I like the second and third variants.

[2022-03-17 18:10] mittalyashu commented on #521
I also like 2 and 3 icon.

[2022-03-17 18:27] raphael141714 opened #527 "Some icons"
## Icon Request(s)

Hello everyone.

I made a while back quite a lot of icons in the style of feather-icons.
They are available [here](https://www.figma.com/file/HpxOU06lL2ueyY1PHek2WN/Penguin-Feather?node-id=0%3A1) and [here.](https://github.com/raphael141714/penguin-feather-library)

Are you willing to accept this many icons?
Many of them are brand icons, because the original plan was to create

[2022-03-18 12:35] jaspervermeulen opened #529 "Component Icon"
## Icon Request

* Icon name: Component
* Use case: Creating a component/displaying that something is a component.
* _Screenshots_ of similar icons:

<img width="33" alt="Screenshot 2022-03-18 at 13 28 43" src="https://user-images.githubusercontent.com/56585012/159003671-d55c5c63-dc29-4526-b49d-94c44d3842d7.png">
<img width="537" alt="Screenshot 2022-03-18 at 13 35 28" src="https://user-images.git

[2022-03-18 12:36] jaspervermeulen commented on #529
https://www.figma.com/file/fSM8zuFMb8zk9oUPp1GQBI/Component-Icon?node-id=0%3A1

[2022-03-19 13:57] Bowero opened #531 "Frame icon"
## Icon Request

* Icon name: frame
* Use case: This icon would be mostly used by designers to explain features
* _Screenshots_ of similar icons:
<img width="475" alt="Screenshot 2022-03-19 at 14 56 26" src="https://user-images.githubusercontent.com/14151691/159123946-3849cb58-8653-4bb8-82f6-6f4f6315dd42.png">

## Proposals
<img width="926" alt="Screenshot 2022-03-19 at 14 54 38" src="https://user

[2022-03-19 16:22] Bowero commented on #424
I tried to work on the stethoscope, but I'm not a designer. Feedback is welcome.

![stethoscope](https://user-images.githubusercontent.com/14151691/159129408-a6e493e6-5863-4e17-b9c3-c5b6f90d1260.svg)

<img width="353" alt="Screenshot 2022-03-19 at 17 20 30" src="https://user-images.githubusercontent.com/14151691/159129431-c73ebe40-95ba-4ed7-aad5-a1a32f70c6a9.png">

[2022-03-20 19:20] r4lv opened #533 "Typo in 'align-horiZONal-distribute-...' icons?"
## Prerequisites

* Version: v0.17.12 / main branch
* Are you running from source/master: yes
* Are you using a released build: yes

## Step to reproduce

It seems to me that the three new *distribute* icons have a typo in their name. Shouldn't it be `horizonTal` instead of `horiZONal`?

- https://github.com/lucide-icons/lucide/blob/e7c4542aaf56a6d8e9b0bc6dc48d876c5e756c37/icons/align-horizonal-di

[2022-03-21 08:30] #533 closed

[2022-03-23 03:35] vineetdigit opened #537 "Scalable approach to adding new icons"
Hello,

I am not sure how this fork accepts and prioritizes new icon requests. I'm wondering if there is a faster way to self-serve icon creating and adding it to the fork (or perhaps maintain your own fork)? e.g. are there DIY instructions on creating/editing existing icon, adding them to the fork, building the package etc?

thanks,

[2022-03-23 12:56] r4lv opened #538 "TTF font has inconsistent stroke width"
## Prerequisites

* Version: v0.16.23–v0.17.13
* Are you running from source/master: lucide-static ttf font file
* Operating system: macOS 12.2.1 (Monterey)

## Step to reproduce

Dear Lucide team,

I am using the font file from `lucide-static` in my LaTeX documents (using the XeLaTeX engine, which supports open type fonts). I noticed that in the resulting PDF, many icons have inconsistent stroke

[2022-03-23 13:11] r4lv commented on #538
Some additions:

- [svg-outline-stroke](https://github.com/elrumordelaluz/outline-stroke) basically just renders the SVG to a bitmap, and [traces it with `potrace`](https://github.com/elrumordelaluz/outline-stroke/blob/8443f6941132073f5118d6ce7606b30b8ef5e18b/index.js#L9-L11). While that is quite genius, I think that is at the root of the problem.
 - there is also a discussion on webfonts and outl

[2022-03-26 19:51] ericfennis commented on #537
Hi @vineetdigit!

We don't really prioritize new icon request, but we really welcome new icons. We also rarely deny icons. But we have a strict design guideline you should follow.
If you are interested to contribute please read the [CONTRIBUTING.md](https://github.com/lucide-icons/lucide/blob/master/CONTRIBUTING.md).

For self-serving, you can basically fork the repo and build the packages. You ca

[2022-03-26 19:54] ericfennis commented on #529
Nice idea!
I think this nice addition.

If you want to submit the icon you self. Please read the [Icon design guide](https://lucide.dev/docs/icon-design-guide) to make sure everything in line with the other icons

[2022-03-26 20:09] ericfennis commented on #538
Hmm interesting. Good you find this issue.
Yeah I think you solution is better, It felt a bit hacky how we outlined the paths. But it worked well, so far.
The only think we should check if inkscape is correctly rendering the icons, we still have some issues with rendering icons in other design programs, see #443 .

Maybe you also like to join this issue: #514 , I'm not sure yet how to solve this.

[2022-03-26 20:31] ericfennis commented on #527
Really nice icons, create PR's if you want!
It is ok if you have multiple icons in one PR, but group them by type. Like all the 'ethernet' icons for example.

There are some icons need to be checked before you want to submit them. I doubt they match the [guidelines](https://lucide.dev/docs/icon-design-guide):
- pc-case
- pc-fan
- touchpad
- touchpad-off
- memory-stick

And I think some are to spec

[2022-03-27 06:52] YesImSevy opened #542 "Memory/Ram Icon"
## Icon Request

* Icon name: Ram/Memory
* Use case: Show ram amount on a server, etc
* _Screenshots_ of similar icons:
https://fontawesome.com/icons/memory?s=solid

[2022-03-27 07:08] YesImSevy opened #543 "Circle Notch"
## Icon Request

* Icon name: Circle Notch
* Use case: Use for like a spinning circle with a notch
* _Screenshots_ of similar icons:
https://fontawesome.com/icons/circle-notch?s=solid

[2022-03-28 20:21] ericfennis commented on #543
@YesImSevy welcome to lucide.
Thanks for the request, I think we already have something like this.
[`loader-2`](https://lucide.dev/icon/loader-2?search=loader) looks similar, does it work for you?

[2022-03-28 21:25] delnyn commented on #349
most of the old icons definitely need a refactor

[2022-03-28 21:32] delnyn commented on #94
soooo? we just delete them all?

[2022-03-28 21:32] YesImSevy commented on #543
Oh I didn't think to search loading maybe on the website add that as a key word it shows up under?

[2022-03-29 19:06] ericfennis commented on #94
I'm thinking of defining the ultimate v1.0 for Lucide and I think this should be a part of it.

[2022-03-30 18:15] delnyn commented on #94
what do you mean by "defining the ultimate v1.0 for Lucide"?

[2022-03-31 07:55] MLoth opened #548 "Typescript annotation in Vue 3 with Vite"
## Prerequisites

* Version: `"lucide-vue-next": "^0.16.29",`
* Operating system: `node v16.14.0`, `"typescript": "^4.4.3",`

## Step to reproduce

1. Create [a Vite project with the Vue 3 template](https://vitejs.dev/guide/#scaffolding-your-first-vite-project).
2. Install the Vue 3 lucide package (`npm install lucide-vue-next`).
3. Use an icon somewhere (with or without the setup function).
4. Bu

[2022-03-31 07:58] MLoth commented on #548
I tried to manually import `FunctionalComponent` from vue in `lucide-vue-next.d.ts`. Afterwards the following error occurs:
[code]

[2022-03-31 10:47] ericfennis commented on #548
Tnx for reporting, I will take a look!

[2022-03-31 10:47] ericfennis commented on #543
Good one, I will add it as a tag!

[2022-03-31 10:48] #543 closed

[2022-03-31 10:53] #521 closed

[2022-03-31 18:13] #504 closed

[2022-04-02 21:57] delnyn commented on #330
![image](https://user-images.githubusercontent.com/45879791/161402624-ffd38287-b418-4900-809f-bd75ebb1e97f.png)
here is my idea

[2022-04-02 22:26] delnyn commented on #424
![image](https://user-images.githubusercontent.com/45879791/161403305-2d7a0fed-4685-44ea-b7c1-b1b43e51b4f6.png)
the stethoscope with geometrical shapes

[2022-04-02 22:32] delnyn commented on #529
also maybe a more literal name (for the possible future naming guidelines), e.g squares or something like that

[2022-04-02 22:33] delnyn commented on #531
the first one seems to be the best, imo

[2022-04-02 22:36] delnyn commented on #542
that's a good idea, but recreating the one you sent while respecting the guidelines seems impossible. we would need to make some exploration

[2022-04-03 15:53] ericfennis commented on #330
@delnyn Nicee, can you maybe post a 100% scale image?

[2022-04-03 16:02] ericfennis commented on #424
@delnyn nice!

[2022-04-03 21:38] delnyn commented on #330
![train](https://user-images.githubusercontent.com/45879791/161449755-5a711507-8c49-4fde-9558-6a17c95ea20b.png)
100%

[2022-04-03 21:39] delnyn commented on #424
thanks :)

[2022-04-06 09:10] #443 closed

[2022-04-06 09:49] ericfennis commented on #542
@raphael141714 created on in #527 , but it does need some refactoring to match the guidelines.

[2022-04-06 13:12] ericfennis commented on #531
I agree with @delnyn !

[2022-04-08 06:54] VonOx commented on #538
Hi

@GladysAssistant we want's to migrate from feather to lucide ( for obvious reason :) )

But we have some weird issue, is this the same problem described here ?

Left is Lucide font and right is Feather font
![image](https://user-images.githubusercontent.com/1528694/162380789-daf5e62d-a4a6-43f4-9acb-024f2859a35b.png)

[2022-04-09 01:26] Teraskull opened #552 "Telegram Icon"
## Icon Request

https://telegram.org/

* Icon name: Telegram
* Use case: Account link

[2022-04-09 03:42] SMAH1 commented on #94
We are going with a lot of requests to add icons. I'm think split project. Part for medical, part for programing, part for brand , ... .
In this case, 'quality, version, update, ...' of each package are different.
In angular, we can one project for handle of use multi package icon library.

[2022-04-11 06:54] delnyn commented on #94
I don't understand lol

[2022-04-11 08:26] karsa-mistmere commented on #552
Brand icons are deprecated, see: #94
https://lucide.dev/icon/send?search=send is pretty similar, the addition of anything more similar to the actual Telegram logo is unlikely, due to #73

[2022-04-11 08:34] karsa-mistmere commented on #529
[code]
![image](https://user-images.githubusercontent.com/17746067/162697034-23865d42-de77-475b-8373-bc777cec3930.png)

I think this more or less abides by all of the design guides, apart from the 2px rounded corners, which should be okay, since e.g. layout grid also does not have rounded corners: https://lucide.dev/icon/layout-grid

[2022-04-11 08:42] karsa-mistmere commented on #531
I think all of these have too little visual weight compared to current icons, I'd suggest a slight increase in size as highlighted below:
![image](https://user-images.githubusercontent.com/17746067/162698805-b65a84a2-d0ad-4776-94f0-86c78c5ef8dd.png)
(square and frame-1 for comparison).

[2022-04-11 08:59] karsa-mistmere commented on #503
Due to design guide constrictions, I do not think the concept icon is feasible, similar ideas might be:
![image](https://user-images.githubusercontent.com/17746067/162701908-289d22b2-ba24-426f-b70e-90d5622c529f.png)

[2022-04-11 09:33] karsa-mistmere commented on #424
@wojtekmaj: While we could adjust the markings on the syringes to comply with the guides, I'd propose to get rid of them altogether:

![image](https://user-images.githubusercontent.com/17746067/162709844-6f764948-3406-4037-8edf-372e01237559.png)
[code]

[code]

[2022-04-11 09:57] karsa-mistmere commented on #498
Not sure how well these fit within the general aesthetic of the icon pack, but I gave this a go:

![image](https://user-images.githubusercontent.com/17746067/162714316-5c0b60b9-1284-477e-b2a6-46f73cd5dec3.png)

[code]

[code]

[2022-04-11 11:12] karsa-mistmere commented on #521
![image](https://user-images.githubusercontent.com/17746067/162728177-12da34f1-d9f2-406a-8d53-db33a4529a7f.png)

@ericfennis How about also adding matching git merge, pull and push icons?

[2022-04-11 12:05] ericfennis commented on #521
@karsa-mistmere yeah why not!

[2022-04-11 12:07] ericfennis commented on #94
@delnyn I will create a separate discussion for that later. I need write down some points for that.

[2022-04-11 12:10] ericfennis commented on #94
@SMAH1 Hmm I'm not fan of this idea. I think it wil add some unnecessary complexity. And can be really confusion as well.

[2022-04-11 13:24] karsa-mistmere commented on #531
Upon further consideration, `frame` should probably have the same dimensions as `crop` (making it even larger in essence):
![image](https://user-images.githubusercontent.com/17746067/162748680-3d9c4d45-f0e9-4bd7-ba2a-815c38898fdf.png)

[code]

[2022-04-11 15:19] karsa-mistmere commented on #527
I think `touchpad` + `touchpad-off` should be okay, they use the same dimensions as `credit-card` does, the same goes for the outer rectangle of `pc-case`: https://lucide.dev/icon/credit-card

I've made some fixed versions of the others: https://www.figma.com/file/oTmEVB7gbX8426Dh474A5z/%23527?node-id=0%3A1

[2022-04-11 15:54] karsa-mistmere opened #560 "Gender icons"
## Icon Request

* Icon name: gender icons
* Use case: representing genders
* _Screenshots_ of similar icons:
![image](https://user-images.githubusercontent.com/17746067/162781091-f3d6124b-7c46-40d1-ab28-035cdfc15333.png)

This is a continuation of https://github.com/feathericons/feather/issues/27 as per #119

Here are a few rough drafts of all 14 gender icons currently implemented by Fontawesome.

[2022-04-11 18:23] ericfennis commented on #531
@karsa-mistmere Nope,we should resize the crop icon. The current crop icon is not matching the [Icon Design Guidelines](https://lucide.dev/docs/icon-design-guide). See issue #349
But I agree with would be nice if they match.

[2022-04-11 18:38] ericfennis commented on #552
@karsa-mistmere is right, maybe take a look at [simple-icons](https://github.com/simple-icons/simple-icons)

[2022-04-11 18:38] #552 closed

[2022-04-12 19:57] Billiam commented on #354
Since the code in the above PR has been removed, can this issue be reopened please?

[2022-04-13 05:41] cyberalien opened #580 "flag-off.svg error"
Icon `flag-off.svg` is invalid.

Current content:
[code]
Last `<path>` tag is not closed, resulting in invalid icon.

[2022-04-15 10:21] #580 closed

[2022-04-15 19:28] #531 closed

[2022-04-16 14:53] delnyn commented on #529
maybe pixel perfect is better, to make sure it's well rendered everywhere

[2022-04-16 14:55] delnyn commented on #424
last one is the best imo

[2022-04-16 15:07] karsa-mistmere commented on #424
Yeah, I second that, I think the notches are definitely a bit too much, and the third one maybe looks a bit more like a bicycle pump than it does a syringe.

[2022-04-17 10:29] PeterlitsZo opened #595 "Add tag for grip"
## Add tags for grip

I think `dots` is a good tags for `grip`, and `drag` and `move` is also good for `grip-vertical`.

How do you think so? It is OK, I will send a PR :)

[2022-04-18 19:22] karsa-mistmere commented on #94
Yeah, I agree, and apart from adding a layer unnecessary complexity, this would introduce the problem of having to deal with icons overlapping multiple categories. Categorising icons sounds like a potentially useful feature, but it's partly accomplished already via tagging. I would maybe add very basic filtering on tags to the lucide.dev UI and make sure that icon categories are properly filled in

[2022-04-19 07:24] karsa-mistmere opened #596 "[Icon Requests from Feather] Food icons"
As per #119 and https://github.com/feathericons/feather/issues/32 here are a few suggestions:

![image](https://user-images.githubusercontent.com/17746067/163974049-b33ebc99-360d-47d7-a071-17168d5aa5d3.png)

I think `cloche` is maybe just not recognisable enough for what it is, `plate` is just too generic of a shape without additional context, but chef's hat and croissant seem like strong contende

[2022-04-19 08:20] karsa-mistmere opened #597 "[Icon Requests from Feather] Utensils"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/552:
![image](https://user-images.githubusercontent.com/17746067/163957992-76097899-1aae-4209-8aee-89da3b8d4a35.png)

![utensils](https://user-images.githubusercontent.com/17746067/163957910-68ad8f82-883f-42dd-8e22-60428514bf46.png)

[2022-04-19 18:46] ericfennis commented on #597
@karsa-mistmere I think the length of the fork and the knife are a bit too long.

[2022-04-19 18:48] ericfennis commented on #596
@karsa-mistmere I agree with you on you're comment in the bottom. But the the
chef's hat and the croissant are really well designed!

[2022-04-19 18:49] ericfennis commented on #595
@PeterlitsZo yess I agree with you. Don't hesitate to create a PR!

[2022-04-20 05:33] PeterlitsZo commented on #595
See #598 please.

[2022-04-20 05:33] #595 closed

[2022-04-20 09:49] karsa-mistmere commented on #597
Yeah, I've made an obscene amount of drafts before I stuck with these, as opposed to (some of) the others:
![image](https://user-images.githubusercontent.com/17746067/164200527-f95eadbd-3664-4974-82c1-5c518a911953.png)

I think if decreased in length the fork just looks way too much like a pitchfork. :)

[2022-04-21 19:22] ericfennis commented on #597
@karsa-mistmere I understand what you mean.
Can you maybe post a side by side comparison in 100%, that's maybe a bit easier to judge

[2022-04-21 19:25] ericfennis commented on #330
@delnyn sorry for late reply. I think it looks great!

[2022-04-21 19:31] ericfennis commented on #424
@karsa-mistmere @delnyn I agree last one looks the best.

Feel free to open a PR!

[2022-04-22 06:53] karsa-mistmere commented on #597
1x + 2x view:
![utelsils-100p](https://user-images.githubusercontent.com/17746067/164619816-41d1589c-1bcd-40fe-a7ae-ce260f3e5828.png)
![utelsils-200p](https://user-images.githubusercontent.com/17746067/164619893-3940ef52-f874-4325-b92c-d0cb46baca4b.png)

[2022-04-22 07:36] karsa-mistmere opened #599 "[Icon Requests from Feather] `forest`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/56:

![image](https://user-images.githubusercontent.com/17746067/164629355-a1f0709f-4f7e-46b9-b29b-3314c14675d8.png)
![forest](https://user-images.githubusercontent.com/17746067/164629422-1c940178-f1f0-4b21-931c-c1f6bd668825.png)

[2022-04-22 07:38] karsa-mistmere opened #600 "[Icon Requests from Feather] `bath`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/70:
![image](https://user-images.githubusercontent.com/17746067/164631114-7412a23f-9983-40eb-b0b8-ab835084a16a.png)
![bathtub](https://user-images.githubusercontent.com/17746067/164631193-329eae34-b50e-4755-9748-85580373283a.png)

[2022-04-22 07:40] karsa-mistmere opened #601 "[Icon Requests from Feather] `cake`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/149:
![image](https://user-images.githubusercontent.com/17746067/164633230-c4314f80-8e51-4b7f-8ea6-e04ff7c94dcd.png)
![cake](https://user-images.githubusercontent.com/17746067/164633298-f92bc884-fedc-4220-81a9-38193358e13d.png)

[2022-04-22 07:42] karsa-mistmere opened #602 "[Icon Requests from Feather] `fax`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/210:

![image](https://user-images.githubusercontent.com/17746067/164634989-078a3371-0e90-40df-a350-fad3ecc97e69.png)
![fax](https://user-images.githubusercontent.com/17746067/164635081-1fdbd342-6fbc-47f9-bc64-cbcb10f4218a.png)
(printer for comparison)

[2022-04-22 07:47] karsa-mistmere opened #603 "[Icon Requests from Feather] `sword`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/220:

![image](https://user-images.githubusercontent.com/17746067/164639943-7418d5fa-e612-4695-8a1e-52c06e6431d7.png)
![sword](https://user-images.githubusercontent.com/17746067/164640184-539c2e5b-22ad-4352-af9e-d7e699ca4b12.png)

[2022-04-22 07:53] karsa-mistmere opened #604 "[Icon Requests from Feather] `camera-lens`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/221:

![image](https://user-images.githubusercontent.com/17746067/164642846-a723cdc2-e6b0-4436-9b61-aa2e5315c883.png)
![lens](https://user-images.githubusercontent.com/17746067/164642862-8210694e-2c33-48f4-9c23-a90062c25ca1.png)

First is the original suggestion, I think that looks a bit too

[2022-04-22 07:54] karsa-mistmere opened #605 "[Icon Requests from Feather] `pill`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/264:

![image](https://user-images.githubusercontent.com/17746067/164643389-9907c3f8-e5cf-4003-86a0-daa38bfa820e.png)
![pill](https://user-images.githubusercontent.com/17746067/164643462-0a6d19bb-d830-4184-bfe9-766213c1b0bd.png)

[2022-04-22 07:57] karsa-mistmere opened #606 "[Icon Requests from Feather] `file-zip`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/339:

![image](https://user-images.githubusercontent.com/17746067/164643967-9f52e982-dc26-4254-82d5-4a5281e48bb7.png)
![file-zip](https://user-images.githubusercontent.com/17746067/164644071-c04d6195-87da-4a18-a636-8306db2efa54.png)

[2022-04-22 08:00] karsa-mistmere opened #607 "[Icon Requests from Feather] `newspaper`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/459:

![image](https://user-images.githubusercontent.com/17746067/164644251-46a9a221-19dd-4f34-86cf-9812b808bd46.png)
![newspaper](https://user-images.githubusercontent.com/17746067/164644533-e19615c2-d43d-49f4-828f-e9f59a6c9af2.png)

[2022-04-22 08:02] karsa-mistmere opened #608 "[Icon Requests from Feather] `handshake`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/444 and https://github.com/feathericons/feather/issues/486:

![image](https://user-images.githubusercontent.com/17746067/164644726-ead6b93b-7178-4199-8eae-1e96c32a12d9.png)
![handshake](https://user-images.githubusercontent.com/17746067/164644906-864b6fc4-7e59-4e7c-9ef5-111841890d4b.png)

[2022-04-22 08:03] karsa-mistmere opened #609 "[Icon Requests from Feather] `walking`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/471:

![image](https://user-images.githubusercontent.com/17746067/164645033-1075fa5d-8d89-4cef-8d0f-83940b130d85.png)
![walking](https://user-images.githubusercontent.com/17746067/164645044-ecc1adbb-a2f3-414c-a72a-32a8dea03b07.png)

[2022-04-22 08:04] karsa-mistmere opened #610 "[Icon Requests from Feather] `bird`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/472:

![image](https://user-images.githubusercontent.com/17746067/164645156-f87b2cb3-d49f-43e8-8d36-e04b7b7a3acb.png)
![bird](https://user-images.githubusercontent.com/17746067/164645228-f752115b-c772-4b98-8000-bd9731bfd191.png)

[2022-04-22 08:08] ericfennis commented on #349
@karsa-mistmere is doing a really nice job.

Progress:
- [x] award
- [x] coffee
- [x] coins
- [ ] cpu
- [x] credit-card
- [x] crop
- [ ] delete
- [x] dollar-sign
- [x] eye-off
- [x] eye
- [ ] github
- [x] map-pin
- [ ] map
- [ ] mic-off
- [ ] mic
- [x] paperclip
- [ ] shopping-cart
- [ ] toggle-left
- [ ] toggle-right
- [x] trending-down
- [x] trending-up
- [ ] umbrella
- [ ] user-check
- [ ] user

[2022-04-22 08:10] karsa-mistmere opened #611 "[Icon Requests from Feather] `puzzle`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/473:

![image](https://user-images.githubusercontent.com/17746067/164646180-71757c98-ff33-4084-92fa-53380b0f2366.png)
![puzzle](https://user-images.githubusercontent.com/17746067/164646162-a3492127-eb8c-428d-a2bb-092f9f558a6c.png)

[2022-04-22 08:15] karsa-mistmere opened #612 "[Icon Requests from Feather] `brain`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/509:

![image](https://user-images.githubusercontent.com/17746067/164647046-e6f5a49c-06bd-4a8e-a84d-7951c3cddcb9.png)
![brain](https://user-images.githubusercontent.com/17746067/164647062-3fdddfd3-0038-4156-8f02-799e481be5e6.png)

[2022-04-22 08:16] karsa-mistmere opened #613 "[Icon Requests from Feather] `mask`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/514:

![image](https://user-images.githubusercontent.com/17746067/164647201-b0576cc8-39c2-4d41-9987-d7378be0402e.png)
![mask](https://user-images.githubusercontent.com/17746067/164647209-6c033b45-2a9c-4cb9-9f68-90ca681eb971.png)

[2022-04-22 08:18] karsa-mistmere opened #614 "[Icon Requests from Feather] `helping-hand`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/831:

![image](https://user-images.githubusercontent.com/17746067/164739002-6d536653-12f7-45e5-85b8-5266749d4c42.png)

![helping-hand](https://user-images.githubusercontent.com/17746067/164739012-872680b6-a8c2-46dc-bb45-8331f7d92e71.png)

[2022-04-22 08:19] karsa-mistmere opened #615 "[Icon Requests from Feather] `receipt`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/586:

![image](https://user-images.githubusercontent.com/17746067/164648103-30c0560e-984c-4379-8da5-2a8df7789fc2.png)
![receipt](https://user-images.githubusercontent.com/17746067/164648135-5b2b5754-c928-4f02-9e08-53eb1fb0c57e.png)

[2022-04-22 08:20] karsa-mistmere opened #616 "[Icon Requests from Feather] `boat` / `ship`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/631:

![image](https://user-images.githubusercontent.com/17746067/164648238-a3a4c02b-ea13-45be-8106-fa7181502927.png)
![boat](https://user-images.githubusercontent.com/17746067/164648253-62834dbe-cfd6-47cc-bf55-195894906cd1.png)

[2022-04-22 08:21] karsa-mistmere opened #617 "[Icon Requests from Feather] `usb`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/686:

![image](https://user-images.githubusercontent.com/17746067/164648446-7400c6a8-f829-4c4a-b481-85cb96a3f691.png)
![usb](https://user-images.githubusercontent.com/17746067/164734890-502f2db6-6832-4da1-a78c-c890482c77b5.png)

[2022-04-22 08:22] karsa-mistmere opened #618 "[Icon Requests from Feather] `fence`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/697:

![image](https://user-images.githubusercontent.com/17746067/164648596-d1568f65-9697-45d6-8e95-f9df136cf9c5.png)
![fence](https://user-images.githubusercontent.com/17746067/164648611-bc9b304b-2e1c-46da-af1d-e2364ca45d97.png)

[2022-04-22 08:23] karsa-mistmere opened #619 "[Icon Requests from Feather] `dice`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/812:

![image](https://user-images.githubusercontent.com/17746067/164648684-5d1d257f-11b1-46ec-baa4-95e132da6b0e.png)
![dice](https://user-images.githubusercontent.com/17746067/164648754-dfd048ab-9b79-4c6f-88ac-877786acc595.png)

[2022-04-22 08:24] karsa-mistmere opened #620 "[Icon Requests from Feather] `fuel`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/879:

![image](https://user-images.githubusercontent.com/17746067/164648844-df68209b-dda8-4d14-9f7d-c8fc676237ed.png)
![fuel](https://user-images.githubusercontent.com/17746067/164648894-a0fb5fab-4367-4480-86cb-822c63f21fde.png)

[2022-04-22 08:34] karsa-mistmere opened #621 "[Icon Requests from Feather] drink icons"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/965:

![image](https://user-images.githubusercontent.com/17746067/164650795-0293fe95-172c-4be0-83b6-471e1b49ac86.png)
![drink](https://user-images.githubusercontent.com/17746067/164650803-75de188c-1417-4059-8f0e-9e72c80b3064.png)

[2022-04-22 08:42] karsa-mistmere opened #622 "[Icon Requests from Feather] `flip`/`reflect`"
As per https://github.com/lucide-icons/lucide/issues/119 and https://github.com/feathericons/feather/issues/426:

![image](https://user-images.githubusercontent.com/17746067/164652101-c815cbe1-3983-4d96-b92b-ad5ced96fa49.png)
![reflect](https://user-images.githubusercontent.com/17746067/164652093-6b70db67-6d7d-485b-a3c8-28a7e7f341ec.png)

[2022-04-22 16:14] bauhuynhdev opened #627 "Google ICON"
## Icon Request

* Icon name: Google
* Use case: Login with Google
* _Screenshots_ of similar icons:

[2022-04-24 10:52] ericfennis commented on #597
@karsa-mistmere Hmm I think the icons from the second row looks the best.

[2022-04-24 10:55] ericfennis commented on #597
Found it in the TripAdvisor app. Maybe this also an idea. But I think this should be a second utensils icons. ![Screenshot_20220424-125016.jpg](https://user-images.githubusercontent.com/11825403/164972978-5efd83cf-f248-4e31-a34d-fe9c2c3afb87.jpg)

[2022-04-24 10:59] ericfennis commented on #601
@karsa-mistmere Nice ? I like the first one, but curious what others think.

[2022-04-24 11:02] ericfennis commented on #619
@karsa-mistmere We already have a dice icons, So I think this should be dices.
For the icon, hard to tell which is better. I think the second one.

Can you try post one mirrored horizontally?

[2022-04-24 11:04] ericfennis commented on #616
@karsa-mistmere I think the left one is not really in the "lucide" style. The left sail of the second one looks a bit too dense i think.

[2022-04-24 11:05] ericfennis commented on #600
@karsa-mistmere Nice love it. On 100% is hard to tell the difference.

[2022-04-24 11:06] ericfennis commented on #610
@karsa-mistmere Really cute, I would say the most simple one. The first.

[2022-04-24 11:09] ericfennis commented on #606
@karsa-mistmere Nice, I think the zipper can be bigger. Maybe somethink like the github icons?
<img width="387" alt="image" src="https://user-images.githubusercontent.com/11825403/164973556-414d63d5-5290-48d1-8f76-cd3b038441ad.png">

[2022-04-24 11:10] ericfennis commented on #618
I like the icon, but I'm not sure about the usecase.

[2022-04-24 11:13] ericfennis commented on #618
Also in the original PR there is no description of it. @mittalyashu Do you remember what your use case was?

[2022-04-24 11:14] ericfennis commented on #612
Can you try making one with some little waves?

[2022-04-24 11:14] ericfennis commented on #611
@karsa-mistmere Nice love the left one. The right one looks a bit weird to me without context.

[2022-04-24 11:16] ericfennis commented on #609
I think this one should be matching [`person-standing`](https://lucide.dev/icon/person-standing).

[2022-04-24 11:17] ericfennis commented on #602
Hmm not sure if this icon is still needed in 2022 🤔

[2022-04-24 11:17] ericfennis commented on #603
Nice! I would say the right row!

[2022-04-24 11:20] ericfennis commented on #604
I understand your concerns. I agree. Let go with focus!

[2022-04-24 11:22] ericfennis commented on #608
Nice, Can image this is really hard one to design.
But I think the sleeves are missing to recognise the handshake.

[2022-04-24 11:28] ericfennis commented on #613
@karsa-mistmere Nice love the icon!
For naming , I think we should use an other name, maybe `carnival-mask` or `venetian-mask`. For the the word `mask` can also considered to other things, like medical masks and masking in design applications.

[2022-04-24 11:31] ericfennis commented on #620
I like both.

[2022-04-24 11:45] mittalyashu commented on #618
There is no specific use-case comes to my mind, except for using it in gardening website or privacy/security firms website stating to keep the bugs away 😂

[2022-04-24 11:45] ericfennis commented on #621
Nice icons, love them.
I think we should not too go to specific with some icons. So I would say. Beer wine and one normal glass.

[2022-04-24 11:50] ericfennis commented on #618
For privacy or security I would say use the shield or lock icon.
But only a fence for a gardening website is I think too specific.

[2022-04-24 14:42] karsa-mistmere commented on #627
Brand icons are deprecated, see #73 as well as https://github.com/feathericons/feather/issues/763.
Even still, it also goes against [Google's own guidelines](https://developers.google.com/identity/branding-guidelines) to use the Google icon by itself for this use case.

[2022-04-24 14:43] karsa-mistmere commented on #621
Thanks, and you're right, one icon per type is plenty.

[2022-04-24 14:47] karsa-mistmere commented on #619
Actually, dice is technically already plural, but sure, to avoid confusion, let's call this variant dices:
![dice-100h](https://user-images.githubusercontent.com/17746067/164982011-0521c4fa-312e-4e35-821a-08263c74a70d.png)

[2022-04-24 14:51] karsa-mistmere commented on #616
Yeah, you're probably right in both cases, here's a looser version of sailboat:
![image](https://user-images.githubusercontent.com/17746067/164982261-e6c3eca6-5a23-4570-a4d0-be861405eb01.png)
![sailboat](https://user-images.githubusercontent.com/17746067/164982272-24af32d7-23b6-485d-ae45-26a9c00f80ab.png)

[2022-04-24 14:58] karsa-mistmere commented on #612
I also made this draft, but decided against it, since it doesn't fit with the design guidelines:
![image](https://user-images.githubusercontent.com/17746067/164982526-fe4b2593-7e71-47b7-9b20-7c54baa9fe27.png)
![brain](https://user-images.githubusercontent.com/17746067/164982611-4a3f3fc7-c549-4f81-a509-09dbf3360354.png)

I can't really see any way we could add more nuance without violating the guid

[2022-04-24 15:13] karsa-mistmere commented on #609
This redesign would make it have the same dimensions, but at the same time, it makes the walking person look comically short compared to the standing person (partly because of the slight guideline violations in case of the shoulders of `person-standing`):

![image](https://user-images.githubusercontent.com/17746067/164983131-aacb0738-7b81-44e8-8c05-f34903e22ad4.png)
![image](https://user-images.gi

[2022-04-24 15:20] karsa-mistmere commented on #608
I just don't think there's enough place to fit in sleeves. We could add an extra line at the wrists, but I'm not sure if it's super helpful:
![image](https://user-images.githubusercontent.com/17746067/164983575-7df591c9-ff13-47cc-b27b-966f6b01b8f5.png)

[2022-04-24 15:25] karsa-mistmere commented on #606
Yeah, the github icon looks nice, but doesn't quite fit well with the rest of the file icons.

[2022-04-25 11:45] karsa-mistmere commented on #610
@ericfennis: Thanks. I also really really like the last one, and that's maybe also more in line with original use case as outlined by @matthias-t. :D
Maybe add both?

[2022-04-25 12:09] karsa-mistmere commented on #597
![image](https://user-images.githubusercontent.com/17746067/165086049-4a4cac4f-c1be-4f32-89f2-b55f6e754100.png)

Respecting the design guidelines this is best I could come up with. Looks the pitchforkiest of them all to me. 😅

[2022-04-25 12:31] karsa-mistmere commented on #601
I'm also partial to the first.

[2022-04-25 13:29] JamiltonMacedo commented on #601
I prefer one single candle. The Third one.

[2022-04-25 13:34] JamiltonMacedo commented on #603
The first on bottom looks like a syringe.

So a prefer the first one for `sword` and the second one for `Battle`.

[2022-04-25 14:46] JamiltonMacedo commented on #610
@karsa-mistmere I most Liked the last one too. The first looks like a litle chick

[2022-04-25 15:25] JamiltonMacedo commented on #527
I think PCI CARDs are usable for various pc components

[2022-04-25 16:00] delnyn commented on #330
ty

[2022-04-25 16:02] delnyn commented on #424
Will do!

[2022-04-26 01:10] JamiltonMacedo commented on #620
What about the oil barrel?
![image](https://user-images.githubusercontent.com/104264784/165198774-a2e8f3d0-c232-4519-82d0-0578cf051274.png)
![oil](https://user-images.githubusercontent.com/104264784/165198982-e28ae2e8-d2ea-4436-913a-ac96d827caf9.png)

[2022-04-26 07:30] ericfennis commented on #330
@delnyn Yess do!

[2022-04-27 00:35] #627 closed

[2022-04-28 11:52] PeterlitsZo opened #637 "Add support for solidjs"
How about it? I can help you.

[2022-04-28 16:59] wj25czxj47bu6q opened #638 "Icon Update Request: GitLab"
As of yesterday, [GitLab changed their logo](https://about.gitlab.com/blog/2022/04/27/devops-is-at-the-center-of-gitlab/). As such,  the [GitLab icon](https://github.com/lucide-icons/lucide/blob/master/icons/gitlab.svg) no longer matches GitLab's logo.

Since this is an existing deprecated brand icon, I am not sure of Lucide's official stance on updating it. My personal opinion is that the icon sh

[2022-05-01 11:52] SnoutBug opened #640 "[Icon Request] Magnet"
## Icon Request

* Icon name: Magnet
* Use case: Grid Snapping
* _Screenshots_ of similar icons:
![blender](https://user-images.githubusercontent.com/71790678/166144544-50574043-9a62-4286-a171-b85a80331c97.png) Icon in Blender

[2022-05-01 11:56] SnoutBug commented on #640
Additionally separate icons displaying a grid and a magnet combined could make sense - perhaps even for rotation snapping?

[2022-05-01 13:40] lscheibel commented on #613
Personally I like the Spy/Agent style a bit better.

[2022-05-01 15:28] lscheibel commented on #605
I like the right one!

Alternatively I could submit one of these two:
<img width="532" alt="image" src="https://user-images.githubusercontent.com/44374653/166152822-1d5677ab-a1c3-4080-b1cf-eba93a43c301.png">

<img width="56" alt="image" src="https://user-images.githubusercontent.com/44374653/166152827-906f6f09-4341-4719-b186-14b6fa19eed0.png">
<img width="29" alt="image" src="https://user-images.g

[2022-05-01 18:49] lscheibel commented on #599
What do you think of something with less details?

<img width="599" alt="image" src="https://user-images.githubusercontent.com/44374653/166160117-56c2a3f6-160b-41dd-9df2-314a43bf57df.png">

[2022-05-01 23:50] lscheibel commented on #610
I love the last one too! Maybe we can remove the wing for it though?

[2022-05-01 23:58] lscheibel commented on #596
I really like the chefs hat.

[2022-05-02 06:19] karsa-mistmere commented on #640
Magnet seems nice to have, here are a few proposals. Not quite sure about an icon depicting a grid+magnet, that seems a bit too detailed and too specific.
![image](https://user-images.githubusercontent.com/17746067/166192317-e06634ea-95b1-4856-a8cd-1ebc46b3263d.png)
![magnet](https://user-images.githubusercontent.com/17746067/166192329-517a74d2-9312-4565-85ee-c5231b487e21.png)

[2022-05-02 06:24] karsa-mistmere commented on #638
Damn, and I've just fixed this too. A new version would be:
![image](https://user-images.githubusercontent.com/17746067/166192992-9527119d-6c67-4935-8d67-e1a163ec993f.png)
[code]
I'll let others decide what to do with this one, as per #94 this redesign might be needed for a separate lucide-brand package.

[2022-05-02 06:38] karsa-mistmere commented on #610
@lscheibel Here it is with and without wing.
![image](https://user-images.githubusercontent.com/17746067/166193819-0cc49ca2-ff06-4e17-999a-ed5f1e9db0e4.png)
![image](https://user-images.githubusercontent.com/17746067/166193852-2f231103-3d11-4a1a-ac49-367cf6299771.png)

I guess it's not too bad without, but the wing does add that little finishing touch for me, granted, it's maybe a bit too much det

[2022-05-02 06:41] karsa-mistmere commented on #605
Not sure about the first, the 100% view looks a bit like a Croc or a sandal to me, and there's also not a big enough gap between the outer line and the rightmost dot.

[2022-05-02 06:56] karsa-mistmere commented on #613
@lscheibel I think there's definitely space for a separate spy / agent icon, I've just been unable to fit that within our 24x24 grid... yet. :)

Here are a few rough ideas:
![image](https://user-images.githubusercontent.com/17746067/166195931-7e1bd1c7-76a4-4b81-96e5-5fc9eb56ca65.png)
![spy](https://user-images.githubusercontent.com/17746067/166195984-a776bdaa-d999-4748-94c8-1ad4836b2969.png)

[2022-05-02 07:05] karsa-mistmere commented on #620
@JamiltonMacedo Personally not really a fan of the barrel shape itself, looks more like a spool to me.
Maybe something like one of these?
![image](https://user-images.githubusercontent.com/17746067/166196885-fdcfc5fc-d589-44a9-baa7-9f74aeade33d.png)

[2022-05-02 07:07] karsa-mistmere commented on #603
Yeah, and the third column is also the one most in line with the Lucide aesthetic, so I think I'll make a PR.

[2022-05-02 07:10] karsa-mistmere commented on #599
@lscheibel Nice one, can you provide a 100% view for comparison?

[2022-05-02 08:22] karsa-mistmere commented on #602
Yeah, I'm not sure either. While I know for a fact some people around are to this day hell bent on using fax vs. e-mail (🙄), I think in most cases the printer icon can easily be used to represent fax, as there is very little chance of having to use print AND fax in the same context.

Anyway, I'll leave the source code here for posterity, just in case anyone is in dire need of this icon. :D
[code]

[2022-05-02 15:46] SnoutBug commented on #640
I think no. 4 looks the best

[2022-05-02 18:33] lscheibel commented on #599
Sure, here you go:
![image](https://user-images.githubusercontent.com/44374653/166304793-7cfc7f5e-6348-4d8c-88a0-9f3a6e5fc30b.png)

[2022-05-02 18:44] karsa-mistmere commented on #599
Looks good to me. I don't have a strong preference, although a matching single tree would be nice to have as an alternate choice.
What do you think, @ericfennis ?

[2022-05-02 19:35] ericfennis commented on #599
Hmm I don't have a strong preference either. There is not really a "iconic" forest icon.
Maybe we can make some more icons?

[2022-05-02 19:35] ericfennis commented on #637
Good idea!

[2022-05-02 19:45] ericfennis commented on #640
@SnoutBug Nice request.
@karsa-mistmere I agree with @SnoutBug the 4th one looks the best I think.

[2022-05-02 20:16] ericfennis opened #649 "New lucide.dev homepage design request"
We need a new homepage design. And I'm curious how others think about this.

## The problem
The current one is fine but performance is getting worse.
The lighthouse insight is ranking us lower because the current homepage DOM size is to big.
<img width="1183" alt="image" src="https://user-images.githubusercontent.com/11825403/166317396-1ac22801-bc7d-4bbd-bc28-e07d9b3629ec.png">
<img width="527" al

[2022-05-02 23:58] JamiltonMacedo commented on #640
Agree with the last one.

[2022-05-03 00:00] JamiltonMacedo commented on #610
Vote to keep the wing detail

[2022-05-03 08:24] lscheibel commented on #614
I like the third one

[2022-05-03 12:02] karsa-mistmere commented on #649
Yeah, I think load time is definitely an issue, and in the long run we're probably going to have to let go of the whole concept of having all icons visible on a single page.

As for categories: I really like the general idea, but I'm not quite sure if grouping by categories is the way to go (since, as I've already said in #94, categories have significant overlaps), I'd probably opt for a faceted s

[2022-05-03 13:40] lscheibel opened #650 "Guidelines vs Rules"
This is a problem that has been here since the beginning and after seeing more icons being "fixed" (and doing so myself) I feel the need to get this out of my head. Please keep in mind, that this is only my opinion and I understand that not everybody will feel the same but maybe this can at least spark some discussion:

In my opinion, our guidelines should not be declared as rules.

I feel the gui

[2022-05-03 18:17] karsa-mistmere commented on #650
I think you're definitely onto something, my two pennies on the matter:

I think Feather and Lucide's guidelines are equally outdated. I completely agree that some guidelines should be marked as requirements/constraints and some should be marked as recommendations, and we do definitely need to add some extra guidelines for sake of consistency.

---

As for our current guidelines, I think we can al

[2022-05-03 18:30] karsa-mistmere commented on #650
For demonstration purposes, here's a screenshot of `shopping-cart` from Feather to illustrate why it needed to be fixed:
![image](https://user-images.githubusercontent.com/17746067/166518752-f0bf86a8-a9dc-4852-adeb-4aeffc8726a9.png)

[2022-05-03 18:59] ericfennis commented on #649
@karsa-mistmere Woww that's loooks really lit :fire:, nice work!!
Really like customization panel, shows you what you can do with it.

Yeah for the categories I think would be nice to make it optional. Would be nice if the site can play a nice role as sort of tool. I think we can build a icon detail page as well. Feather icon tried to make one, really like this one: https://feathericons.dev/airpla

[2022-05-04 07:18] outbackStack opened #651 "[Icon Request] Integrations/Plugins"
## Icon Request

* Icon name: Plugins/Integrations
* Use case: Menu for all plugins available in an app
* _Screenshots_ of similar ic
<img width="42" alt="Screen Shot 2022-05-04 at 5 14 56 pm" src="https://user-images.githubusercontent.com/16639496/166637118-d21507da-134e-46f2-a683-2703fd127594.png">

<img width="93" alt="Screen Shot 2022-05-04 at 5 14 05 pm" src="https://user-images.githubusercon

[2022-05-04 10:49] karsa-mistmere commented on #649
Thanks. As for an icon detail page... hmm... not quite sure. Love all the added detail and the general idea of having an extra tool, but from a UX point of view I think it's problematic to heavily detach icon details from the list / overview. How about a larger modal instead of the current preview and a separate maximized detail page behind a maximize button?
https://www.figma.com/proto/MAGha7ERy1

[2022-05-04 11:03] karsa-mistmere commented on #651
`puzzle` is already being added: #633

As for electric plug, here is my take:
![image](https://user-images.githubusercontent.com/17746067/166668937-91831701-ab7a-4a84-a3fc-354edb614d0e.png)

Not sure about the lego piece, I think in most cases either `puzzle` of [`package`](https://lucide.dev/icon/package) can be used.

[2022-05-04 11:52] ericfennis commented on #650
@lscheibel I agree partially with you on this. For how I see the guidelines is that we need to follow them much as possible but sometimes we can make exceptions. I think it is good we update some of the old icons. I agree on the part :

But this was also not really the case with some of the "old" icons from feather.
For example the cog icon. I really loved the look of the feather cog icon, but it

[2022-05-04 11:58] karsa-mistmere commented on #640
Thanks for the feedback, I've created a PR.

[2022-05-04 13:41] ericfennis commented on #651
Really like the `plug` design from @mittalyashu for this one. He posted this one discord.
![image](https://user-images.githubusercontent.com/11825403/166693465-08bb0451-ffb9-4935-8872-55d0d83d2be0.png)

[2022-05-04 13:54] outbackStack commented on #651
Thanks so much! They both look great! I guess we should stick with the square design to keep it consistent with our `plug-zap`?

<img width="276" alt="Screen Shot 2022-05-04 at 11 50 26 pm" src="https://user-images.githubusercontent.com/16639496/166695400-2fd9b4af-d3d7-48af-889e-88cdf4f2c21d.png">

[2022-05-04 13:56] karsa-mistmere commented on #651
Yeah, it would be nice to be consistent, but I think it needs extra visual weight, maybe?
![image](https://user-images.githubusercontent.com/17746067/166696296-26f294db-6f9c-4d38-9dc2-8a5d38e1c846.png)

[2022-05-04 14:18] outbackStack commented on #651
I like the second one at a 45deg angle @karsa-mistmere 👍

[2022-05-04 14:19] karsa-mistmere commented on #651
Also, I think `plug-zap` might need a bit of tweaking, I think the zap itself is pretty illegible on low dpi:
![plug](https://user-images.githubusercontent.com/17746067/166701058-36e4ec08-9155-4ed5-9de8-9ef8b4551fed.png)

[2022-05-05 07:02] karsa-mistmere commented on #651
Dunno... I've been doodling around, and I'm not quite sure what to think yet:
![image](https://user-images.githubusercontent.com/17746067/166875960-d2500389-4249-4ff5-b8c0-b9f577e653a7.png)
![plug](https://user-images.githubusercontent.com/17746067/166876007-8b278066-c72c-4f55-a473-96944b04ea80.png)

Column A is what we have right now (square for comparison only).
Column B is @mittalyashu's origin

[2022-05-05 07:06] WfKe9vLwSvv7rN commented on #638
@karsa-mistmere For now, while this issue is in flux, do you have any objection to the use of your new design? (In accordance with the [Lucide license](https://github.com/lucide-icons/lucide#license) or another license of your choosing)

[2022-05-05 07:33] karsa-mistmere commented on #638
Sure, go ahead, that's why I shared the source code. :)

[2022-05-05 11:01] outbackStack commented on #651
A challenge like working with icons in a small area is always fun, @karsa-mistmere 😀
Let's go with C2 and D1. This gives people a few options to choose from.

[2022-05-05 13:54] karsa-mistmere commented on #609
@ericfennis Come to think of it, `walking` should definitely also match [`bike`](https://lucide.dev/icon/bike), since they're likely to be used together.
![image](https://user-images.githubusercontent.com/17746067/166923920-46895428-e61e-4657-b46a-77defcc5a6e4.png)

Problem is, `bike` itself - neat as it is - breaks a handful of our current guidelines. 😅
I think the reality is, the body parts of t

[2022-05-05 18:56] it-is-not commented on #649
I like the prototypes a lot, but (just to suggest some more ideas to consider) I think maybe we could take everything from the modal and put it into a sidebar, and put everything in the sidebar above the icons. This would make it so you can browse icons and get the code at the same time, which is a bit similar to what what Material Icons does.
![image](https://user-images.githubusercontent.com/726

[2022-05-06 07:22] #611 closed

[2022-05-06 15:18] lscheibel commented on #650
@karsa-mistmere I agree with almost all of your points. Btw I just chose the shopping-cart as an example because it was right next to the bigger one, the issue can be seen in quite a few places.

It would be nice to know if anybody actually uses them with a 3px stroke-width especially considering, that a lot of icons were clipping at this size up until recently.

Yes I agree here basically a 100%,

[2022-05-06 15:48] karsa-mistmere commented on #650
@lscheibel: What I think is a pretty legit use case of a stroke width greater than 2px (it doesn't have to be 3px, anything greater than 2px will break) is using multiple sizes of icons while keeping the relative weights the same, e.g.:
![image](https://user-images.githubusercontent.com/17746067/167166877-b8b3c67f-f6c8-4f9e-a5ce-dd3bc9498541.png)
![image](https://user-images.githubusercontent.com/

[2022-05-06 16:03] karsa-mistmere commented on #650
Also: `image` actually _is_ still pixel perfect, the rendering issue you experience is unrelated to Lucide and is equally present in Feather:
![image](https://user-images.githubusercontent.com/17746067/167170068-67ac880a-a6d3-49bc-93c0-a277b5c8aaa1.png)

(left: Feather, right: Lucide)

[2022-05-06 17:54] lscheibel commented on #650
@karsa-mistmere Sorry my wording wasn't clear there: I meant the 3px stroke width not the icon itself, this effect can be seen in a lot of icons, everywhere two lines intersect/touch. My guess is that Chrome renders each SVG element and then simply adds each pixel layer on another.

Agreed, maintaining a consistent stroke width across different is a valid use-case but note that fonts also don't do

[2022-05-07 14:53] ericfennis commented on #529
@karsa-mistmere @delnyn I'm fine with both of them.
Maybe post a 100% of it, and also place it side by side with other icons. Can we compare and choose.

[2022-05-07 14:55] ericfennis commented on #597
@karsa-mistmere Yeah I know, I don't think it is really of a problem. I think it will work fine :)
What do you think crossed or side by side utensils?

[2022-05-07 15:19] ericfennis commented on #619
I think I like the 6th version but then with 2 dots instead of 4. I think 2 dots are more recognizable as a dice.

[2022-05-07 15:19] ericfennis commented on #619
I think I like the 6th version but then with 2 dots instead of 4. I think 2 dots are more recognizable as a dice.

[2022-05-07 15:26] ericfennis commented on #607
What do you think of this?
<img width="252" alt="image" src="https://user-images.githubusercontent.com/11825403/167260880-e2f7fb09-6d98-4544-a139-837d62aafc78.png">

[2022-05-07 15:34] ericfennis commented on #612
hmm okay, I see.
I little-bit doubting the use case of this icon. Looking at the original request the use case was for AI. I'm not sure if this will full-fill this use case with a brain icon. Is using a CPU icons not enough. 🤔

[2022-05-07 15:36] ericfennis commented on #610
I vote for the one without the wing 😛 . I think the left one looks a bit too dense.

[2022-05-07 16:04] karsa-mistmere commented on #607
Hm... Not sure, on 100% it looks really similar to `building-2`.

[2022-05-07 19:44] it-is-not commented on #649
@karsa-mistmere I like all of those ideas but I agree - the last one would probably be best (people are used to it anyway).

Also, I've had a few other ideas (some better than others):

- when the search doesn't have any results, maybe it could have a link to [the icon request page](https://github.com/lucide-icons/lucide/issues/new?assignees=&labels=%F0%9F%99%8C+icon+request&template=icon_request.

[2022-05-07 20:08] karsa-mistmere commented on #649
1. Love the empty search fallback idea
2. I actually had no idea shift click copied the icon.  We should probably add a help text stating this?
3. How about a context menu? Right click and a few preset options: copy name, copy svg, download, link to details page?
4. For sure, `currentColor` should definitely be thed efault.

[2022-05-09 08:48] ericfennis commented on #651
Can you maybe try make one little bit between `B` and `C` ?

[2022-05-09 09:05] karsa-mistmere opened #657 "Alternate style for user icons"
What do you think about adding an alternate user icon set?
I like the current one, but I think this rounded version would fit certain designs better and is a pretty conventional style:

![image](https://user-images.githubusercontent.com/17746067/167371222-99367a83-0c89-4750-a21c-1fe94c727179.png)
![user-alt](https://user-images.githubusercontent.com/17746067/167371234-3eb4bedf-5ac9-4ae4-9102-2b54e

[2022-05-09 09:35] karsa-mistmere commented on #651
@ericfennis: Sure!
![image](https://user-images.githubusercontent.com/17746067/167382827-dbaaf8b7-9f51-4f9a-b7da-e8fdf5b79372.png)

[2022-05-09 10:35] karsa-mistmere commented on #612
Yeah, brain is more generic, although I think a brain could work well for either a medical use case or for deep learning.

Here are a few extra drafts for the AI/deep learning use case:
![image](https://user-images.githubusercontent.com/17746067/167393154-ba945ea9-d0bb-4d98-b72b-b082d63551b5.png)
![brain n ai](https://user-images.githubusercontent.com/17746067/167393241-aebfefec-37a9-42fd-a15e-b7c

[2022-05-09 10:55] karsa-mistmere commented on #607
I have two alternate ideas:
![image](https://user-images.githubusercontent.com/17746067/167396136-571aeb57-9a7d-442f-9ca5-8a54e900c460.png)
![newspaper](https://user-images.githubusercontent.com/17746067/167396150-c95e6b64-6625-4ddc-ab4b-a166df987cf8.png)

I think the first one works pretty nice, the second is quite similar to Google's News icon.

[2022-05-09 11:45] karsa-mistmere commented on #529
![component](https://user-images.githubusercontent.com/17746067/167402556-368a319a-ee80-4b26-a5f4-dd71fbce92bb.png)

Here's the 100% view. Truth be told, I don't think either work amazingly well. 😅

[2022-05-09 11:56] karsa-mistmere commented on #597
@ericfennis: I think we could easily have both, so people can choose what better suits their use case.

[2022-05-09 12:40] ericfennis commented on #597
@karsa-mistmere yeah good idea! Let's add both.

[2022-05-09 15:54] karsa-mistmere commented on #529
Yeah, I guess so too, the blurriness is a bit uneven between inner and outer sides, but it's not that horrible (and definitely has a visual weight that's much more consistent with the other icons). PR coming up soon.

[2022-05-09 16:45] #604 closed

[2022-05-10 10:32] karsa-mistmere commented on #407
Totally just playing around here, but here's a small proof of concept of how I think multiple icon styles could be feasible while not having to create a filled/duotone version manually for every single icon using CSS classes: https://jsfiddle.net/cgd9a3h0/1/

[2022-05-10 11:27] prateekmedia commented on #407
@karsa-mistmere That was possible but please read the title of the issue, this is regarding flutter/non-web platform where we can't just use css rules.

[2022-05-10 11:32] lkj4 opened #659 "How can I use "rem" as size unit?"
Neither a bug nor an icon request. I'd like to use `rem` instead of pixel to size the icons. Reason: They scale when changing the html's `font-size` in contrast to a pixel unit. Is there a way I might have missed? I am using the Svelte package, fwiw.